In [1]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px
import math
import json
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
from IPython.display import Image
import seaborn as sns
# import missingno as msnco

In [2]:
import warnings

# 경고 메시지를 무시하고 숨기거나
warnings.filterwarnings(action='ignore')

In [3]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sample_df = pd.read_csv('sample_submission.csv')

In [8]:
len(train_df['Origin_Airport'].unique())

374

In [9]:
len(train_df['Destination_Airport'].unique())

375

In [4]:
test_df.isna().sum()

ID                               0
Month                            0
Day_of_Month                     0
Estimated_Departure_Time    108984
Estimated_Arrival_Time      109048
Cancelled                        0
Diverted                         0
Origin_Airport                   0
Origin_Airport_ID                0
Origin_State                106505
Destination_Airport              0
Destination_Airport_ID           0
Destination_State           106523
Distance                         0
Airline                     106527
Carrier_Code(IATA)          108993
Carrier_ID(DOT)             109006
Tail_Number                      0
dtype: int64

In [5]:
train_df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN

In [6]:
state_list = train_df['Origin_State'].unique().tolist()

In [7]:
#출발 a. 도착 a일수가이ㅏㅆ을까 --> 같을 수 있음
train_df[train_df['Origin_State']==train_df['Destination_State']]

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN
35,TRAIN_000035,12,22,630.0,810.0,0,0,SFO,14771,California,SNA,14908,California,372.0,Horizon Air,AS,19687.0,N650QX,NaN
43,TRAIN_000043,9,30,1325.0,1506.0,0,0,SAN,14679,California,SFO,14771,California,447.0,United Air Lines Inc.,UA,NaN,N471UA,Not_Delayed
63,TRAIN_000063,12,28,1820.0,1925.0,0,0,OAK,13796,California,BUR,10800,California,325.0,Southwest Airlines Co.,WN,19393.0,N777QC,Not_Delayed
64,TRAIN_000064,9,15,1918.0,2040.0,0,0,OAJ,13795,North Carolina,CLT,11057,North Carolina,191.0,Comair Inc.,AA,20397.0,N244PS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999935,TRAIN_999935,7,7,650.0,755.0,0,0,SJC,14831,California,BUR,10800,California,296.0,Southwest Airlines Co.,WN,19393.0,N7865A,NaN
999940,TRAIN_999940,4,17,717.0,804.0,0,0,KOA,12758,Hawaii,HNL,12173,Hawaii,163.0,Hawaiian Airlines Inc.,HA,19690.0,N477HA,Not_Delayed
999942,TRAIN_999942,7,15,1950.0,2220.0,0,0,ELP,11540,Texas,SAT,14683,Texas,496.0,Southwest Airlines Co.,WN,19393.0,N7741C,NaN
999969,TRAIN_999969,10,10,940.0,1056.0,0,0,MFE,13256,Texas,IAH,12266,Texas,316.0,Mesa Airlines Inc.,NaN,20378.0,N89321,Delayed
999974,TRAIN_999974,4,4,NaN,859.0,0,0,SFO,14771,California,LAX,12892,California,337.0,Delta Air Lines Inc.,DL,19790.0,N3768,NaN

In [8]:
# 그렇다면 for o in state_list / for d in state_list  라고 하면 
# 출발주 o 도착주d 인  경우를 출력해서 
#

In [ ]:
# time_delay를 통해 time_diff를 계산하기 위해  먼저 time_diff 컬럼 생성 
df['time_diff'] = np.nan


# 구한 시차를 df에 time_diff 컬럼에 넣어주기 
for i in range(len(df)):   
    if (df['Origin_State'].iloc[i],df['Destination_State'].iloc[i]) in time_delay.keys() :
        df['time_diff'].iloc[i] = time_delay[df['Origin_State'].iloc[i],df['Destination_State'].iloc[i]]
    else : 
        df['time_diff'].iloc[i] == 'time'

In [ ]:
for i in state_list:
    for j in state_list:
        if df[train_df['Origin_State']==i] and

In [ ]:
#도착시간이 출발시간보다 커야함. 출발A 도착B. 
if train_df['Origin_State']==a and train_df['Destination_State']==b : #a와 b는 state_list 안의 원소

In [ ]:
if train_df['Origin_State']=='California' and train_df['Destination_State']=='California': #a와 b는 state_list 안의 원소
    train

In [ ]:
def find_time_lag(train_df, state):
    OA = train_df[train_df['Origin_State'] == state]
    predict_st = OA.Destination_State.unique().tolist()
    DA = train_df[train_df['Destination_State'] == state]
    time_delay_dict = {}
    for st in predict_st:
        st_oa = OA[OA['Destination_State'] == st]
        st_oa_diff = st_oa.Estimated_Arrival_Time.mean() - st_oa.Estimated_Departure_Time.mean()
        st_da = DA[DA['Origin_State'] == st]
        st_da_diff = st_da.Estimated_Arrival_Time.mean() - st_da.Estimated_Departure_Time.mean()
        time_delay = st_da_diff - st_oa_diff
        if not np.isnan(time_delay):
            time_delay_dict[state, st] = -round(time_delay/2/60)
    
    return time_delay_dict

time_delay = dict()
for i in train_df['Origin_State'].unique().tolist():
    time_delay.update(find_time_lag(train_df, i))
    
print(time_delay)

In [ ]:
def time_diff(train_df, state):
    OA = train_df[train_df['Origin_State'] == state]
    destination_list = OA.Destination_State.unique().tolist()
    time_diff_dict = {}

    for d in destination_list:
        st_oa = OA[OA['Destination_State']==d]
        time_diff_dict[state,d] =

In [35]:
OA = train_df[train_df['Origin_State'] == 'California']
destination_list = OA.Destination_State.unique().tolist()
time_diff_dict = {}
distance_dict = {}
for i in destination_list:
    st_oa = OA[OA['Destination_State']==i]
    time_diff_dict['California',i] = (st_oa['Estimated_Arrival_Time']-st_oa['Estimated_Departure_Time']).mean()
    distance_dict['California',i] = st_oa['Distance'].mean()

In [22]:
#출발 state, 도착 d일 때 두 시간의 차이를 time_diff_dict에 넣고, 두 state의 거리의 평균을 distance_mean_dict에 넣기 
def time_diff(train_df, state):
    OA = train_df[train_df['Origin_State']==state]
    destination_list = OA.Destination_State.unique().tolist()
    time_diff_dict = {}
    distance_mean_dict = {}
    for d in destination_list:
        st_oa = OA[OA['Destination_State']==d]
        time_diff_dict[state,d] = (st_oa['Estimated_Arrival_Time'] - st_oa['Estimated_Departure_Time']).mean
        distance_mean_dict[state,d] = st_oa['Distance'].mean()
    
    return time_diff_dict, distance_mean_dict

In [ ]:
time_diff ={}
distance_mean ={}
for i in state_list:
    time_diff.update(find_time_lag(train_df, i))
    distance_mean.update(fi)

In [32]:
time_diff_dict = {}
distance_mean_dict = {}
def time_diff(train_df, state):
    OA = train_df[train_df['Origin_State']==state]
    destination_list = OA.Destination_State.unique().tolist()
#     time_diff_dict = {}
#     distance_mean_dict = {}
    for d in destination_list:
        st_oa = OA[OA['Destination_State']==d]
        time_diff_dict[state,d] = (st_oa['Estimated_Arrival_Time'] - st_oa['Estimated_Departure_Time']).mean
        distance_mean_dict[state,d] = st_oa['Distance'].mean()
    
    return time_diff_dict #distance_mean_dict

In [28]:
time_diff_dict = {}
distance_mean_dict = {}
for i in state_list :
    time_diff(train_df, i)

In [33]:
time_diff_dict = {}
distance_mean_dict = {}

In [ ]:
#출발 a, 도착 b

In [55]:
time_diff_dict = {}
distance_mean_dict = {}
def time_diff(train_df, state):
    OA = train_df[train_df['Origin_State']==state]
    destination_list = OA.Destination_State.unique().tolist()
#     time_diff_dict = {}
#     distance_mean_dict = {}
    for d in destination_list:
        st_oa = OA[OA['Destination_State']==d]
        time_diff = (st_oa['Estimated_Arrival_Time'] - st_oa['Estimated_Departure_Time']).mean()
        time_diff_dict[state,d] = (time_diff)
        distance_mean_dict[state,d] = st_oa['Distance'].mean()
    
    return time_diff_dict, distance_mean_dict

In [53]:
df = train_df[train_df['Estimated_Arrival_Time']>train_df['Estimated_Departure_Time']]
df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN
6,TRAIN_000006,1,20,1742.0,1903.0,0,0,EWR,11618,New Jersey,BOS,10721,Massachusetts,200.0,United Air Lines Inc.,UA,NaN,N66825,Not_Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN

In [56]:
time_diff(df, 'California')

{('California', 'New Jersey'): 834.9496788008565,
 ('California', 'California'): 135.90967370756965,
 ('California', 'Utah'): 282.1205533596838,
 ('California', nan): nan,
 ('California', 'Missouri'): 550.367231638418,
 ('California', 'Oregon'): 196.42008395221183,
 ('California', 'Arizona'): 190.88584474885846,
 ('California', 'Indiana'): 717.828125,
 ('California', 'New Mexico'): 302.20302375809933,
 ('California', 'Hawaii'): 310.53544620517096,
 ('California', 'Texas'): 515.201308411215,
 ('California', 'Nevada'): 129.29365079365078,
 ('California', 'Florida'): 803.2478314745973,
 ('California', 'Illinois'): 610.0054995417048,
 ('California', 'Tennessee'): 607.9586563307494,
 ('California', 'Washington'): 245.6105748135147,
 ('California', 'Kentucky'): 729.4772727272727,
 ('California', 'Minnesota'): 560.8126984126984,
 ('California', 'Colorado'): 339.4112295295035,
 ('California', 'Massachusetts'): 856.545038167939,
 ('California', 'New York'): 849.4690415606447,
 ('California', 'Georgia'): 740.4856535600425,
 ('California', 'Ohio'): 752.109243697479,
 ('California', 'Alaska'): 402.08,
 ('California', 'Louisiana'): 579.2351097178683,
 ('California', 'Pennsylvania'): 812.9652777777778,
 ('California', 'Virginia'): 796.1342812006319,
 ('California', 'Michigan'): 750.8636363636364,
 ('California', 'Idaho'): 282.0671936758893,
 ('California', 'Wyoming'): 328.9761904761905,
 ('California', 'North Carolina'): 789.5,
 ('California', 'Arkansas'): 543.3285714285714,
 ('California', 'Oklahoma'): 504.22131147540983,
 ('California', 'Maryland'): 803.1253405994551,
 ('California', 'Wisconsin'): 602.1084337349398,
 ('California', 'Nebraska'): 535.956834532374,
 ('California', 'Montana'): 348.5163934426229,
 ('California', 'South Carolina'): 779.0,
 ('California', 'Iowa'): 559.8,
 ('California', 'Kansas'): 468.0,
 ('California', 'South Dakota'): 507.0}

In [57]:
state_list = train_df['Origin_State'].unique().tolist()

In [58]:
for i in state_list:
    time_diff(df, i)

In [59]:
time_diff_dict

{('California', 'New Jersey'): 834.9496788008565,
 ('California', 'California'): 135.90967370756965,
 ('California', 'Utah'): 282.1205533596838,
 ('California', nan): nan,
 ('California', 'Missouri'): 550.367231638418,
 ('California', 'Oregon'): 196.42008395221183,
 ('California', 'Arizona'): 190.88584474885846,
 ('California', 'Indiana'): 717.828125,
 ('California', 'New Mexico'): 302.20302375809933,
 ('California', 'Hawaii'): 310.53544620517096,
 ('California', 'Texas'): 515.201308411215,
 ('California', 'Nevada'): 129.29365079365078,
 ('California', 'Florida'): 803.2478314745973,
 ('California', 'Illinois'): 610.0054995417048,
 ('California', 'Tennessee'): 607.9586563307494,
 ('California', 'Washington'): 245.6105748135147,
 ('California', 'Kentucky'): 729.4772727272727,
 ('California', 'Minnesota'): 560.8126984126984,
 ('California', 'Colorado'): 339.4112295295035,
 ('California', 'Massachusetts'): 856.545038167939,
 ('California', 'New York'): 849.4690415606447,
 ('California', 'Georgia'): 740.4856535600425,
 ('California', 'Ohio'): 752.109243697479,
 ('California', 'Alaska'): 402.08,
 ('California', 'Louisiana'): 579.2351097178683,
 ('California', 'Pennsylvania'): 812.9652777777778,
 ('California', 'Virginia'): 796.1342812006319,
 ('California', 'Michigan'): 750.8636363636364,
 ('California', 'Idaho'): 282.0671936758893,
 ('California', 'Wyoming'): 328.9761904761905,
 ('California', 'North Carolina'): 789.5,
 ('California', 'Arkansas'): 543.3285714285714,
 ('California', 'Oklahoma'): 504.22131147540983,
 ('California', 'Maryland'): 803.1253405994551,
 ('California', 'Wisconsin'): 602.1084337349398,
 ('California', 'Nebraska'): 535.956834532374,
 ('California', 'Montana'): 348.5163934426229,
 ('California', 'South Carolina'): 779.0,
 ('California', 'Iowa'): 559.8,
 ('California', 'Kansas'): 468.0,
 ('California', 'South Dakota'): 507.0,
 ('Oklahoma', 'Texas'): 130.94105409153954,
 ('Oklahoma', 'Colorado'): 75.51356589147287,
 ('Oklahoma', nan): nan,
 ('Oklahoma', 'Georgia'): 296.15021459227466,
 ('Oklahoma', 'Illinois'): 206.05176470588236,
 ('Oklahoma', 'New Jersey'): 418.61538461538464,
 ('Oklahoma', 'California'): 148.82222222222222,
 ('Oklahoma', 'Virginia'): 370.11267605633805,
 ('Oklahoma', 'Florida'): 324.61224489795916,
 ('Oklahoma', 'Missouri'): 129.19354838709677,
 ('Oklahoma', 'North Carolina'): 357.2282608695652,
 ('Oklahoma', 'Minnesota'): 213.625,
 ('Oklahoma', 'Arizona'): 83.3558282208589,
 ('Oklahoma', 'Utah'): 173.31460674157304,
 ('Oklahoma', 'Nevada'): 74.14685314685315,
 ('Oklahoma', 'Maryland'): 372.1333333333333,
 ('Oklahoma', 'Michigan'): 353.1081081081081,
 ('Oklahoma', 'Pennsylvania'): 419.71875,
 ('Oklahoma', 'Washington'): 221.1851851851852,
 ('Oklahoma', 'Tennessee'): 140.0,
 ('Illinois', 'Utah'): 261.23646723646726,
 ('Illinois', 'Missouri'): 141.63670647391578,
 ('Illinois', 'Kentucky'): 226.67241379310346,
 ('Illinois', 'Tennessee'): 186.32097725358045,
 ('Illinois', 'Ohio'): 228.22674060382008,
 ('Illinois', 'Minnesota'): 150.54163231657049,
 ('Illinois', 'West Virginia'): 261.18055555555554,
 ('Illinois', 'Michigan'): 215.28782112274024,
 ('Illinois', 'New York'): 299.61032028469754,
 ('Illinois', 'Texas'): 258.08085664335664,
 ('Illinois', 'Indiana'): 191.21572580645162,
 ('Illinois', 'Illinois'): 104.26867717614805,
 ('Illinois', 'Pennsylvania'): 274.34645161290325,
 ('Illinois', 'North Carolina'): 297.34464285714284,
 ('Illinois', 'Virginia'): 284.35030303030305,
 ('Illinois', 'Florida'): 367.3177321156773,
 ('Illinois', nan): nan,
 ('Illinois', 'Nevada'): 192.83226632522408,
 ('Illinois', 'South Dakota'): 175.14022140221402,
 ('Illinois', 'Maine'): 337.87412587412587,
 ('Illinois', 'Louisiana'): 232.14705882352942,
 ('Illinois', 'Georgia'): 297.03492063492064,
 ('Illinois', 'California'): 252.0162980209546,
 ('Illinois', 'Wisconsin'): 100.28231292517007,
 ('Illinois', 'Alabama'): 188.30239520958085,
 ('Illinois', 'Arkansas'): 190.09947643979058,
 ('Illinois', 'South Carolina'): 305.1688888888889,
 ('Illinois', 'Arizona'): 209.85065710872163,
 ('Illinois', 'Nebraska'): 158.228624535316,
 ('Illinois', 'Iowa'): 126.66840731070496,
 ('Illinois', 'New Mexico'): 213.08805031446542,
 ('Illinois', 'Colorado'): 170.77304347826086,
 ('Illinois', 'Massachusetts'): 332.63351498637604,
 ('Illinois', 'Connecticut'): 309.72265625,
 ('Illinois', 'Rhode Island'): 330.9100529100529,
 ('Illinois', 'Maryland'): 281.5744680851064,
 ('Illinois', 'Kansas'): 199.05797101449275,
 ('Illinois', 'Mississippi'): 211.125,
 ('Illinois', 'Oklahoma'): 218.435960591133,
 ('Illinois', 'Washington'): 252.2056856187291,
 ('Illinois', 'New Jersey'): 313.1034482758621,
 ('Illinois', 'New Hampshire'): 324.34831460674155,
 ('Illinois', 'Alaska'): 372.7413793103448,
 ('Illinois', 'Vermont'): 316.7080291970803,
 ('Illinois', 'Oregon'): 250.12328767123287,
 ('Illinois', 'North Dakota'): 209.98760330578511,
 ('Illinois', 'Montana'): 244.92372881355934,
 ('Illinois', 'Puerto Rico'): 617.3513513513514,
 ('Illinois', 'Wyoming'): 207.63333333333333,
 ('Illinois', 'Idaho'): 306.4673913043478,
 ('Illinois', 'Hawaii'): 457.9117647058824,
 ('Illinois', 'U.S. Virgin Islands'): 679.0,
 ('North Carolina', 'New York'): 183.98397790055247,
 ('North Carolina', 'Kentucky'): 145.82674199623352,
 ('North Carolina', 'Washington'): 285.5593220338983,
 ('North Carolina', 'North Carolina'): 108.09127625201938,
 ('North Carolina', 'Connecticut'): 193.40495867768595,
 ('North Carolina', 'Colorado'): 179.9027027027027,
 ('North Carolina', 'Arkansas'): 124.94117647058823,
 ('North Carolina', 'Maryland'): 132.8703071672355,
 ('North Carolina', nan): nan,
 ('North Carolina', 'Tennessee'): 84.9966960352423,
 ('North Carolina', 'Utah'): 261.609375,
 ('North Carolina', 'Massachusetts'): 206.85042016806722,
 ('North Carolina', 'Michigan'): 181.69347826086957,
 ('North Carolina', 'New Jersey'): 179.25299890948745,
 ('North Carolina', 'Mississippi'): 88.05,
 ('North Carolina', 'Texas'): 189.52253756260433,
 ('North Carolina', 'Florida'): 169.71215351812367,
 ('North Carolina', 'Virginia'): 123.38057620817844,
 ('North Carolina', 'Minnesota'): 182.19650655021834,
 ('North Carolina', 'Georgia'): 136.1292861157954,
 ('North Carolina', 'Illinois'): 121.45468998410175,
 ('North Carolina', 'Alabama'): 58.0953488372093,
 ('North Carolina', 'Missouri'): 125.14553990610328,
 ('North Carolina', 'Pennsylvania'): 159.12279069767442,
 ('North Carolina', 'Maine'): 230.82608695652175,
 ('North Carolina', 'Ohio'): 152.56031746031746,
 ('North Carolina', 'South Carolina'): 95.94748858447488,
 ('North Carolina', 'West Virginia'): 115.66480446927375,
 ('North Carolina', 'Rhode Island'): 200.04347826086956,
 ('North Carolina', 'Iowa'): 152.94495412844037,
 ('North Carolina', 'Indiana'): 163.59467455621302,
 ('North Carolina', 'Louisiana'): 117.38666666666667,
 ('North Carolina', 'New Hampshire'): 220.92134831460675,
 ('North Carolina', 'Puerto Rico'): 401.62068965517244,
 ('North Carolina', 'Nevada'): 187.6,
 ('North Carolina', 'Oklahoma'): 176.6782608695652,
 ('North Carolina', 'California'): 248.74480151228732,
 ('North Carolina', 'Arizona'): 193.66824644549763,
 ('North Carolina', 'Wisconsin'): 115.77142857142857,
 ('North Carolina', 'Nebraska'): 188.30434782608697,
 ('North Carolina', 'Oregon'): 254.24,
 ('North Carolina', 'U.S. Virgin Islands'): 425.42857142857144,
 ('North Carolina', 'Vermont'): 218.5,
 ('North Carolina', 'South Dakota'): 143.0,
 ('New Jersey', 'Massachusetts'): 120.92819614711033,
 ('New Jersey', 'Florida'): 288.8281535648994,
 ('New Jersey', 'California'): 315.7345132743363,
 ('New Jersey', 'Nebraska'): 234.0487804878049,
 ('New Jersey', 'Pennsylvania'): 142.18478260869566,
 ('New Jersey', 'Michigan'): 202.52818371607515,
 ('New Jersey', 'North Carolina'): 184.70224119530417,
 ('New Jersey', 'Missouri'): 191.51623376623377,
 ('New Jersey', 'Kentucky'): 223.4398976982097,
 ('New Jersey', 'Minnesota'): 212.94059405940595,
 ('New Jersey', 'Texas'): 288.72943980929676,
 ('New Jersey', 'Utah'): 332.1034482758621,
 ('New Jersey', 'Georgia'): 237.16448326055314,
 ('New Jersey', 'Illinois'): 149.19225037257823,
 ('New Jersey', nan): nan,
 ('New Jersey', 'Tennessee'): 179.77011494252875,
 ('New Jersey', 'Indiana'): 232.5433962264151,
 ('New Jersey', 'Colorado'): 235.6156351791531,
 ('New Jersey', 'South Carolina'): 200.94490358126723,
 ('New Jersey', 'Wyoming'): 313.0,
 ('New Jersey', 'Maine'): 152.24232081911262,
 ('New Jersey', 'New York'): 138.91880920162382,
 ('New Jersey', 'Virginia'): 142.66414141414143,
 ('New Jersey', 'Washington'): 316.9779005524862,
 ('New Jersey', 'Ohio'): 176.94107452339688,
 ('New Jersey', 'Nevada'): 252.69372693726936,
 ('New Jersey', 'Wisconsin'): 167.94350282485877,
 ('New Jersey', 'New Hampshire'): 129.71428571428572,
 ('New Jersey', 'Arizona'): 289.3302752293578,
 ('New Jersey', 'Rhode Island'): 113.47524752475248,
 ('New Jersey', 'Louisiana'): 227.1058201058201,
 ('New Jersey', 'Oregon'): 316.91011235955057,
 ('New Jersey', 'Vermont'): 140.4087591240876,
 ('New Jersey', 'Connecticut'): 115.09433962264151,
 ('New Jersey', 'Montana'): 298.1666666666667,
 ('New Jersey', 'Maryland'): 134.01538461538462,
 ('New Jersey', 'Puerto Rico'): 426.1923076923077,
 ('New Jersey', 'U.S. Virgin Islands'): 475.0,
 ('New Jersey', 'Arkansas'): 246.8108108108108,
 ('New Jersey', 'Iowa'): 218.25,
 ('New Jersey', 'South Dakota'): 208.0,
 ('New Jersey', 'Oklahoma'): 271.69444444444446,
 ('New Jersey', 'Hawaii'): 554.5,
 ('New Jersey', 'Alaska'): 392.0,
 ('Arkansas', 'Texas'): 134.97068403908796,
 ('Arkansas', 'Virginia'): 340.7692307692308,
 ('Arkansas', 'North Carolina'): 315.57894736842104,
 ('Arkansas', 'Florida'): 285.2307692307692,
 ('Arkansas', nan): nan,
 ('Arkansas', 'Minnesota'): 199.46153846153845,
 ('Arkansas', 'Georgia'): 266.64864864864865,
 ('Arkansas', 'Colorado'): 132.78125,
 ('Arkansas', 'Illinois'): 190.66365688487585,
 ('Arkansas', 'Missouri'): 109.28571428571429,
 ('Arkansas', 'Nevada'): 126.63636363636364,
 ('Arkansas', 'California'): 175.96875,
 ('Arkansas', 'Pennsylvania'): 389.57142857142856,
 ('Arkansas', 'New York'): 400.93220338983053,
 ('Arkansas', 'Arizona'): 145.78787878787878,
 ('Arkansas', 'Michigan'): 306.6875,
 ('Arkansas', 'New Jersey'): 399.7037037037037,
 ('Arkansas', 'Tennessee'): 119.0,
 ('Arkansas', 'Kentucky'): 242.0,
 ('Virginia', 'Pennsylvania'): 110.01108870967742,
 ('Virginia', 'Massachusetts'): 155.48334919124642,
 ('Virginia', 'Florida'): 241.00714604734256,
 ('Virginia', 'New York'): 138.8512396694215,
 ('Virginia', 'Virginia'): 97.5,
 ('Virginia', nan): nan,
 ('Virginia', 'Minnesota'): 173.24213836477986,
 ('Virginia', 'Colorado'): 195.58131487889273,
 ('Virginia', 'Indiana'): 177.28181818181818,
 ('Virginia', 'Georgia'): 181.50113378684807,
 ('Virginia', 'West Virginia'): 116.43307086614173,
 ('Virginia', 'Illinois'): 119.4769322947873,
 ('Virginia', 'North Carolina'): 142.53564356435643,
 ('Virginia', 'Missouri'): 152.61349693251535,
 ('Virginia', 'Maine'): 161.4569288389513,
 ('Virginia', 'Nevada'): 216.39655172413794,
 ('Virginia', 'Texas'): 245.75978037062458,
 ('Virginia', 'Washington'): 291.0199004975124,
 ('Virginia', 'New Jersey'): 147.80759493670885,
 ('Virginia', 'Ohio'): 140.01639344262296,
 ('Virginia', 'California'): 278.54710556186154,
 ('Virginia', 'New Hampshire'): 143.3763440860215,
 ('Virginia', 'South Carolina'): 160.95716639209226,
 ('Virginia', 'Connecticut'): 128.74454828660436,
 ('Virginia', 'Alabama'): 115.30882352941177,
 ('Virginia', 'Tennessee'): 124.88907284768212,
 ('Virginia', 'Iowa'): 157.4516129032258,
 ('Virginia', 'Kentucky'): 165.2305882352941,
 ('Virginia', 'Rhode Island'): 140.7515923566879,
 ('Virginia', 'Utah'): 279.5869565217391,
 ('Virginia', 'Michigan'): 168.6966618287373,
 ('Virginia', 'Vermont'): 149.53142857142856,
 ('Virginia', 'Arkansas'): 173.2,
 ('Virginia', 'Maryland'): 96.8092105263158,
 ('Virginia', 'Oklahoma'): 221.93589743589743,
 ('Virginia', 'Oregon'): 277.2173913043478,
 ('Virginia', 'Louisiana'): 178.9547511312217,
 ('Virginia', 'Wisconsin'): 115.94666666666667,
 ('Virginia', 'Arizona'): 237.60824742268042,
 ('Virginia', 'Mississippi'): 158.92307692307693,
 ('Virginia', 'Puerto Rico'): 402.9056603773585,
 ('Virginia', 'Nebraska'): 191.12727272727273,
 ('Virginia', 'Hawaii'): 464.77272727272725,
 ('Virginia', 'U.S. Virgin Islands'): 430.90909090909093,
 ('Pennsylvania', 'Michigan'): 165.52292263610315,
 ('Pennsylvania', 'New York'): 136.03868797308664,
 ('Pennsylvania', 'Nevada'): 223.87562189054725,
 ('Pennsylvania', 'California'): 294.0995024875622,
 ('Pennsylvania', 'Florida'): 260.5782250686185,
 ('Pennsylvania', 'Maine'): 164.41666666666666,
 ('Pennsylvania', 'North Carolina'): 174.60469483568076,
 ('Pennsylvania', 'Pennsylvania'): 105.10652591170826,
 ('Pennsylvania', 'Illinois'): 106.06190172303765,
 ('Pennsylvania', 'Georgia'): 207.85729967069156,
 ('Pennsylvania', 'South Carolina'): 179.56545961002786,
 ('Pennsylvania', nan): nan,
 ('Pennsylvania', 'Wisconsin'): 131.25,
 ('Pennsylvania', 'Texas'): 250.49784482758622,
 ('Pennsylvania', 'New Jersey'): 146.65934065934067,
 ('Pennsylvania', 'Minnesota'): 172.9375,
 ('Pennsylvania', 'Virginia'): 112.98653846153846,
 ('Pennsylvania', 'Massachusetts'): 150.1109785202864,
 ('Pennsylvania', 'New Hampshire'): 137.35042735042734,
 ('Pennsylvania', 'Maryland'): 103.50638297872341,
 ('Pennsylvania', 'Connecticut'): 121.26373626373626,
 ('Pennsylvania', 'Colorado'): 199.87683284457478,
 ('Pennsylvania', 'Missouri'): 156.3111111111111,
 ('Pennsylvania', 'Kentucky'): 196.656462585034,
 ('Pennsylvania', 'Ohio'): 167.38753387533876,
 ('Pennsylvania', 'Tennessee'): 133.5012285012285,
 ('Pennsylvania', 'Arizona'): 249.50731707317073,
 ('Pennsylvania', 'Oklahoma'): 247.390243902439,
 ('Pennsylvania', 'Iowa'): 204.02439024390245,
 ('Pennsylvania', 'Vermont'): 144.7311827956989,
 ('Pennsylvania', 'U.S. Virgin Islands'): 426.0,
 ('Pennsylvania', 'West Virginia'): 134.44,
 ('Pennsylvania', 'Indiana'): 204.83625730994152,
 ('Pennsylvania', 'Utah'): 287.02222222222224,
 ('Pennsylvania', 'Washington'): 286.58947368421053,
 ('Pennsylvania', 'Nebraska'): 223.71428571428572,
 ('Pennsylvania', 'Rhode Island'): 125.65573770491804,
 ('Pennsylvania', 'Louisiana'): 205.8780487804878,
 ('Pennsylvania', 'Alabama'): 146.50980392156862,
 ('Pennsylvania', 'Puerto Rico'): 446.9019607843137,
 ('Pennsylvania', 'Oregon'): 299.25,
 ('Pennsylvania', 'Arkansas'): 215.5,
 ('Ohio', 'Colorado'): 131.4398826979472,
 ('Ohio', 'Illinois'): 42.93939393939394,
 ('Ohio', 'Michigan'): 109.58789625360231,
 ('Ohio', 'Georgia'): 171.34652114597543,
 ('Ohio', 'Nevada'): 152.40776699029126,
 ('Ohio', 'Wisconsin'): 38.88607594936709,
 ('Ohio', 'Pennsylvania'): 156.24778761061947,
 ('Ohio', 'Maryland'): 125.18867924528301,
 ('Ohio', 'Minnesota'): 111.1328125,
 ('Ohio', 'Virginia'): 134.442663378545,
 ('Ohio', 'California'): 216.25806451612902,
 ('Ohio', 'New York'): 174.85912240184757,
 ('Ohio', 'Texas'): 189.02058823529413,
 ('Ohio', 'Florida'): 250.7433155080214,
 ('Ohio', 'New Jersey'): 172.30167597765364,
 ('Ohio', nan): nan,
 ('Ohio', 'North Carolina'): 162.69470404984423,
 ('Ohio', 'Louisiana'): 134.175,
 ('Ohio', 'Massachusetts'): 180.86918604651163,
 ('Ohio', 'Arizona'): 174.31506849315068,
 ('Ohio', 'South Carolina'): 150.83870967741936,
 ('Ohio', 'Missouri'): 47.604166666666664,
 ('Ohio', 'Connecticut'): 155.9375,
 ('Ohio', 'Tennessee'): 47.830882352941174,
 ('Ohio', 'Washington'): 207.86666666666667,
 ('Ohio', 'Oregon'): 200.33333333333334,
 ('Ohio', 'Utah'): 217.66666666666666,
 ('Texas', 'Colorado'): 129.0239561943874,
 ('Texas', 'Oklahoma'): 126.59106529209622,
 ('Texas', 'California'): 154.79855247285886,
 ('Texas', nan): nan,
 ('Texas', 'Tennessee'): 197.18911917098447,
 ('Texas', 'Pennsylvania'): 408.9719953325554,
 ('Texas', 'Texas'): 121.13814394411875,
 ('Texas', 'Alabama'): 169.8095238095238,
 ('Texas', 'Nebraska'): 200.8754098360656,
 ('Texas', 'Arizona'): 92.28834033613445,
 ('Texas', 'North Carolina'): 358.93397745571656,
 ('Texas', 'Maryland'): 401.17534722222223,
 ('Texas', 'Washington'): 250.10230179028133,
 ('Texas', 'Florida'): 315.4374853389632,
 ('Texas', 'Michigan'): 374.2348224513173,
 ('Texas', 'Illinois'): 252.1492669924478,
 ('Texas', 'Virginia'): 393.4343365253078,
 ('Texas', 'Oregon'): 229.9485294117647,
 ('Texas', 'Utah'): 203.56534954407294,
 ('Texas', 'Nevada'): 99.91559633027524,
 ('Texas', 'New Mexico'): 94.62718204488777,
 ('Texas', 'New York'): 447.9789612097304,
 ('Texas', 'Louisiana'): 120.48968029138001,
 ('Texas', 'Missouri'): 173.38512297540493,
 ('Texas', 'Minnesota'): 265.9398395721925,
 ('Texas', 'Arkansas'): 128.8834422657952,
 ('Texas', 'Georgia'): 316.88801054018444,
 ('Texas', 'Massachusetts'): 474.0849557522124,
 ('Texas', 'Kentucky'): 328.6357142857143,
 ('Texas', 'Ohio'): 360.57853810264385,
 ('Texas', 'Mississippi'): 134.44662309368192,
 ('Texas', 'South Dakota'): 180.4387755102041,
 ('Texas', 'New Jersey'): 450.05651105651106,
 ('Texas', 'Hawaii'): 372.5072463768116,
 ('Texas', 'South Carolina'): 339.0078947368421,
 ('Texas', 'Montana'): 244.05494505494505,
 ('Texas', 'Wisconsin'): 240.47445255474452,
 ('Texas', 'Indiana'): 313.87699316628704,
 ('Texas', 'Wyoming'): 181.4516129032258,
 ('Texas', 'Kansas'): 155.64207650273224,
 ('Texas', 'North Dakota'): 266.63953488372096,
 ('Texas', 'Iowa'): 206.68650793650792,
 ('Texas', 'Puerto Rico'): 580.6781609195402,
 ('Texas', 'U.S. Virgin Islands'): 585.0,
 ('Texas', 'Connecticut'): 461.68,
 ('Texas', 'West Virginia'): 349.0,
 ('Texas', 'Idaho'): 273.43617021276594,
 ('Texas', 'Alaska'): 401.92857142857144,
 ('Texas', 'Rhode Island'): 498.0,
 ('Arizona', 'Nevada'): 99.53398058252426,
 ('Arizona', 'Washington'): 269.3369565217391,
 ('Arizona', 'Texas'): 370.1436965811966,
 ('Arizona', 'Pennsylvania'): 692.1784037558685,
 ('Arizona', 'California'): 125.26760563380282,
 ('Arizona', 'Colorado'): 240.19670631290026,
 ('Arizona', nan): nan,
 ('Arizona', 'Illinois'): 500.9876203576341,
 ('Arizona', 'Arizona'): 89.43014128728414,
 ('Arizona', 'North Carolina'): 657.7978142076503,
 ('Arizona', 'Oklahoma'): 381.0843373493976,
 ('Arizona', 'Oregon'): 234.2874251497006,
 ('Arizona', 'Kentucky'): 613.1232876712329,
 ('Arizona', 'Tennessee'): 484.0530303030303,
 ('Arizona', 'Utah'): 219.7560975609756,
 ('Arizona', 'Missouri'): 431.8262195121951,
 ('Arizona', 'Iowa'): 446.11607142857144,
 ('Arizona', 'New York'): 722.9066666666666,
 ('Arizona', 'New Jersey'): 743.1705882352941,
 ('Arizona', 'Minnesota'): 464.9527027027027,
 ('Arizona', 'Idaho'): 271.74782608695654,
 ('Arizona', 'Ohio'): 647.1914893617021,
 ('Arizona', 'Georgia'): 611.0964285714285,
 ('Arizona', 'Nebraska'): 402.03921568627453,
 ('Arizona', 'North Dakota'): 438.86206896551727,
 ('Arizona', 'Massachusetts'): 743.0461538461539,
 ('Arizona', 'Montana'): 300.0,
 ('Arizona', 'Florida'): 675.6289752650176,
 ('Arizona', 'New Mexico'): 182.0754716981132,
 ('Arizona', 'Indiana'): 609.5070422535211,
 ('Arizona', 'Wisconsin'): 490.12068965517244,
 ('Arizona', 'Arkansas'): 430.1923076923077,
 ('Arizona', 'Maryland'): 685.9047619047619,
 ('Arizona', 'Virginia'): 684.7176470588236,
 ('Arizona', 'South Dakota'): 371.78,
 ('Arizona', 'Hawaii'): 368.8095238095238,
 ('Arizona', 'Michigan'): 641.4261363636364,
 ('Arizona', 'Kansas'): 394.8484848484849,
 ('Arizona', 'Louisiana'): 450.5128205128205,
 ('Arizona', 'Wyoming'): 306.42857142857144,
 ('Arizona', 'Alaska'): 452.46153846153845,
 ('Connecticut', 'Georgia'): 258.03007518796994,
 ('Connecticut', 'Florida'): 306.9902597402597,
 ('Connecticut', 'Virginia'): 143.47457627118644,
 ('Connecticut', 'Maryland'): 125.34825870646766,
 ('Connecticut', 'Illinois'): 159.4337748344371,
 ('Connecticut', nan): nan,
 ('Connecticut', 'North Carolina'): 215.56,
 ('Connecticut', 'Michigan'): 198.3953488372093,
 ('Connecticut', 'Pennsylvania'): 126.23863636363636,
 ('Connecticut', 'California'): 336.5217391304348,
 ('Connecticut', 'Minnesota'): 204.12820512820514,

## 출발A 도착B  state간의 시간 차이와 거리 평균 딕셔너리에 저장

In [60]:
#도착시간이 출발시간보다 큰 경우만
df = train_df[train_df['Estimated_Arrival_Time']>train_df['Estimated_Departure_Time']]
df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN
6,TRAIN_000006,1,20,1742.0,1903.0,0,0,EWR,11618,New Jersey,BOS,10721,Massachusetts,200.0,United Air Lines Inc.,UA,NaN,N66825,Not_Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN

In [95]:
#시간차이와 거리평균 딕셔너리 형태로 저장
time_diff_dict = {}
distance_mean_dict = {}
def time_diff(train_df, state):
    OA = train_df[train_df['Origin_State']==state]
    destination_list = OA.Destination_State.unique().tolist()
#     time_diff_dict = {}
#     distance_mean_dict = {}
    for d in destination_list:
        st_oa = OA[OA['Destination_State']==d]
        time_diff = (st_oa['Estimated_Arrival_Time'] - st_oa['Estimated_Departure_Time']).mean()
        time_diff_dict[state,d] = (time_diff)
        distance_mean_dict[state,d] = (st_oa['Distance'].mean())
    
    return time_diff_dict, distance_mean_dict

In [96]:
for i in state_list:
    time_diff(df, i)

In [97]:
time_diff_dict

{('Oklahoma', 'Texas'): 130.94105409153954,
 ('Oklahoma', 'Colorado'): 75.51356589147287,
 ('Oklahoma', nan): nan,
 ('Oklahoma', 'Georgia'): 296.15021459227466,
 ('Oklahoma', 'Illinois'): 206.05176470588236,
 ('Oklahoma', 'New Jersey'): 418.61538461538464,
 ('Oklahoma', 'California'): 148.82222222222222,
 ('Oklahoma', 'Virginia'): 370.11267605633805,
 ('Oklahoma', 'Florida'): 324.61224489795916,
 ('Oklahoma', 'Missouri'): 129.19354838709677,
 ('Oklahoma', 'North Carolina'): 357.2282608695652,
 ('Oklahoma', 'Minnesota'): 213.625,
 ('Oklahoma', 'Arizona'): 83.3558282208589,
 ('Oklahoma', 'Utah'): 173.31460674157304,
 ('Oklahoma', 'Nevada'): 74.14685314685315,
 ('Oklahoma', 'Maryland'): 372.1333333333333,
 ('Oklahoma', 'Michigan'): 353.1081081081081,
 ('Oklahoma', 'Pennsylvania'): 419.71875,
 ('Oklahoma', 'Washington'): 221.1851851851852,
 ('Oklahoma', 'Tennessee'): 140.0,
 ('Illinois', 'Utah'): 261.23646723646726,
 ('Illinois', 'Missouri'): 141.63670647391578,
 ('Illinois', 'Kentucky'): 226.67241379310346,
 ('Illinois', 'Tennessee'): 186.32097725358045,
 ('Illinois', 'Ohio'): 228.22674060382008,
 ('Illinois', 'Minnesota'): 150.54163231657049,
 ('Illinois', 'West Virginia'): 261.18055555555554,
 ('Illinois', 'Michigan'): 215.28782112274024,
 ('Illinois', 'New York'): 299.61032028469754,
 ('Illinois', 'Texas'): 258.08085664335664,
 ('Illinois', 'Indiana'): 191.21572580645162,
 ('Illinois', 'Illinois'): 104.26867717614805,
 ('Illinois', 'Pennsylvania'): 274.34645161290325,
 ('Illinois', 'North Carolina'): 297.34464285714284,
 ('Illinois', 'Virginia'): 284.35030303030305,
 ('Illinois', 'Florida'): 367.3177321156773,
 ('Illinois', nan): nan,
 ('Illinois', 'Nevada'): 192.83226632522408,
 ('Illinois', 'South Dakota'): 175.14022140221402,
 ('Illinois', 'Maine'): 337.87412587412587,
 ('Illinois', 'Louisiana'): 232.14705882352942,
 ('Illinois', 'Georgia'): 297.03492063492064,
 ('Illinois', 'California'): 252.0162980209546,
 ('Illinois', 'Wisconsin'): 100.28231292517007,
 ('Illinois', 'Alabama'): 188.30239520958085,
 ('Illinois', 'Arkansas'): 190.09947643979058,
 ('Illinois', 'South Carolina'): 305.1688888888889,
 ('Illinois', 'Arizona'): 209.85065710872163,
 ('Illinois', 'Nebraska'): 158.228624535316,
 ('Illinois', 'Iowa'): 126.66840731070496,
 ('Illinois', 'New Mexico'): 213.08805031446542,
 ('Illinois', 'Colorado'): 170.77304347826086,
 ('Illinois', 'Massachusetts'): 332.63351498637604,
 ('Illinois', 'Connecticut'): 309.72265625,
 ('Illinois', 'Rhode Island'): 330.9100529100529,
 ('Illinois', 'Maryland'): 281.5744680851064,
 ('Illinois', 'Kansas'): 199.05797101449275,
 ('Illinois', 'Mississippi'): 211.125,
 ('Illinois', 'Oklahoma'): 218.435960591133,
 ('Illinois', 'Washington'): 252.2056856187291,
 ('Illinois', 'New Jersey'): 313.1034482758621,
 ('Illinois', 'New Hampshire'): 324.34831460674155,
 ('Illinois', 'Alaska'): 372.7413793103448,
 ('Illinois', 'Vermont'): 316.7080291970803,
 ('Illinois', 'Oregon'): 250.12328767123287,
 ('Illinois', 'North Dakota'): 209.98760330578511,
 ('Illinois', 'Montana'): 244.92372881355934,
 ('Illinois', 'Puerto Rico'): 617.3513513513514,
 ('Illinois', 'Wyoming'): 207.63333333333333,
 ('Illinois', 'Idaho'): 306.4673913043478,
 ('Illinois', 'Hawaii'): 457.9117647058824,
 ('Illinois', 'U.S. Virgin Islands'): 679.0,
 ('North Carolina', 'New York'): 183.98397790055247,
 ('North Carolina', 'Kentucky'): 145.82674199623352,
 ('North Carolina', 'Washington'): 285.5593220338983,
 ('North Carolina', 'North Carolina'): 108.09127625201938,
 ('North Carolina', 'Connecticut'): 193.40495867768595,
 ('North Carolina', 'Colorado'): 179.9027027027027,
 ('North Carolina', 'Arkansas'): 124.94117647058823,
 ('North Carolina', 'Maryland'): 132.8703071672355,
 ('North Carolina', nan): nan,
 ('North Carolina', 'Tennessee'): 84.9966960352423,
 ('North Carolina', 'Utah'): 261.609375,
 ('North Carolina', 'Massachusetts'): 206.85042016806722,
 ('North Carolina', 'Michigan'): 181.69347826086957,
 ('North Carolina', 'New Jersey'): 179.25299890948745,
 ('North Carolina', 'Mississippi'): 88.05,
 ('North Carolina', 'Texas'): 189.52253756260433,
 ('North Carolina', 'Florida'): 169.71215351812367,
 ('North Carolina', 'Virginia'): 123.38057620817844,
 ('North Carolina', 'Minnesota'): 182.19650655021834,
 ('North Carolina', 'Georgia'): 136.1292861157954,
 ('North Carolina', 'Illinois'): 121.45468998410175,
 ('North Carolina', 'Alabama'): 58.0953488372093,
 ('North Carolina', 'Missouri'): 125.14553990610328,
 ('North Carolina', 'Pennsylvania'): 159.12279069767442,
 ('North Carolina', 'Maine'): 230.82608695652175,
 ('North Carolina', 'Ohio'): 152.56031746031746,
 ('North Carolina', 'South Carolina'): 95.94748858447488,
 ('North Carolina', 'West Virginia'): 115.66480446927375,
 ('North Carolina', 'Rhode Island'): 200.04347826086956,
 ('North Carolina', 'Iowa'): 152.94495412844037,
 ('North Carolina', 'Indiana'): 163.59467455621302,
 ('North Carolina', 'Louisiana'): 117.38666666666667,
 ('North Carolina', 'New Hampshire'): 220.92134831460675,
 ('North Carolina', 'Puerto Rico'): 401.62068965517244,
 ('North Carolina', 'Nevada'): 187.6,
 ('North Carolina', 'Oklahoma'): 176.6782608695652,
 ('North Carolina', 'California'): 248.74480151228732,
 ('North Carolina', 'Arizona'): 193.66824644549763,
 ('North Carolina', 'Wisconsin'): 115.77142857142857,
 ('North Carolina', 'Nebraska'): 188.30434782608697,
 ('North Carolina', 'Oregon'): 254.24,
 ('North Carolina', 'U.S. Virgin Islands'): 425.42857142857144,
 ('North Carolina', 'Vermont'): 218.5,
 ('North Carolina', 'South Dakota'): 143.0,
 ('California', 'New Jersey'): 834.9496788008565,
 ('California', 'California'): 135.90967370756965,
 ('California', 'Utah'): 282.1205533596838,
 ('California', nan): nan,
 ('California', 'Missouri'): 550.367231638418,
 ('California', 'Oregon'): 196.42008395221183,
 ('California', 'Arizona'): 190.88584474885846,
 ('California', 'Indiana'): 717.828125,
 ('California', 'New Mexico'): 302.20302375809933,
 ('California', 'Hawaii'): 310.53544620517096,
 ('California', 'Texas'): 515.201308411215,
 ('California', 'Nevada'): 129.29365079365078,
 ('California', 'Florida'): 803.2478314745973,
 ('California', 'Illinois'): 610.0054995417048,
 ('California', 'Tennessee'): 607.9586563307494,
 ('California', 'Washington'): 245.6105748135147,
 ('California', 'Kentucky'): 729.4772727272727,
 ('California', 'Minnesota'): 560.8126984126984,
 ('California', 'Colorado'): 339.4112295295035,
 ('California', 'Massachusetts'): 856.545038167939,
 ('California', 'New York'): 849.4690415606447,
 ('California', 'Georgia'): 740.4856535600425,
 ('California', 'Ohio'): 752.109243697479,
 ('California', 'Alaska'): 402.08,
 ('California', 'Louisiana'): 579.2351097178683,
 ('California', 'Pennsylvania'): 812.9652777777778,
 ('California', 'Virginia'): 796.1342812006319,
 ('California', 'Michigan'): 750.8636363636364,
 ('California', 'Idaho'): 282.0671936758893,
 ('California', 'Wyoming'): 328.9761904761905,
 ('California', 'North Carolina'): 789.5,
 ('California', 'Arkansas'): 543.3285714285714,
 ('California', 'Oklahoma'): 504.22131147540983,
 ('California', 'Maryland'): 803.1253405994551,
 ('California', 'Wisconsin'): 602.1084337349398,
 ('California', 'Nebraska'): 535.956834532374,
 ('California', 'Montana'): 348.5163934426229,
 ('California', 'South Carolina'): 779.0,
 ('California', 'Iowa'): 559.8,
 ('California', 'Kansas'): 468.0,
 ('California', 'South Dakota'): 507.0,
 ('New Jersey', 'Massachusetts'): 120.92819614711033,
 ('New Jersey', 'Florida'): 288.8281535648994,
 ('New Jersey', 'California'): 315.7345132743363,
 ('New Jersey', 'Nebraska'): 234.0487804878049,
 ('New Jersey', 'Pennsylvania'): 142.18478260869566,
 ('New Jersey', 'Michigan'): 202.52818371607515,
 ('New Jersey', 'North Carolina'): 184.70224119530417,
 ('New Jersey', 'Missouri'): 191.51623376623377,
 ('New Jersey', 'Kentucky'): 223.4398976982097,
 ('New Jersey', 'Minnesota'): 212.94059405940595,
 ('New Jersey', 'Texas'): 288.72943980929676,
 ('New Jersey', 'Utah'): 332.1034482758621,
 ('New Jersey', 'Georgia'): 237.16448326055314,
 ('New Jersey', 'Illinois'): 149.19225037257823,
 ('New Jersey', nan): nan,
 ('New Jersey', 'Tennessee'): 179.77011494252875,
 ('New Jersey', 'Indiana'): 232.5433962264151,
 ('New Jersey', 'Colorado'): 235.6156351791531,
 ('New Jersey', 'South Carolina'): 200.94490358126723,
 ('New Jersey', 'Wyoming'): 313.0,
 ('New Jersey', 'Maine'): 152.24232081911262,
 ('New Jersey', 'New York'): 138.91880920162382,
 ('New Jersey', 'Virginia'): 142.66414141414143,
 ('New Jersey', 'Washington'): 316.9779005524862,
 ('New Jersey', 'Ohio'): 176.94107452339688,
 ('New Jersey', 'Nevada'): 252.69372693726936,
 ('New Jersey', 'Wisconsin'): 167.94350282485877,
 ('New Jersey', 'New Hampshire'): 129.71428571428572,
 ('New Jersey', 'Arizona'): 289.3302752293578,
 ('New Jersey', 'Rhode Island'): 113.47524752475248,
 ('New Jersey', 'Louisiana'): 227.1058201058201,
 ('New Jersey', 'Oregon'): 316.91011235955057,
 ('New Jersey', 'Vermont'): 140.4087591240876,
 ('New Jersey', 'Connecticut'): 115.09433962264151,
 ('New Jersey', 'Montana'): 298.1666666666667,
 ('New Jersey', 'Maryland'): 134.01538461538462,
 ('New Jersey', 'Puerto Rico'): 426.1923076923077,
 ('New Jersey', 'U.S. Virgin Islands'): 475.0,
 ('New Jersey', 'Arkansas'): 246.8108108108108,
 ('New Jersey', 'Iowa'): 218.25,
 ('New Jersey', 'South Dakota'): 208.0,
 ('New Jersey', 'Oklahoma'): 271.69444444444446,
 ('New Jersey', 'Hawaii'): 554.5,
 ('New Jersey', 'Alaska'): 392.0,
 ('Arkansas', 'Texas'): 134.97068403908796,
 ('Arkansas', 'Virginia'): 340.7692307692308,
 ('Arkansas', 'North Carolina'): 315.57894736842104,
 ('Arkansas', 'Florida'): 285.2307692307692,
 ('Arkansas', nan): nan,
 ('Arkansas', 'Minnesota'): 199.46153846153845,
 ('Arkansas', 'Georgia'): 266.64864864864865,
 ('Arkansas', 'Colorado'): 132.78125,
 ('Arkansas', 'Illinois'): 190.66365688487585,
 ('Arkansas', 'Missouri'): 109.28571428571429,
 ('Arkansas', 'Nevada'): 126.63636363636364,
 ('Arkansas', 'California'): 175.96875,
 ('Arkansas', 'Pennsylvania'): 389.57142857142856,
 ('Arkansas', 'New York'): 400.93220338983053,
 ('Arkansas', 'Arizona'): 145.78787878787878,
 ('Arkansas', 'Michigan'): 306.6875,
 ('Arkansas', 'New Jersey'): 399.7037037037037,
 ('Arkansas', 'Tennessee'): 119.0,
 ('Arkansas', 'Kentucky'): 242.0,
 ('Virginia', 'Pennsylvania'): 110.01108870967742,
 ('Virginia', 'Massachusetts'): 155.48334919124642,
 ('Virginia', 'Florida'): 241.00714604734256,
 ('Virginia', 'New York'): 138.8512396694215,
 ('Virginia', 'Virginia'): 97.5,
 ('Virginia', nan): nan,
 ('Virginia', 'Minnesota'): 173.24213836477986,
 ('Virginia', 'Colorado'): 195.58131487889273,
 ('Virginia', 'Indiana'): 177.28181818181818,
 ('Virginia', 'Georgia'): 181.50113378684807,
 ('Virginia', 'West Virginia'): 116.43307086614173,
 ('Virginia', 'Illinois'): 119.4769322947873,
 ('Virginia', 'North Carolina'): 142.53564356435643,
 ('Virginia', 'Missouri'): 152.61349693251535,
 ('Virginia', 'Maine'): 161.4569288389513,
 ('Virginia', 'Nevada'): 216.39655172413794,
 ('Virginia', 'Texas'): 245.75978037062458,
 ('Virginia', 'Washington'): 291.0199004975124,
 ('Virginia', 'New Jersey'): 147.80759493670885,
 ('Virginia', 'Ohio'): 140.01639344262296,
 ('Virginia', 'California'): 278.54710556186154,
 ('Virginia', 'New Hampshire'): 143.3763440860215,
 ('Virginia', 'South Carolina'): 160.95716639209226,
 ('Virginia', 'Connecticut'): 128.74454828660436,
 ('Virginia', 'Alabama'): 115.30882352941177,
 ('Virginia', 'Tennessee'): 124.88907284768212,
 ('Virginia', 'Iowa'): 157.4516129032258,
 ('Virginia', 'Kentucky'): 165.2305882352941,
 ('Virginia', 'Rhode Island'): 140.7515923566879,
 ('Virginia', 'Utah'): 279.5869565217391,
 ('Virginia', 'Michigan'): 168.6966618287373,
 ('Virginia', 'Vermont'): 149.53142857142856,
 ('Virginia', 'Arkansas'): 173.2,
 ('Virginia', 'Maryland'): 96.8092105263158,
 ('Virginia', 'Oklahoma'): 221.93589743589743,
 ('Virginia', 'Oregon'): 277.2173913043478,
 ('Virginia', 'Louisiana'): 178.9547511312217,
 ('Virginia', 'Wisconsin'): 115.94666666666667,
 ('Virginia', 'Arizona'): 237.60824742268042,
 ('Virginia', 'Mississippi'): 158.92307692307693,
 ('Virginia', 'Puerto Rico'): 402.9056603773585,
 ('Virginia', 'Nebraska'): 191.12727272727273,
 ('Virginia', 'Hawaii'): 464.77272727272725,
 ('Virginia', 'U.S. Virgin Islands'): 430.90909090909093,
 ('Pennsylvania', 'Michigan'): 165.52292263610315,
 ('Pennsylvania', 'New York'): 136.03868797308664,
 ('Pennsylvania', 'Nevada'): 223.87562189054725,
 ('Pennsylvania', 'California'): 294.0995024875622,
 ('Pennsylvania', 'Florida'): 260.5782250686185,
 ('Pennsylvania', 'Maine'): 164.41666666666666,
 ('Pennsylvania', 'North Carolina'): 174.60469483568076,
 ('Pennsylvania', 'Pennsylvania'): 105.10652591170826,
 ('Pennsylvania', 'Illinois'): 106.06190172303765,
 ('Pennsylvania', 'Georgia'): 207.85729967069156,
 ('Pennsylvania', 'South Carolina'): 179.56545961002786,
 ('Pennsylvania', nan): nan,
 ('Pennsylvania', 'Wisconsin'): 131.25,
 ('Pennsylvania', 'Texas'): 250.49784482758622,
 ('Pennsylvania', 'New Jersey'): 146.65934065934067,
 ('Pennsylvania', 'Minnesota'): 172.9375,
 ('Pennsylvania', 'Virginia'): 112.98653846153846,
 ('Pennsylvania', 'Massachusetts'): 150.1109785202864,
 ('Pennsylvania', 'New Hampshire'): 137.35042735042734,
 ('Pennsylvania', 'Maryland'): 103.50638297872341,
 ('Pennsylvania', 'Connecticut'): 121.26373626373626,
 ('Pennsylvania', 'Colorado'): 199.87683284457478,
 ('Pennsylvania', 'Missouri'): 156.3111111111111,
 ('Pennsylvania', 'Kentucky'): 196.656462585034,
 ('Pennsylvania', 'Ohio'): 167.38753387533876,
 ('Pennsylvania', 'Tennessee'): 133.5012285012285,
 ('Pennsylvania', 'Arizona'): 249.50731707317073,
 ('Pennsylvania', 'Oklahoma'): 247.390243902439,
 ('Pennsylvania', 'Iowa'): 204.02439024390245,
 ('Pennsylvania', 'Vermont'): 144.7311827956989,
 ('Pennsylvania', 'U.S. Virgin Islands'): 426.0,
 ('Pennsylvania', 'West Virginia'): 134.44,
 ('Pennsylvania', 'Indiana'): 204.83625730994152,
 ('Pennsylvania', 'Utah'): 287.02222222222224,
 ('Pennsylvania', 'Washington'): 286.58947368421053,
 ('Pennsylvania', 'Nebraska'): 223.71428571428572,
 ('Pennsylvania', 'Rhode Island'): 125.65573770491804,
 ('Pennsylvania', 'Louisiana'): 205.8780487804878,
 ('Pennsylvania', 'Alabama'): 146.50980392156862,
 ('Pennsylvania', 'Puerto Rico'): 446.9019607843137,
 ('Pennsylvania', 'Oregon'): 299.25,
 ('Pennsylvania', 'Arkansas'): 215.5,
 ('Ohio', 'Colorado'): 131.4398826979472,
 ('Ohio', 'Illinois'): 42.93939393939394,
 ('Ohio', 'Michigan'): 109.58789625360231,
 ('Ohio', 'Georgia'): 171.34652114597543,
 ('Ohio', 'Nevada'): 152.40776699029126,
 ('Ohio', 'Wisconsin'): 38.88607594936709,
 ('Ohio', 'Pennsylvania'): 156.24778761061947,
 ('Ohio', 'Maryland'): 125.18867924528301,
 ('Ohio', 'Minnesota'): 111.1328125,
 ('Ohio', 'Virginia'): 134.442663378545,
 ('Ohio', 'California'): 216.25806451612902,
 ('Ohio', 'New York'): 174.85912240184757,
 ('Ohio', 'Texas'): 189.02058823529413,
 ('Ohio', 'Florida'): 250.7433155080214,
 ('Ohio', 'New Jersey'): 172.30167597765364,
 ('Ohio', nan): nan,
 ('Ohio', 'North Carolina'): 162.69470404984423,
 ('Ohio', 'Louisiana'): 134.175,
 ('Ohio', 'Massachusetts'): 180.86918604651163,
 ('Ohio', 'Arizona'): 174.31506849315068,
 ('Ohio', 'South Carolina'): 150.83870967741936,
 ('Ohio', 'Missouri'): 47.604166666666664,
 ('Ohio', 'Connecticut'): 155.9375,
 ('Ohio', 'Tennessee'): 47.830882352941174,
 ('Ohio', 'Washington'): 207.86666666666667,
 ('Ohio', 'Oregon'): 200.33333333333334,
 ('Ohio', 'Utah'): 217.66666666666666,
 ('Texas', 'Colorado'): 129.0239561943874,
 ('Texas', 'Oklahoma'): 126.59106529209622,
 ('Texas', 'California'): 154.79855247285886,
 ('Texas', nan): nan,
 ('Texas', 'Tennessee'): 197.18911917098447,
 ('Texas', 'Pennsylvania'): 408.9719953325554,
 ('Texas', 'Texas'): 121.13814394411875,
 ('Texas', 'Alabama'): 169.8095238095238,
 ('Texas', 'Nebraska'): 200.8754098360656,
 ('Texas', 'Arizona'): 92.28834033613445,
 ('Texas', 'North Carolina'): 358.93397745571656,
 ('Texas', 'Maryland'): 401.17534722222223,
 ('Texas', 'Washington'): 250.10230179028133,
 ('Texas', 'Florida'): 315.4374853389632,
 ('Texas', 'Michigan'): 374.2348224513173,
 ('Texas', 'Illinois'): 252.1492669924478,
 ('Texas', 'Virginia'): 393.4343365253078,
 ('Texas', 'Oregon'): 229.9485294117647,
 ('Texas', 'Utah'): 203.56534954407294,
 ('Texas', 'Nevada'): 99.91559633027524,
 ('Texas', 'New Mexico'): 94.62718204488777,
 ('Texas', 'New York'): 447.9789612097304,
 ('Texas', 'Louisiana'): 120.48968029138001,
 ('Texas', 'Missouri'): 173.38512297540493,
 ('Texas', 'Minnesota'): 265.9398395721925,
 ('Texas', 'Arkansas'): 128.8834422657952,
 ('Texas', 'Georgia'): 316.88801054018444,
 ('Texas', 'Massachusetts'): 474.0849557522124,
 ('Texas', 'Kentucky'): 328.6357142857143,
 ('Texas', 'Ohio'): 360.57853810264385,
 ('Texas', 'Mississippi'): 134.44662309368192,
 ('Texas', 'South Dakota'): 180.4387755102041,
 ('Texas', 'New Jersey'): 450.05651105651106,
 ('Texas', 'Hawaii'): 372.5072463768116,
 ('Texas', 'South Carolina'): 339.0078947368421,
 ('Texas', 'Montana'): 244.05494505494505,
 ('Texas', 'Wisconsin'): 240.47445255474452,
 ('Texas', 'Indiana'): 313.87699316628704,
 ('Texas', 'Wyoming'): 181.4516129032258,
 ('Texas', 'Kansas'): 155.64207650273224,
 ('Texas', 'North Dakota'): 266.63953488372096,
 ('Texas', 'Iowa'): 206.68650793650792,
 ('Texas', 'Puerto Rico'): 580.6781609195402,
 ('Texas', 'U.S. Virgin Islands'): 585.0,
 ('Texas', 'Connecticut'): 461.68,
 ('Texas', 'West Virginia'): 349.0,
 ('Texas', 'Idaho'): 273.43617021276594,
 ('Texas', 'Alaska'): 401.92857142857144,
 ('Texas', 'Rhode Island'): 498.0,
 ('Arizona', 'Nevada'): 99.53398058252426,
 ('Arizona', 'Washington'): 269.3369565217391,
 ('Arizona', 'Texas'): 370.1436965811966,
 ('Arizona', 'Pennsylvania'): 692.1784037558685,
 ('Arizona', 'California'): 125.26760563380282,
 ('Arizona', 'Colorado'): 240.19670631290026,
 ('Arizona', nan): nan,
 ('Arizona', 'Illinois'): 500.9876203576341,
 ('Arizona', 'Arizona'): 89.43014128728414,
 ('Arizona', 'North Carolina'): 657.7978142076503,
 ('Arizona', 'Oklahoma'): 381.0843373493976,
 ('Arizona', 'Oregon'): 234.2874251497006,
 ('Arizona', 'Kentucky'): 613.1232876712329,
 ('Arizona', 'Tennessee'): 484.0530303030303,
 ('Arizona', 'Utah'): 219.7560975609756,
 ('Arizona', 'Missouri'): 431.8262195121951,
 ('Arizona', 'Iowa'): 446.11607142857144,
 ('Arizona', 'New York'): 722.9066666666666,
 ('Arizona', 'New Jersey'): 743.1705882352941,
 ('Arizona', 'Minnesota'): 464.9527027027027,
 ('Arizona', 'Idaho'): 271.74782608695654,
 ('Arizona', 'Ohio'): 647.1914893617021,
 ('Arizona', 'Georgia'): 611.0964285714285,
 ('Arizona', 'Nebraska'): 402.03921568627453,
 ('Arizona', 'North Dakota'): 438.86206896551727,
 ('Arizona', 'Massachusetts'): 743.0461538461539,
 ('Arizona', 'Montana'): 300.0,
 ('Arizona', 'Florida'): 675.6289752650176,
 ('Arizona', 'New Mexico'): 182.0754716981132,
 ('Arizona', 'Indiana'): 609.5070422535211,
 ('Arizona', 'Wisconsin'): 490.12068965517244,
 ('Arizona', 'Arkansas'): 430.1923076923077,
 ('Arizona', 'Maryland'): 685.9047619047619,
 ('Arizona', 'Virginia'): 684.7176470588236,
 ('Arizona', 'South Dakota'): 371.78,
 ('Arizona', 'Hawaii'): 368.8095238095238,
 ('Arizona', 'Michigan'): 641.4261363636364,
 ('Arizona', 'Kansas'): 394.8484848484849,
 ('Arizona', 'Louisiana'): 450.5128205128205,
 ('Arizona', 'Wyoming'): 306.42857142857144,
 ('Arizona', 'Alaska'): 452.46153846153845,
 ('Connecticut', 'Georgia'): 258.03007518796994,
 ('Connecticut', 'Florida'): 306.9902597402597,
 ('Connecticut', 'Virginia'): 143.47457627118644,
 ('Connecticut', 'Maryland'): 125.34825870646766,
 ('Connecticut', 'Illinois'): 159.4337748344371,
 ('Connecticut', nan): nan,
 ('Connecticut', 'North Carolina'): 215.56,
 ('Connecticut', 'Michigan'): 198.3953488372093,
 ('Connecticut', 'Pennsylvania'): 126.23863636363636,
 ('Connecticut', 'California'): 336.5217391304348,
 ('Connecticut', 'Minnesota'): 204.12820512820514,

In [98]:
distance_mean_dict

{('Oklahoma', 'Texas'): 311.22884882108184,
 ('Oklahoma', 'Colorado'): 514.8798449612403,
 ('Oklahoma', nan): nan,
 ('Oklahoma', 'Georgia'): 715.0729613733905,
 ('Oklahoma', 'Illinois'): 645.5929411764706,
 ('Oklahoma', 'New Jersey'): 1325.0,
 ('Oklahoma', 'California'): 1274.2518518518518,
 ('Oklahoma', 'Virginia'): 1132.0845070422536,
 ('Oklahoma', 'Florida'): 962.6326530612245,
 ('Oklahoma', 'Missouri'): 410.9758064516129,
 ('Oklahoma', 'North Carolina'): 900.5869565217391,
 ('Oklahoma', 'Minnesota'): 663.3875,
 ('Oklahoma', 'Arizona'): 869.920245398773,
 ('Oklahoma', 'Utah'): 897.685393258427,
 ('Oklahoma', 'Nevada'): 1026.2797202797203,
 ('Oklahoma', 'Maryland'): 1175.1555555555556,
 ('Oklahoma', 'Michigan'): 894.0,
 ('Oklahoma', 'Pennsylvania'): 1261.0,
 ('Oklahoma', 'Washington'): 1519.0,
 ('Oklahoma', 'Tennessee'): 616.0,
 ('Illinois', 'Utah'): 1251.7435897435898,
 ('Illinois', 'Missouri'): 338.0100565681961,
 ('Illinois', 'Kentucky'): 281.3981937602627,
 ('Illinois', 'Tennessee'): 443.67396798652067,
 ('Illinois', 'Ohio'): 291.61983980283424,
 ('Illinois', 'Minnesota'): 336.835943940643,
 ('Illinois', 'West Virginia'): 441.4861111111111,
 ('Illinois', 'Michigan'): 205.57611798287346,
 ('Illinois', 'New York'): 676.6590747330961,
 ('Illinois', 'Texas'): 891.7303321678322,
 ('Illinois', 'Indiana'): 172.90423387096774,
 ('Illinois', 'Illinois'): 145.7176148046607,
 ('Illinois', 'Pennsylvania'): 565.5232258064516,
 ('Illinois', 'North Carolina'): 612.3482142857143,
 ('Illinois', 'Virginia'): 615.0545454545454,
 ('Illinois', 'Florida'): 1045.4440639269405,
 ('Illinois', nan): nan,
 ('Illinois', 'Nevada'): 1521.079385403329,
 ('Illinois', 'South Dakota'): 534.6568265682657,
 ('Illinois', 'Maine'): 921.2027972027972,
 ('Illinois', 'Louisiana'): 831.9215686274509,
 ('Illinois', 'Georgia'): 615.1595238095238,
 ('Illinois', 'California'): 1774.50950717889,
 ('Illinois', 'Wisconsin'): 139.82993197278913,
 ('Illinois', 'Alabama'): 571.8323353293413,
 ('Illinois', 'Arkansas'): 534.565445026178,
 ('Illinois', 'South Carolina'): 683.4022222222222,
 ('Illinois', 'Arizona'): 1433.5077658303464,
 ('Illinois', 'Nebraska'): 428.67843866171006,
 ('Illinois', 'Iowa'): 255.93472584856397,
 ('Illinois', 'New Mexico'): 1118.867924528302,
 ('Illinois', 'Colorado'): 899.544347826087,
 ('Illinois', 'Massachusetts'): 866.0354223433243,
 ('Illinois', 'Connecticut'): 781.59375,
 ('Illinois', 'Rhode Island'): 846.8518518518518,
 ('Illinois', 'Maryland'): 616.0212765957447,
 ('Illinois', 'Kansas'): 566.8804347826087,
 ('Illinois', 'Mississippi'): 673.4285714285714,
 ('Illinois', 'Oklahoma'): 642.8669950738916,
 ('Illinois', 'Washington'): 1707.1304347826087,
 ('Illinois', 'New Jersey'): 715.967332123412,
 ('Illinois', 'New Hampshire'): 840.3033707865169,
 ('Illinois', 'Alaska'): 2838.637931034483,
 ('Illinois', 'Vermont'): 763.0,
 ('Illinois', 'Oregon'): 1740.9178082191781,
 ('Illinois', 'North Dakota'): 592.4793388429752,
 ('Illinois', 'Montana'): 1218.864406779661,
 ('Illinois', 'Puerto Rico'): 2067.135135135135,
 ('Illinois', 'Wyoming'): 1160.5833333333333,
 ('Illinois', 'Idaho'): 1436.4347826086957,
 ('Illinois', 'Hawaii'): 4232.588235294118,
 ('Illinois', 'U.S. Virgin Islands'): 2115.0,
 ('North Carolina', 'New York'): 509.05082872928176,
 ('North Carolina', 'Kentucky'): 328.5894538606403,
 ('North Carolina', 'Washington'): 2314.593220338983,
 ('North Carolina', 'North Carolina'): 145.07310177705978,
 ('North Carolina', 'Connecticut'): 627.3388429752066,
 ('North Carolina', 'Colorado'): 1375.664864864865,
 ('North Carolina', 'Arkansas'): 698.8627450980392,
 ('North Carolina', 'Maryland'): 317.9556313993174,
 ('North Carolina', nan): nan,
 ('North Carolina', 'Tennessee'): 308.14977973568284,
 ('North Carolina', 'Utah'): 1749.5,
 ('North Carolina', 'Massachusetts'): 665.0285714285715,
 ('North Carolina', 'Michigan'): 505.5173913043478,
 ('North Carolina', 'New Jersey'): 474.5637949836423,
 ('North Carolina', 'Mississippi'): 568.125,
 ('North Carolina', 'Texas'): 991.89816360601,
 ('North Carolina', 'Florida'): 534.9171997157072,
 ('North Carolina', 'Virginia'): 261.53949814126395,
 ('North Carolina', 'Minnesota'): 952.4890829694323,
 ('North Carolina', 'Georgia'): 278.4822934232715,
 ('North Carolina', 'Illinois'): 611.5945945945946,
 ('North Carolina', 'Alabama'): 390.86511627906975,
 ('North Carolina', 'Missouri'): 696.924882629108,
 ('North Carolina', 'Pennsylvania'): 404.2120930232558,
 ('North Carolina', 'Maine'): 831.5652173913044,
 ('North Carolina', 'Ohio'): 387.16190476190474,
 ('North Carolina', 'South Carolina'): 130.1255707762557,
 ('North Carolina', 'West Virginia'): 226.24022346368716,
 ('North Carolina', 'Rhode Island'): 674.8608695652174,
 ('North Carolina', 'Iowa'): 782.183486238532,
 ('North Carolina', 'Indiana'): 451.7130177514793,
 ('North Carolina', 'Louisiana'): 687.67,
 ('North Carolina', 'New Hampshire'): 737.0,
 ('North Carolina', 'Puerto Rico'): 1467.0344827586207,
 ('North Carolina', 'Nevada'): 1956.15,
 ('North Carolina', 'Oklahoma'): 888.0173913043478,
 ('North Carolina', 'California'): 2227.461247637051,
 ('North Carolina', 'Arizona'): 1790.3554502369668,
 ('North Carolina', 'Wisconsin'): 669.8914285714286,
 ('North Carolina', 'Nebraska'): 913.0,
 ('North Carolina', 'Oregon'): 2282.0,
 ('North Carolina', 'U.S. Virgin Islands'): 1523.0,
 ('North Carolina', 'Vermont'): 761.0,
 ('North Carolina', 'South Dakota'): 1322.0,
 ('California', 'New Jersey'): 2496.9646680942183,
 ('California', 'California'): 336.15192734445634,
 ('California', 'Utah'): 580.6650197628459,
 ('California', nan): nan,
 ('California', 'Missouri'): 1514.879943502825,
 ('California', 'Oregon'): 638.2818856958347,
 ('California', 'Arizona'): 461.7796803652968,
 ('California', 'Indiana'): 1876.2578125,
 ('California', 'New Mexico'): 746.4600431965442,
 ('California', 'Hawaii'): 2472.793160967473,
 ('California', 'Texas'): 1326.3794392523364,
 ('California', 'Nevada'): 307.2355787843593,
 ('California', 'Florida'): 2343.247831474597,
 ('California', 'Illinois'): 1773.659486709441,
 ('California', 'Tennessee'): 1839.9276485788114,
 ('California', 'Washington'): 813.9172882843352,
 ('California', 'Kentucky'): 1932.4204545454545,
 ('California', 'Minnesota'): 1548.8412698412699,
 ('California', 'Colorado'): 881.8237587730699,
 ('California', 'Massachusetts'): 2648.4625954198473,
 ('California', 'New York'): 2507.022052586938,
 ('California', 'Georgia'): 2002.6875664187035,
 ('California', 'Ohio'): 2076.5126050420167,
 ('California', 'Alaska'): 2154.0,
 ('California', 'Louisiana'): 1721.3918495297805,
 ('California', 'Pennsylvania'): 2387.4513888888887,
 ('California', 'Virginia'): 2348.274881516588,
 ('California', 'Michigan'): 2009.8835227272727,
 ('California', 'Idaho'): 568.0632411067194,
 ('California', 'Wyoming'): 761.6190476190476,
 ('California', 'North Carolina'): 2213.3255813953488,
 ('California', 'Arkansas'): 1459.7,
 ('California', 'Oklahoma'): 1271.795081967213,
 ('California', 'Maryland'): 2371.0544959128065,
 ('California', 'Wisconsin'): 1759.0722891566265,
 ('California', 'Nebraska'): 1361.0431654676258,
 ('California', 'Montana'): 862.655737704918,
 ('California', 'South Carolina'): 2211.0,
 ('California', 'Iowa'): 1528.7,
 ('California', 'Kansas'): 1203.0,
 ('California', 'South Dakota'): 1340.0,
 ('New Jersey', 'Massachusetts'): 200.63047285464097,
 ('New Jersey', 'Florida'): 998.7159049360147,
 ('New Jersey', 'California'): 2499.164454277286,
 ('New Jersey', 'Nebraska'): 1134.0,
 ('New Jersey', 'Pennsylvania'): 291.15942028985506,
 ('New Jersey', 'Michigan'): 508.8684759916493,
 ('New Jersey', 'North Carolina'): 471.8004268943437,
 ('New Jersey', 'Missouri'): 939.1428571428571,
 ('New Jersey', 'Kentucky'): 585.0460358056266,
 ('New Jersey', 'Minnesota'): 1007.3102310231023,
 ('New Jersey', 'Texas'): 1420.3134684147794,
 ('New Jersey', 'Utah'): 1969.0,
 ('New Jersey', 'Georgia'): 735.4919941775837,
 ('New Jersey', 'Illinois'): 715.9403874813711,
 ('New Jersey', nan): nan,
 ('New Jersey', 'Tennessee'): 773.9103448275862,
 ('New Jersey', 'Indiana'): 641.8679245283018,
 ('New Jersey', 'Colorado'): 1613.1302931596092,
 ('New Jersey', 'South Carolina'): 589.6363636363636,
 ('New Jersey', 'Wyoming'): 1874.0,
 ('New Jersey', 'Maine'): 339.8668941979522,
 ('New Jersey', 'New York'): 216.20974289580514,
 ('New Jersey', 'Virginia'): 238.52651515151516,
 ('New Jersey', 'Washington'): 2402.0,
 ('New Jersey', 'Ohio'): 439.2339688041594,
 ('New Jersey', 'Nevada'): 2227.0,
 ('New Jersey', 'Wisconsin'): 752.5932203389831,
 ('New Jersey', 'New Hampshire'): 209.0,
 ('New Jersey', 'Arizona'): 2133.0,
 ('New Jersey', 'Rhode Island'): 160.0,
 ('New Jersey', 'Louisiana'): 1164.968253968254,
 ('New Jersey', 'Oregon'): 2434.0,
 ('New Jersey', 'Vermont'): 266.0,
 ('New Jersey', 'Connecticut'): 116.0,
 ('New Jersey', 'Montana'): 1882.0,
 ('New Jersey', 'Maryland'): 169.0,
 ('New Jersey', 'Puerto Rico'): 1608.0,
 ('New Jersey', 'U.S. Virgin Islands'): 1634.0,
 ('New Jersey', 'Arkansas'): 1131.0,
 ('New Jersey', 'Iowa'): 1017.0,
 ('New Jersey', 'South Dakota'): 1489.0,
 ('New Jersey', 'Oklahoma'): 1325.0,
 ('New Jersey', 'Hawaii'): 4962.0,
 ('New Jersey', 'Alaska'): 3370.0,
 ('Arkansas', 'Texas'): 308.9109663409338,
 ('Arkansas', 'Virginia'): 936.0769230769231,
 ('Arkansas', 'North Carolina'): 699.3333333333334,
 ('Arkansas', 'Florida'): 803.8461538461538,
 ('Arkansas', nan): nan,
 ('Arkansas', 'Minnesota'): 596.0,
 ('Arkansas', 'Georgia'): 523.8468468468468,
 ('Arkansas', 'Colorado'): 725.7916666666666,
 ('Arkansas', 'Illinois'): 534.7313769751693,
 ('Arkansas', 'Missouri'): 296.0,
 ('Arkansas', 'Nevada'): 1274.1515151515152,
 ('Arkansas', 'California'): 1458.75,
 ('Arkansas', 'Pennsylvania'): 1066.0,
 ('Arkansas', 'New York'): 1147.0,
 ('Arkansas', 'Arizona'): 1132.060606060606,
 ('Arkansas', 'Michigan'): 705.0,
 ('Arkansas', 'New Jersey'): 1131.0,
 ('Arkansas', 'Tennessee'): 426.0,
 ('Arkansas', 'Kentucky'): 562.0,
 ('Virginia', 'Pennsylvania'): 175.67237903225808,
 ('Virginia', 'Massachusetts'): 417.00856327307326,
 ('Virginia', 'Florida'): 794.5033497096919,
 ('Virginia', 'New York'): 268.3004132231405,
 ('Virginia', 'Virginia'): 127.19357976653697,
 ('Virginia', nan): nan,
 ('Virginia', 'Minnesota'): 928.4496855345911,
 ('Virginia', 'Colorado'): 1471.3823529411766,
 ('Virginia', 'Indiana'): 488.3454545454546,
 ('Virginia', 'Georgia'): 508.34977324263036,
 ('Virginia', 'West Virginia'): 197.46456692913387,
 ('Virginia', 'Illinois'): 618.5338526063512,
 ('Virginia', 'North Carolina'): 262.0806930693069,
 ('Virginia', 'Missouri'): 805.3558282208589,
 ('Virginia', 'Maine'): 509.05992509363296,
 ('Virginia', 'Nevada'): 2078.2586206896553,
 ('Virginia', 'Texas'): 1211.4248455730954,
 ('Virginia', 'Washington'): 2312.865671641791,
 ('Virginia', 'New Jersey'): 237.00759493670887,
 ('Virginia', 'Ohio'): 318.7566204287516,
 ('Virginia', 'California'): 2346.3847900113506,
 ('Virginia', 'New Hampshire'): 409.741935483871,
 ('Virginia', 'South Carolina'): 416.7248764415157,
 ('Virginia', 'Connecticut'): 318.58878504672896,
 ('Virginia', 'Alabama'): 628.75,
 ('Virginia', 'Tennessee'): 529.3576158940398,
 ('Virginia', 'Iowa'): 897.0,
 ('Virginia', 'Kentucky'): 422.88470588235293,
 ('Virginia', 'Rhode Island'): 359.9649681528662,
 ('Virginia', 'Utah'): 1839.0,
 ('Virginia', 'Michigan'): 432.9869375907112,
 ('Virginia', 'Vermont'): 439.6514285714286,
 ('Virginia', 'Arkansas'): 928.0,
 ('Virginia', 'Maryland'): 159.0,
 ('Virginia', 'Oklahoma'): 1137.474358974359,
 ('Virginia', 'Oregon'): 2336.6666666666665,
 ('Virginia', 'Louisiana'): 965.3891402714933,
 ('Virginia', 'Wisconsin'): 649.5733333333334,
 ('Virginia', 'Arizona'): 1974.618556701031,
 ('Virginia', 'Mississippi'): 860.0,
 ('Virginia', 'Puerto Rico'): 1560.7358490566037,
 ('Virginia', 'Nebraska'): 1012.0,
 ('Virginia', 'Hawaii'): 4817.0,
 ('Virginia', 'U.S. Virgin Islands'): 1606.0,
 ('Pennsylvania', 'Michigan'): 369.73352435530086,
 ('Pennsylvania', 'New York'): 246.86122792262407,
 ('Pennsylvania', 'Nevada'): 2075.4228855721394,
 ('Pennsylvania', 'California'): 2394.597014925373,
 ('Pennsylvania', 'Florida'): 915.2703568161024,
 ('Pennsylvania', 'Maine'): 411.6875,
 ('Pennsylvania', 'North Carolina'): 405.2638497652582,
 ('Pennsylvania', 'Pennsylvania'): 149.70729366602689,
 ('Pennsylvania', 'Illinois'): 561.2667517549457,
 ('Pennsylvania', 'Georgia'): 621.3183315038419,
 ('Pennsylvania', 'South Carolina'): 512.2506963788301,
 ('Pennsylvania', nan): nan,
 ('Pennsylvania', 'Wisconsin'): 717.75,
 ('Pennsylvania', 'Texas'): 1245.9633620689656,
 ('Pennsylvania', 'New Jersey'): 295.8205128205128,
 ('Pennsylvania', 'Minnesota'): 892.6875,
 ('Pennsylvania', 'Virginia'): 176.41442307692307,
 ('Pennsylvania', 'Massachusetts'): 349.3102625298329,
 ('Pennsylvania', 'New Hampshire'): 289.0,
 ('Pennsylvania', 'Maryland'): 143.57021276595745,
 ('Pennsylvania', 'Connecticut'): 182.28571428571428,
 ('Pennsylvania', 'Colorado'): 1449.5894428152492,
 ('Pennsylvania', 'Missouri'): 834.4888888888889,
 ('Pennsylvania', 'Kentucky'): 525.3877551020408,
 ('Pennsylvania', 'Ohio'): 401.4552845528455,
 ('Pennsylvania', 'Tennessee'): 649.6142506142506,
 ('Pennsylvania', 'Arizona'): 2002.429268292683,
 ('Pennsylvania', 'Oklahoma'): 1261.0,
 ('Pennsylvania', 'Iowa'): 972.0,
 ('Pennsylvania', 'Vermont'): 335.0,
 ('Pennsylvania', 'U.S. Virgin Islands'): 1605.0,
 ('Pennsylvania', 'West Virginia'): 356.4,
 ('Pennsylvania', 'Indiana'): 572.7368421052631,
 ('Pennsylvania', 'Utah'): 1802.4,
 ('Pennsylvania', 'Washington'): 2311.4210526315787,
 ('Pennsylvania', 'Nebraska'): 1088.0,
 ('Pennsylvania', 'Rhode Island'): 237.0,
 ('Pennsylvania', 'Louisiana'): 1074.4024390243903,
 ('Pennsylvania', 'Alabama'): 772.0,
 ('Pennsylvania', 'Puerto Rico'): 1582.3921568627452,
 ('Pennsylvania', 'Oregon'): 2406.0,
 ('Pennsylvania', 'Arkansas'): 1066.0,
 ('Ohio', 'Colorado'): 1163.774193548387,
 ('Ohio', 'Illinois'): 292.0990675990676,
 ('Ohio', 'Michigan'): 138.84149855907782,
 ('Ohio', 'Georgia'): 494.86221009549797,
 ('Ohio', 'Nevada'): 1796.4708737864078,
 ('Ohio', 'Wisconsin'): 328.0,
 ('Ohio', 'Pennsylvania'): 404.71386430678467,
 ('Ohio', 'Maryland'): 325.60849056603774,
 ('Ohio', 'Minnesota'): 608.609375,
 ('Ohio', 'Virginia'): 318.4118372379778,
 ('Ohio', 'California'): 2072.2580645161293,
 ('Ohio', 'New York'): 450.9006928406466,
 ('Ohio', 'Texas'): 997.3838235294118,
 ('Ohio', 'Florida'): 923.9055258467023,
 ('Ohio', 'New Jersey'): 437.6741154562384,
 ('Ohio', nan): nan,
 ('Ohio', 'North Carolina'): 390.11059190031153,
 ('Ohio', 'Louisiana'): 863.975,
 ('Ohio', 'Massachusetts'): 592.546511627907,
 ('Ohio', 'Arizona'): 1698.4520547945206,
 ('Ohio', 'South Carolina'): 520.6774193548387,
 ('Ohio', 'Missouri'): 450.7083333333333,
 ('Ohio', 'Connecticut'): 476.0,
 ('Ohio', 'Tennessee'): 400.6617647058824,
 ('Ohio', 'Washington'): 2017.0,
 ('Ohio', 'Oregon'): 2045.0,
 ('Ohio', 'Utah'): 1552.6666666666667,
 ('Texas', 'Colorado'): 727.5441478439425,
 ('Texas', 'Oklahoma'): 305.753264604811,
 ('Texas', 'California'): 1324.811132173014,
 ('Texas', nan): nan,
 ('Texas', 'Tennessee'): 615.9650259067357,
 ('Texas', 'Pennsylvania'): 1243.2053675612601,
 ('Texas', 'Texas'): 285.3906074591493,
 ('Texas', 'Alabama'): 556.2077922077922,
 ('Texas', 'Nebraska'): 677.7245901639344,
 ('Texas', 'Arizona'): 831.6071428571429,
 ('Texas', 'North Carolina'): 991.5555555555555,
 ('Texas', 'Maryland'): 1264.7222222222222,
 ('Texas', 'Washington'): 1734.0217391304348,
 ('Texas', 'Florida'): 890.3647665962936,
 ('Texas', 'Michigan'): 1045.4226804123712,
 ('Texas', 'Illinois'): 892.1790315415371,
 ('Texas', 'Virginia'): 1211.7619699042407,
 ('Texas', 'Oregon'): 1684.6433823529412,
 ('Texas', 'Utah'): 1083.5577507598784,
 ('Texas', 'Nevada'): 1087.3345565749235,
 ('Texas', 'New Mexico'): 606.1209476309227,
 ('Texas', 'New York'): 1416.8941485864564,
 ('Texas', 'Louisiana'): 309.31525698097937,
 ('Texas', 'Missouri'): 556.8740251949611,
 ('Texas', 'Minnesota'): 968.9411764705883,
 ('Texas', 'Arkansas'): 312.7930283224401,
 ('Texas', 'Georgia'): 764.4760649978041,
 ('Texas', 'Massachusetts'): 1597.6176991150442,
 ('Texas', 'Kentucky'): 816.6157142857143,
 ('Texas', 'Ohio'): 997.5287713841368,
 ('Texas', 'Mississippi'): 400.4945533769063,
 ('Texas', 'South Dakota'): 786.0,
 ('Texas', 'New Jersey'): 1426.847665847666,
 ('Texas', 'Hawaii'): 3791.195652173913,
 ('Texas', 'South Carolina'): 919.8184210526316,
 ('Texas', 'Montana'): 1237.065934065934,
 ('Texas', 'Wisconsin'): 900.3576642335767,
 ('Texas', 'Indiana'): 804.5398633257403,
 ('Texas', 'Wyoming'): 951.4516129032259,
 ('Texas', 'Kansas'): 428.24863387978144,
 ('Texas', 'North Dakota'): 972.5,
 ('Texas', 'Iowa'): 697.031746031746,
 ('Texas', 'Puerto Rico'): 2069.2988505747126,
 ('Texas', 'U.S. Virgin Islands'): 2070.0,
 ('Texas', 'Connecticut'): 1484.68,
 ('Texas', 'West Virginia'): 975.0,
 ('Texas', 'Idaho'): 1365.936170212766,
 ('Texas', 'Alaska'): 3154.5,
 ('Texas', 'Rhode Island'): 1662.0,
 ('Arizona', 'Nevada'): 348.74341192787796,
 ('Arizona', 'Washington'): 1105.5885093167701,
 ('Arizona', 'Texas'): 825.8450854700855,
 ('Arizona', 'Pennsylvania'): 1988.0,
 ('Arizona', 'California'): 465.0024591996423,
 ('Arizona', 'Colorado'): 580.6422689844464,
 ('Arizona', nan): nan,
 ('Arizona', 'Illinois'): 1433.939477303989,
 ('Arizona', 'Arizona'): 125.58084772370486,
 ('Arizona', 'North Carolina'): 1790.6612021857923,
 ('Arizona', 'Oklahoma'): 866.7951807228916,
 ('Arizona', 'Oregon'): 989.6646706586827,
 ('Arizona', 'Kentucky'): 1537.2328767123288,
 ('Arizona', 'Tennessee'): 1398.4015151515152,
 ('Arizona', 'Utah'): 488.1782363977486,
 ('Arizona', 'Missouri'): 1145.1768292682927,
 ('Arizona', 'Iowa'): 1176.1875,
 ('Arizona', 'New York'): 2099.98,
 ('Arizona', 'New Jersey'): 2133.0,
 ('Arizona', 'Minnesota'): 1276.787162162162,
 ('Arizona', 'Idaho'): 732.591304347826,
 ('Arizona', 'Ohio'): 1700.886524822695,
 ('Arizona', 'Georgia'): 1579.2785714285715,
 ('Arizona', 'Nebraska'): 1021.4705882352941,
 ('Arizona', 'North Dakota'): 1190.844827586207,
 ('Arizona', 'Massachusetts'): 2300.0,
 ('Arizona', 'Montana'): 925.98,
 ('Arizona', 'Florida'): 1878.2332155477031,
 ('Arizona', 'New Mexico'): 338.2358490566038,
 ('Arizona', 'Indiana'): 1496.1971830985915,
 ('Arizona', 'Wisconsin'): 1453.0689655172414,
 ('Arizona', 'Arkansas'): 1131.0,
 ('Arizona', 'Maryland'): 1999.0,
 ('Arizona', 'Virginia'): 1974.8117647058823,
 ('Arizona', 'South Dakota'): 1007.46,
 ('Arizona', 'Hawaii'): 2900.891156462585,
 ('Arizona', 'Michigan'): 1651.3352272727273,
 ('Arizona', 'Kansas'): 865.0,
 ('Arizona', 'Louisiana'): 1300.0,
 ('Arizona', 'Wyoming'): 705.0,
 ('Arizona', 'Alaska'): 2552.0,
 ('Connecticut', 'Georgia'): 859.0,
 ('Connecticut', 'Florida'): 1115.3246753246754,
 ('Connecticut', 'Virginia'): 318.55254237288136,
 ('Connecticut', 'Maryland'): 283.0,
 ('Connecticut', 'Illinois'): 781.5298013245033,
 ('Connecticut', nan): nan,
 ('Connecticut', 'North Carolina'): 623.32,
 ('Connecticut', 'Michigan'): 549.0,
 ('Connecticut', 'Pennsylvania'): 182.48295454545453,
 ('Connecticut', 'California'): 2561.086956521739,
 ('Connecticut', 'Minnesota'): 1050.0,
 ('Connecticut', 'Missouri'): 957.0,
 ('Connecticut', 'Colorado'): 1671.0,
 ('Connecticut', 'Texas'): 1484.4117647058824,
 ('Connecticut', 'Puerto Rico'): 1666.0,
 ('Connecticut', 'New Jersey'): 116.0,
 ('Connecticut', 'South Carolina'): 664.0,
 ('Connecticut', 'Kentucky'): 661.0,
 ('Connecticut', 'Ohio'): 476.0,
 ('Connecticut', 'Nevada'): 2297.0,
 ('Maryland', 'Texas'): 1270.0947867298578,
 ('Maryland', 'New Hampshire'): 377.0,
 ('Maryland', 'Illinois'): 616.1234817813765,
 ('Maryland', 'Florida'): 847.9142312579415,
 ('Maryland', 'Connecticut'): 283.0,
 ('Maryland', 'California'): 2365.8796992481202,
 ('Maryland', 'Nevada'): 2106.0,
 ('Maryland', 'New York'): 253.38645980253878,
 ('Maryland', 'Georgia'): 576.3183520599251,
 ('Maryland', 'Colorado'): 1491.0,
 ('Maryland', 'Minnesota'): 936.0,

## time_diff 컬럼추가

In [67]:
train_df['time_diff']=np.nan

In [68]:
train_df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay,time_diff
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN,NaN
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN,NaN
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN,NaN
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN,NaN
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN,NaN
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN,NaN
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN,NaN
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN,NaN
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN,NaN

In [69]:
#train_df에 시간차이의 평균과 거리 평균 컬럼으로 추가
for i in range(len(train_df)):
    if (train_df['Origin_State'].iloc[i], train_df['Destination_State'].iloc[i]) in time_diff_dict.keys():
        train_df['time_diff'].iloc[i] = time_diff_dict[train_df['Origin_State'].iloc[i], train_df['Destination_State'].iloc[i]]

In [70]:
train_df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay,time_diff
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN,130.941054
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN,261.236467
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN,183.983978
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN,834.949679
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN,135.909674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN,NaN
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN,NaN
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN,NaN
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN,NaN
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN,277.426976

## 출발,도착예정시간 결측치 채우기

In [113]:
for i in range(len(train_df)):
    #출발시간은 데이터가 존재하고, 도착시간은 존재하지않을 때
    if train_df['Estimated_Departure_Time'].iloc[i].astype(str)!='nan' and train_df['Estimated_Arrival_Time'].iloc[i].astype(str)=='nan': 
        train_df['Estimated_Arrival_Time'].iloc[i] = train_df['Estimated_Departure_Time'].iloc[i] + train_df['time_diff'].iloc[i]
     #출발시간은 존재하지 않고, 도착시간은 존재할때    
    elif train_df['Estimated_Departure_Time'].iloc[i].astype(str)=='nan' and train_df['Estimated_Arrival_Time'].iloc[i].astype(str)!='nan': 
        train_df['Estimated_Departure_Time'].iloc[i] = train_df['Estimated_Arrival_Time'].iloc[i] - train_df['time_diff'].iloc[i]

In [115]:
train_df.isna().sum()

ID                               0
Month                            0
Day_of_Month                     0
Estimated_Departure_Time     31786
Estimated_Arrival_Time       31913
Cancelled                        0
Diverted                         0
Origin_Airport                   0
Origin_Airport_ID                0
Origin_State                109015
Destination_Airport              0
Destination_Airport_ID           0
Destination_State           109079
Distance                         0
Airline                     108920
Carrier_Code(IATA)          108990
Carrier_ID(DOT)             108997
Tail_Number                      0
Delay                       744999
time_diff                   206854
dtype: int64

In [117]:
train_df[:30]

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay,time_diff
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN,130.941054
1,TRAIN_000001,8,15,740.0,1024.000000,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN,261.236467
2,TRAIN_000002,9,6,1610.0,1805.000000,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN,183.983978
3,TRAIN_000003,7,10,905.0,1735.000000,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN,834.949679
4,TRAIN_000004,1,11,900.0,1019.000000,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN,135.909674
5,TRAIN_000005,4,13,1545.0,NaN,0,0,EWR,11618,NaN,DCA,11278,Virginia,199.0,Republic Airlines,UA,20452.0,N657RW,Not_Delayed,NaN
6,TRAIN_000006,1,20,1742.0,1903.000000,0,0,EWR,11618,New Jersey,BOS,10721,Massachusetts,200.0,United Air Lines Inc.,UA,NaN,N66825,Not_Delayed,120.928196
7,TRAIN_000007,4,20,1815.0,1955.000000,0,0,ORD,13930,Illinois,MCI,13198,Missouri,403.0,NaN,UA,20304.0,N110SY,NaN,141.636706
8,TRAIN_000008,6,13,1420.0,1550.000000,0,0,BWI,10821,NaN,CLT,11057,North Carolina,361.0,Southwest Airlines Co.,WN,19393.0,N765SW,Not_Delayed,NaN
9,TRAIN_000009,6,6,650.0,838.000000,0,0,LIT,12992,Arkansas,IAH,12266,Texas,374.0,ExpressJet Airlines Inc.,UA,20366.0,N14902,NaN,134.970684
10,TRAIN_000010,8,13,1730.0,1844.000000,0,0,DCA,11278,Virginia,PIT,14122,Pennsylvania,204.0,Republic Airlines,AA,NaN,N119HQ,Delayed,110.011089
11,TRAIN_000011,3,18,600.0,748.000000,0,0,PHL,14100,Pennsylvania,DTW,11433,Michigan,453.0,Delta Air Lines Inc.,DL,19790.0,N3730B,NaN,165.522923
12,TRAIN_000012,1,12,1015.0,1145.000000,0,0,CLE,11042,Ohio,DEN,11292,Colorado,1201.0,Southwest Airlines Co.,WN,NaN,N8696E,Not_Delayed,131.439883
13,TRAIN_000013,9,19,615.0,706.000000,0,0,MAF,13158,Texas,DEN,11292,Colorado,563.0,SkyWest Airlines Inc.,UA,20304.0,N165SY,Not_Delayed,129.023956
14,TRAIN_000014,12,18,845.0,855.000000,0,0,PHX,14107,Arizona,LAS,12889,Nevada,255.0,Southwest Airlines Co.,WN,19393.0,N705SW,NaN,99.533981
15,TRAIN_000015,11,18,1355.0,1532.000000,0,0,PIT,14122,Pennsylvania,LGA,12953,New York,335.0,SkyWest Airlines Inc.,NaN,20304.0,N262SY,NaN,136.038688
16,TRAIN_000016,4,5,1111.0,1412.000000,0,0,SFO,14771,California,SLC,14869,Utah,599.0,SkyWest Airlines Inc.,UA,20304.0,N144SY,NaN,282.120553
17,TRAIN_000017,8,10,1400.0,1624.000000,0,0,EWR,11618,New Jersey,JAX,12451,Florida,820.0,NaN,UA,20452.0,N722YX,NaN,288.828154
18,TRAIN_000018,8,11,1215.0,1258.000000,0,0,CRW,11146,NaN,ORD,13930,NaN,416.0,NaN,NaN,20046.0,N440AW,NaN,NaN
19,TRAIN_000019,7,14,1907.0,2145.000000,0,0,BDL,10529,Connecticut,ATL,10397,Georgia,859.0,Delta Air Lines Inc.,DL,19790.0,N962DN,Not_Delayed,258.030075
20,TRAIN_000020,7,2,620.0,766.643701,0,0,BWI,10821,Maryland,BOS,10721,Massachusetts,369.0,Southwest Airlines Co.,WN,19393.0,N292WN,NaN,146.643701
21,TRAIN_000021,5,8,1955.0,2155.000000,0,0,OAK,13796,California,PHX,14107,NaN,646.0,Southwest Airlines Co.,WN,19393.0,N231WN,NaN,NaN
22,TRAIN_000022,3,6,1030.0,1150.000000,0,0,BUF,10792,New York,IAD,12264,Virginia,283.0,Air Wisconsin Airlines Corp,UA,20046.0,N421ZW,NaN,144.611015
23,TRAIN_000023,10,18,1750.0,2259.000000,0,0,LAX,12892,California,MCI,13198,Missouri,1363.0,Delta Air Lines Inc.,DL,19790.0,N355NW,NaN,550.367232
24,TRAIN_000024,11,28,1030.0,1095.442786,0,0,TPA,15304,Florida,BHM,10599,Alabama,459.0,Southwest Airlines Co.,WN,19393.0,N921WN,NaN,65.442786
25,TRAIN_000025,12,24,NaN,2020.000000,0,0,STS,15023,NaN,SEA,14747,Washington,618.0,Horizon Air,AS,19687.0,N451QX,NaN,NaN
26,TRAIN_000026,8,26,644.0,805.000000,0,0,BUF,10792,New York,BOS,10721,Massachusetts,395.0,JetBlue Airways,B6,20409.0,N306JB,NaN,131.498705
27,TRAIN_000027,12,2,2123.0,2217.000000,0,0,PHX,14107,Arizona,RNO,14570,Nevada,601.0,American Airlines Inc.,AA,19805.0,N980AN,NaN,99.533981
28,TRAIN_000028,8,7,930.0,1059.293651,0,0,SAN,14679,California,LAS,12889,Nevada,258.0,Spirit Air Lines,NK,20416.0,N628NK,Not_Delayed,129.293651
29,TRAIN_000029,10,20,800.0,1034.178808,0,0,SEA,14747,Washington,ANC,10299,Alaska,1448.0,Alaska Airlines Inc.,AS,19930.0,N457AS,NaN,234.178808