In [1]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px
import math
import json
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
from IPython.display import Image
import seaborn as sns
import missingno as msnco

In [2]:
train_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dacon/train.csv')
test_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dacon/test.csv')

In [3]:
sample_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dacon/sample_submission.csv')

In [4]:
train_df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN

In [5]:
train_df.nunique()

ID                          1000000
Month                            12
Day_of_Month                     31
Estimated_Departure_Time       1365
Estimated_Arrival_Time         1428
Cancelled                         1
Diverted                          1
Origin_Airport                  374
Origin_Airport_ID               374
Origin_State                     52
Destination_Airport             375
Destination_Airport_ID          375
Destination_State                52
Distance                       1597
Airline                          28
Carrier_Code(IATA)               11
Carrier_ID(DOT)                  28
Tail_Number                    6430
Delay                             2
dtype: int64

In [6]:
train_df.drop(['Cancelled','Diverted'], axis=1, inplace= True) #Cancelled와 Diverted 데이터는 모든 데이터가 0으로 존재 --> drop

In [ ]:
#Origin_Airport와 Origin_Airpirt_ID는 동일한 정보를 나타내므로 둘 중 하나를 drop
train_df.drop('Origin_Airport', axis=1, inplace= True)

In [ ]:
#Destination_Airport와 Destination_Airport_ID는 동일한 정보를 나타내므로 둘 중 하나 drop
train_df.drop('Destination_Airport', axis =1, inplace= True)

In [7]:
train_df.isna().sum()

ID                               0
Month                            0
Day_of_Month                     0
Estimated_Departure_Time    109019
Estimated_Arrival_Time      109040
Origin_Airport                   0
Origin_Airport_ID                0
Origin_State                109015
Destination_Airport              0
Destination_Airport_ID           0
Destination_State           109079
Distance                         0
Airline                     108920
Carrier_Code(IATA)          108990
Carrier_ID(DOT)             108997
Tail_Number                      0
Delay                       744999
dtype: int64

In [8]:
train_df.nunique() #airline과 carrier_ID(dot) 같은 정보

ID                          1000000
Month                            12
Day_of_Month                     31
Estimated_Departure_Time       1365
Estimated_Arrival_Time         1428
Origin_Airport                  374
Origin_Airport_ID               374
Origin_State                     52
Destination_Airport             375
Destination_Airport_ID          375
Destination_State                52
Distance                       1597
Airline                          28
Carrier_Code(IATA)               11
Carrier_ID(DOT)                  28
Tail_Number                    6430
Delay                             2
dtype: int64

In [9]:
#delay 1, 0 으로 변환
dic = {'Not_Delayed' : 0, 'Delayed' : 1}
train_df['Delay'] = train_df['Delay'].map(dic) # delay float타입으로 변경

In [ ]:
train_df.columns

Index(['ID', 'Month', 'Day_of_Month', 'Estimated_Departure_Time',
       'Estimated_Arrival_Time', 'Origin_Airport_ID', 'Origin_State',
       'Destination_Airport_ID', 'Destination_State', 'Distance', 'Airline',
       'Carrier_Code(IATA)', 'Carrier_ID(DOT)', 'Tail_Number', 'Delay'],
      dtype='object')

In [10]:
df = train_df[['ID','Estimated_Departure_Time','Estimated_Arrival_Time','Origin_State','Destination_State','Distance','Delay']]

In [11]:
df

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance,Delay
0,TRAIN_000000,NaN,NaN,Oklahoma,Texas,419.0,NaN
1,TRAIN_000001,740.0,1024.0,Illinois,Utah,1250.0,NaN
2,TRAIN_000002,1610.0,1805.0,North Carolina,New York,544.0,NaN
3,TRAIN_000003,905.0,1735.0,California,New Jersey,2454.0,NaN
4,TRAIN_000004,900.0,1019.0,California,California,250.0,NaN
...,...,...,...,...,...,...,...
999995,TRAIN_999995,936.0,1243.0,NaN,NaN,678.0,NaN
999996,TRAIN_999996,920.0,1028.0,NaN,Minnesota,223.0,NaN
999997,TRAIN_999997,800.0,1340.0,NaN,Texas,1642.0,NaN
999998,TRAIN_999998,1613.0,1824.0,Tennessee,NaN,214.0,NaN
999999,TRAIN_999999,1800.0,2056.0,Florida,Michigan,1084.0,NaN

#첫번째 비행시간 계산

In [ ]:
train_df

In [ ]:
train_df['flight_time'] = train_df['Estimated_Arrival_Time']- train_df['Estimated_Departure_Time']  #비행시간 컬럼 추가 
train_df['flight_time'] = train_df['flight_time'].apply(lambda x : x+2400 if x<0 else x)
train_df['flight_time'] = train_df['flight_time'].apply(lambda x : x+40 if x%100//10>=6 else x)

In [ ]:
#첫번째 방법 -- 거리별 비행시간 계산
# import math

flight_mean = train_df['flight_time'].mean() #비행시간 평균
distance_mean =  train_df['Distance'].mean() #거리 평균
means = flight_mean/distance_mean

train_df['flight_time'] = train_df['flight_time'].fillna(round(train_df['Distance']*means))  #비행시간 결측치인 데이터에 거리별 비행시간 계산해서 넣기

0.3175785343381852

In [ ]:
#두번째 방법  -- 거리별 비행시간을 회귀 모델로 학습시키기 
#x 거리  y 비행시간

In [ ]:
X_train = train_df['flight_time'].dropna()
idx = X_train.index

y_train = train_df.loc[idx]['flight_time']

X_train = X_train.values.reshape(-1,1) 
y_train = y_train.values.reshape(-1,1)

test_data = train_df[train_df['flight_time'].isna()] 
X_test = test_data['Distance']

X_test = X_test.values.reshape(-1,1)

In [ ]:
#단순 선형 회귀모델

# 모델 임포트 
from sklearn.linear_model import LinearRegression

# 모델 인스턴스 생성
lin_reg = LinearRegression()

# 모델 피팅
lin_reg.fit(X_train,y_train)

# 모델 예측
y_pred = lin_reg.predict(X_test)
y_pred

array([[ 419.],
       [ 199.],
       [ 369.],
       ...,
       [ 646.],
       [ 802.],
       [1476.]])

In [ ]:
#문제점 

# 시간을 빼서 구할 순 있음. 하지만 며칠이 걸렸는지가 알수 없어 애매.

도착예정시간 - 출발예정시간 = 비행시간   
문제점 
- 정확한 도착 예정 날짜가 나와있는게 아닌 시간만 나와있어서 비행시간 25시간과 1시간의 차이를 구분할 수 없음. 
- 출발시간과 도착시간이 같아 비행시간이 0으로 나오는 경우가 존재 --> 출발예정시간은 출발주의 시간을, 도착예정시간은 도착주의 시간을 기준으로 나와있어 시차가 존재하여 단순히 도착예정시간과 출발예정시간을 빼면 안됨. 시차 고려가 필요  

해결방법  
- 출발주 A, 도착주가 B인 경우의 비행시간과  출발주B, 도착주A인 경우의 비행시간과  비교하여 각각 나온 비행시간을 빼고 2로 나누어 시차를 계산

# 두번째

In [ ]:
train_df[train_df['Origin_State']=='Texas']
#텍사스 출발 캘리포니아 도착 2041  2210   거리 1379   / 1시간 30분

In [ ]:
train_df[train_df['Origin_State']=='California'] 
#캘리포티아 출발 텍사스 도착 1150   1705  거리 1346  / 5시간 15분

In [ ]:
train_df.nunique()

ID                          1000000
Month                            12
Day_of_Month                     31
Estimated_Departure_Time       1365
Estimated_Arrival_Time         1428
Origin_Airport                  374
Origin_Airport_ID               374
Origin_State                     52
Destination_Airport             375
Destination_Airport_ID          375
Destination_State                52
Distance                       1597
Airline                          28
Carrier_Code(IATA)               11
Carrier_ID(DOT)                  28
Tail_Number                    6430
Delay                             2
dtype: int64

In [ ]:
train_df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
0,TRAIN_000000,4,15,NaN,NaN,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN
1,TRAIN_000001,8,15,740.0,1024.0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN
2,TRAIN_000002,9,6,1610.0,1805.0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN
3,TRAIN_000003,7,10,905.0,1735.0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN
4,TRAIN_000004,1,11,900.0,1019.0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN
999996,TRAIN_999996,5,30,920.0,1028.0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN
999997,TRAIN_999997,6,28,800.0,1340.0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN
999998,TRAIN_999998,9,27,1613.0,1824.0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN
999999,TRAIN_999999,3,26,1800.0,2056.0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN

In [ ]:
df = train_df[['ID','Estimated_Departure_Time','Estimated_Arrival_Time','Origin_State','Destination_State','Distance']]
df

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance
0,TRAIN_000000,NaN,NaN,Oklahoma,Texas,419.0
1,TRAIN_000001,740.0,1024.0,Illinois,Utah,1250.0
2,TRAIN_000002,1610.0,1805.0,North Carolina,New York,544.0
3,TRAIN_000003,905.0,1735.0,California,New Jersey,2454.0
4,TRAIN_000004,900.0,1019.0,California,California,250.0
...,...,...,...,...,...,...
999995,TRAIN_999995,936.0,1243.0,NaN,NaN,678.0
999996,TRAIN_999996,920.0,1028.0,NaN,Minnesota,223.0
999997,TRAIN_999997,800.0,1340.0,NaN,Texas,1642.0
999998,TRAIN_999998,1613.0,1824.0,Tennessee,NaN,214.0
999999,TRAIN_999999,1800.0,2056.0,Florida,Michigan,1084.0

In [ ]:
df['Origin_State'].nunique

<bound method IndexOpsMixin.nunique of 0               Oklahoma
1               Illinois
2         North Carolina
3             California
4             California
               ...
999995               NaN
999996               NaN
999997               NaN
999998         Tennessee
999999           Florida
Name: Origin_State, Length: 1000000, dtype: object>

In [ ]:
# for i in #origin_state.nuique  출발주 52개 리스트
    # for j in destination_state: 도착주 52개 리스트 
        # if df[(df['Origin_State']==i) & (df['Destination_State']==j)]
df = df.dropna(subset=['Origin_State','Destination_State'])

In [ ]:
df  # 시차를 알아 / 출발시간이 중요할 수도 있기 때문에 한 state를 기준으로 하는게 아니라 출발 state를 기준으로 시차를 다 적어주어야함

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance
0,TRAIN_000000,NaN,NaN,Oklahoma,Texas,419.0
1,TRAIN_000001,740.0,1024.0,Illinois,Utah,1250.0
2,TRAIN_000002,1610.0,1805.0,North Carolina,New York,544.0
3,TRAIN_000003,905.0,1735.0,California,New Jersey,2454.0
4,TRAIN_000004,900.0,1019.0,California,California,250.0
...,...,...,...,...,...,...
999990,TRAIN_999990,NaN,751.0,Illinois,Texas,802.0
999991,TRAIN_999991,1720.0,1838.0,Virginia,New York,250.0
999992,TRAIN_999992,1307.0,1707.0,Wyoming,Illinois,1162.0
999993,TRAIN_999993,603.0,755.0,Virginia,Colorado,1452.0
999999,TRAIN_999999,1800.0,2056.0,Florida,Michigan,1084.0

In [ ]:
origin_state_list = df['Origin_State'].unique().tolist()
origin_state_list

In [ ]:
destination_state_list = df['Destination_State'].unique().tolist()
destination_state_list

In [ ]:
origin_state_list.sort()
destination_state_list.sort()

In [ ]:
origin_state_list == destination_state_list  #일치

True

In [ ]:
df = df.dropna()
df

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance
1,TRAIN_000001,740.0,1024.0,Illinois,Utah,1250.0
2,TRAIN_000002,1610.0,1805.0,North Carolina,New York,544.0
3,TRAIN_000003,905.0,1735.0,California,New Jersey,2454.0
4,TRAIN_000004,900.0,1019.0,California,California,250.0
6,TRAIN_000006,1742.0,1903.0,New Jersey,Massachusetts,200.0
...,...,...,...,...,...,...
999989,TRAIN_999989,1717.0,2019.0,New Jersey,Florida,1023.0
999991,TRAIN_999991,1720.0,1838.0,Virginia,New York,250.0
999992,TRAIN_999992,1307.0,1707.0,Wyoming,Illinois,1162.0
999993,TRAIN_999993,603.0,755.0,Virginia,Colorado,1452.0
999999,TRAIN_999999,1800.0,2056.0,Florida,Michigan,1084.0

In [ ]:
len(df)

630076

In [ ]:
li = origin_state_list
li

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'U.S. Pacific Trust Territories and Possessions',
 'U.S. Virgin Islands',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [ ]:
a = df[df['Origin_State']=='Alabama']['Destination_State'].values.tolist()

In [ ]:
a = list(set(a))
a

['North Carolina',
 'Virginia',
 'Colorado',
 'Illinois',
 'New York',
 'Maryland',
 'Florida',
 'Nevada',
 'Pennsylvania',
 'Michigan',
 'Texas',
 'Georgia']

In [ ]:
for i in a:
    if df[df['Origin_State']==i]

In [ ]:
df[(df['Origin_State']=='Virginia') & (df['Destination_State']=='Alabama')]  #이렇게 해서 평균 거리랑, 도착시간-출발시간 //  alabama 출발 virginia 도착 // 1시간 10분

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance
3049,TRAIN_003049,750.0,908.0,Virginia,Alabama,693.0
6494,TRAIN_006494,837.0,945.0,Virginia,Alabama,653.0
12711,TRAIN_012711,1420.0,1527.0,Virginia,Alabama,613.0
16134,TRAIN_016134,759.0,908.0,Virginia,Alabama,693.0
19627,TRAIN_019627,1705.0,1808.0,Virginia,Alabama,596.0
...,...,...,...,...,...,...
985137,TRAIN_985137,1705.0,1807.0,Virginia,Alabama,596.0
986352,TRAIN_986352,815.0,910.0,Virginia,Alabama,596.0
993629,TRAIN_993629,758.0,922.0,Virginia,Alabama,693.0
997056,TRAIN_997056,758.0,913.0,Virginia,Alabama,693.0
997863,TRAIN_997863,759.0,902.0,Virginia,Alabama,693.0

In [ ]:
df[(df['Origin_State']=='Alabama') & (df['Destination_State']=='Virginia')]  #평균 거리랑 도착시간- 출발시간  ///  3시간   --> 시차 한시간 차이 맞네

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance
110,TRAIN_000110,940.0,1247.0,Alabama,Virginia,693.0
2773,TRAIN_002773,1057.0,1355.0,Alabama,Virginia,653.0
4846,TRAIN_004846,1111.0,1359.0,Alabama,Virginia,613.0
15118,TRAIN_015118,603.0,906.0,Alabama,Virginia,653.0
18033,TRAIN_018033,1112.0,1418.0,Alabama,Virginia,653.0
...,...,...,...,...,...,...
977535,TRAIN_977535,1056.0,1359.0,Alabama,Virginia,653.0
981121,TRAIN_981121,901.0,1159.0,Alabama,Virginia,613.0
989382,TRAIN_989382,855.0,1150.0,Alabama,Virginia,596.0
993554,TRAIN_993554,1829.0,2130.0,Alabama,Virginia,613.0
997464,TRAIN_997464,1840.0,2128.0,Alabama,Virginia,596.0

In [ ]:
#함수로 만들어서 최종 데이터프레임에 apply 하는 식으로?

# 시차 고려

In [ ]:
df

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance,Delay
0,TRAIN_000000,NaN,NaN,Oklahoma,Texas,419.0,NaN
1,TRAIN_000001,740.0,1024.0,Illinois,Utah,1250.0,NaN
2,TRAIN_000002,1610.0,1805.0,North Carolina,New York,544.0,NaN
3,TRAIN_000003,905.0,1735.0,California,New Jersey,2454.0,NaN
4,TRAIN_000004,900.0,1019.0,California,California,250.0,NaN
...,...,...,...,...,...,...,...
999990,TRAIN_999990,NaN,751.0,Illinois,Texas,802.0,NaN
999991,TRAIN_999991,1720.0,1838.0,Virginia,New York,250.0,NaN
999992,TRAIN_999992,1307.0,1707.0,Wyoming,Illinois,1162.0,0.0
999993,TRAIN_999993,603.0,755.0,Virginia,Colorado,1452.0,NaN
999999,TRAIN_999999,1800.0,2056.0,Florida,Michigan,1084.0,NaN

In [ ]:
def find_time_lag(train_df, state):
    OA = train_df[train_df['Origin_State'] == state]
    predict_st = OA.Destination_State.unique().tolist()
    DA = train_df[train_df['Destination_State'] == state]
    time_delay_dict = {}
    for st in predict_st:
        st_oa = OA[OA['Destination_State'] == st]
        st_oa_diff = st_oa.Estimated_Arrival_Time.mean() - st_oa.Estimated_Departure_Time.mean()
        st_da = DA[DA['Origin_State'] == st]
        st_da_diff = st_da.Estimated_Arrival_Time.mean() - st_da.Estimated_Departure_Time.mean()
        time_delay = st_da_diff - st_oa_diff
        time_delay_dict[state, st] = -((time_delay/2)//60)*60
    
    return time_delay_dict

In [ ]:
time_delay = dict()
for i in train_df['Origin_State'].unique().tolist():
    time_delay.update(find_time_lag(train_df, i))

In [ ]:
time_delay = dict()
for i in train_df['Origin_State'].unique().tolist():
    time_delay.update(find_time_lag(train_df, i))
print(time_delay)

{('Oklahoma', 'Texas'): 0, ('Oklahoma', 'Colorado'): -2, ('Oklahoma', 'Georgia'): 1, ('Oklahoma', 'Illinois'): 0, ('Oklahoma', 'New Jersey'): 1, ('Oklahoma', 'California'): -3, ('Oklahoma', 'Virginia'): 1, ('Oklahoma', 'Florida'): 1, ('Oklahoma', 'Missouri'): 0, ('Oklahoma', 'Nevada'): -1, ('Oklahoma', 'North Carolina'): 2, ('Oklahoma', 'Minnesota'): 0, ('Oklahoma', 'Arizona'): -2, ('Oklahoma', 'Utah'): -2, ('Oklahoma', 'Maryland'): 1, ('Oklahoma', 'Michigan'): 1, ('Oklahoma', 'Pennsylvania'): 1, ('Oklahoma', 'Washington'): -3, ('Illinois', 'Utah'): -1, ('Illinois', 'Missouri'): 0, ('Illinois', 'Kentucky'): 0, ('Illinois', 'Tennessee'): 0, ('Illinois', 'Ohio'): 0, ('Illinois', 'Minnesota'): 0, ('Illinois', 'West Virginia'): 2, ('Illinois', 'Michigan'): 1, ('Illinois', 'Oklahoma'): 0, ('Illinois', 'Washington'): 0, ('Illinois', 'New York'): 1, ('Illinois', 'Texas'): 0, ('Illinois', 'California'): 0, ('Illinois', 'Indiana'): 1, ('Illinois', 'Illinois'): 0, ('Illinois', 'Pennsylvania'): 0, ('Illinois', 'North Carolina'): -1, ('Illinois', 'Virginia'): 1, ('Illinois', 'North Dakota'): 0, ('Illinois', 'Massachusetts'): 0, ('Illinois', 'Florida'): 1, ('Illinois', 'Nevada'): 0, ('Illinois', 'New Mexico'): -2, ('Illinois', 'South Dakota'): -1, ('Illinois', 'Maine'): 1, ('Illinois', 'Louisiana'): -1, ('Illinois', 'Georgia'): 1, ('Illinois', 'Wisconsin'): 0, ('Illinois', 'Rhode Island'): -2, ('Illinois', 'Nebraska'): 0, ('Illinois', 'Alabama'): 0, ('Illinois', 'Arkansas'): 0, ('Illinois', 'South Carolina'): -1, ('Illinois', 'Maryland'): -1, ('Illinois', 'Arizona'): -1, ('Illinois', 'Iowa'): 0, ('Illinois', 'Colorado'): -1, ('Illinois', 'Connecticut'): -2, ('Illinois', 'Idaho'): -1, ('Illinois', 'Kansas'): 0, ('Illinois', 'New Jersey'): -1, ('Illinois', 'Mississippi'): 0, ('Illinois', 'New Hampshire'): -5, ('Illinois', 'Alaska'): 15, ('Illinois', 'Vermont'): 1, ('Illinois', 'Oregon'): 1, ('Illinois', 'Montana'): -1, ('Illinois', 'Puerto Rico'): 0, ('Illinois', 'Wyoming'): -2, ('Illinois', 'Hawaii'): 13, ('Illinois', 'U.S. Virgin Islands'): 2, ('North Carolina', 'New York'): 0, ('North Carolina', 'Kentucky'): 0, ('North Carolina', 'Washington'): 0, ('North Carolina', 'North Carolina'): 0, ('North Carolina', 'Connecticut'): -2, ('North Carolina', 'Colorado'): -1, ('North Carolina', 'Arkansas'): -2, ('North Carolina', 'South Carolina'): 0, ('North Carolina', 'Maryland'): 0, ('North Carolina', 'Tennessee'): 0, ('North Carolina', 'Utah'): -3, ('North Carolina', 'Massachusetts'): -1, ('North Carolina', 'Michigan'): 0, ('North Carolina', 'New Jersey'): 0, ('North Carolina', 'Minnesota'): -2, ('North Carolina', 'Mississippi'): -2, ('North Carolina', 'Texas'): -1, ('North Carolina', 'Pennsylvania'): 0, ('North Carolina', 'Florida'): -1, ('North Carolina', 'Virginia'): 0, ('North Carolina', 'Georgia'): 0, ('North Carolina', 'Illinois'): 1, ('North Carolina', 'Alabama'): -2, ('North Carolina', 'Missouri'): -2, ('North Carolina', 'Maine'): 0, ('North Carolina', 'Ohio'): 0, ('North Carolina', 'Louisiana'): -1, ('North Carolina', 'West Virginia'): 0, ('North Carolina', 'Rhode Island'): -3, ('North Carolina', 'Iowa'): -2, ('North Carolina', 'Indiana'): -1, ('North Carolina', 'Arizona'): -2, ('North Carolina', 'California'): 2, ('North Carolina', 'New Hampshire'): -2, ('North Carolina', 'Puerto Rico'): 0, ('North Carolina', 'Nevada'): 1, ('North Carolina', 'Oklahoma'): -2, ('North Carolina', 'Wisconsin'): -2, ('North Carolina', 'Nebraska'): -1, ('North Carolina', 'Oregon'): 15, ('North Carolina', 'U.S. Virgin Islands'): 1, ('North Carolina', 'Vermont'): 0, ('North Carolina', 'South Dakota'): -4, ('California', 'New Jersey'): -1, ('California', 'California'): 0, ('California', 'Utah'): 1, ('California', 'Missouri'): 1, ('California', 'Nevada'): 0, ('California', 'Florida'): -2, ('California', 'Oregon'): -1, ('California', 'Arizona'): 0, ('California', 'Indiana'): 0, ('California', 'New Mexico'): 0, ('California', 'Hawaii'): 2, ('California', 'Texas'): 2, ('California', 'Illinois'): 0, ('California', 'New York'): -3, ('California', 'Tennessee'): 0, ('California', 'Washington'): 0, ('California', 'Kentucky'): -3, ('California', 'Colorado'): 1, ('California', 'Minnesota'): 2, ('California', 'Massachusetts'): -2, ('California', 'Georgia'): 1, ('California', 'North Carolina'): -2, ('California', 'Ohio'): -5, ('California', 'Alaska'): 0, ('California', 'Louisiana'): 0, ('California', 'Nebraska'): 3, ('California', 'Pennsylvania'): -4, ('California', 'Virginia'): -1, ('California', 'Michigan'): -1, ('California', 'Idaho'): 0, ('California', 'Wyoming'): 2, ('California', 'Arkansas'): 3, ('California', 'Oklahoma'): 3, ('California', 'Maryland'): -1, ('California', 'Wisconsin'): 2, ('California', 'Montana'): 1, ('California', 'Connecticut'): -16, ('California', 'Iowa'): 4, ('California', 'Kansas'): 3, ('California', 'South Dakota'): 4, ('New Jersey', 'Massachusetts'): 0, ('New Jersey', 'Florida'): 0, ('New Jersey', 'California'): 1, ('New Jersey', 'Nebraska'): -2, ('New Jersey', 'Pennsylvania'): 0, ('New Jersey', 'Michigan'): 0, ('New Jersey', 'North Carolina'): 0, ('New Jersey', 'Missouri'): -2, ('New Jersey', 'Kentucky'): 0, ('New Jersey', 'Minnesota'): 0, ('New Jersey', 'Texas'): 0, ('New Jersey', 'Utah'): 2, ('New Jersey', 'Georgia'): 1, ('New Jersey', 'Illinois'): 1, ('New Jersey', 'Tennessee'): -1, ('New Jersey', 'Colorado'): -1, ('New Jersey', 'Indiana'): 0, ('New Jersey', 'South Carolina'): 0, ('New Jersey', 'Wyoming'): -3, ('New Jersey', 'New York'): 0, ('New Jersey', 'Arizona'): 0, ('New Jersey', 'Maine'): -1, ('New Jersey', 'Virginia'): 0, ('New Jersey', 'Washington'): 3, ('New Jersey', 'Ohio'): 0, ('New Jersey', 'Nevada'): 4, ('New Jersey', 'Wisconsin'): -1, ('New Jersey', 'New Hampshire'): 0, ('New Jersey', 'Rhode Island'): 0, ('New Jersey', 'Louisiana'): -1, ('New Jersey', 'Puerto Rico'): -9, ('New Jersey', 'Oregon'): 1, ('New Jersey', 'Vermont'): 0, ('New Jersey', 'Connecticut'): 0, ('New Jersey', 'Montana'): -3, ('New Jersey', 'Maryland'): 0, ('New Jersey', 'Iowa'): -1, ('New Jersey', 'U.S. Virgin Islands'): 1, ('New Jersey', 'Arkansas'): -1, ('New Jersey', 'South Dakota'): -3, ('New Jersey', 'Oklahoma'): -1, ('New Jersey', 'Hawaii'): 12, ('New Jersey', 'Alaska'): 14, ('Arkansas', 'Texas'): 0, ('Arkansas', 'Virginia'): 2, ('Arkansas', 'North Carolina'): 2, ('Arkansas', 'Florida'): 2, ('Arkansas', 'Minnesota'): -1, ('Arkansas', 'Georgia'): 1, ('Arkansas', 'Colorado'): -2, ('Arkansas', 'Illinois'): 0, ('Arkansas', 'Missouri'): 0, ('Arkansas', 'California'): -3, ('Arkansas', 'Nevada'): -3, ('Arkansas', 'Pennsylvania'): 1, ('Arkansas', 'New York'): 1, ('Arkansas', 'Arizona'): 0, ('Arkansas', 'Michigan'): 1, ('Arkansas', 'New Jersey'): 1, ('Arkansas', 'Kentucky'): 1, ('Virginia', 'Pennsylvania'): 0, ('Virginia', 'Massachusetts'): 0, ('Virginia', 'Florida'): 0, ('Virginia', 'New York'): 0, ('Virginia', 'Virginia'): 0, ('Virginia', 'Minnesota'): -1, ('Virginia', 'Colorado'): -2, ('Virginia', 'Indiana'): -1, ('Virginia', 'Georgia'): 0, ('Virginia', 'West Virginia'): 0, ('Virginia', 'Ohio'): 0, ('Virginia', 'Illinois'): -1, ('Virginia', 'California'): 1, ('Virginia', 'New Jersey'): 0, ('Virginia', 'North Carolina'): 0, ('Virginia', 'Tennessee'): -1, ('Virginia', 'Missouri'): -1, ('Virginia', 'Maine'): 0, ('Virginia', 'Nevada'): 0, ('Virginia', 'Texas'): -1, ('Virginia', 'South Carolina'): 0, ('Virginia', 'Washington'): 0, ('Virginia', 'Connecticut'): -1, ('Virginia', 'New Hampshire'): 0, ('Virginia', 'Alabama'): -1, ('Virginia', 'Iowa'): -1, ('Virginia', 'Kentucky'): 0, ('Virginia', 'Rhode Island'): 0, ('Virginia', 'Louisiana'): -2, ('Virginia', 'Utah'): -3, ('Virginia', 'Michigan'): 0, ('Virginia', 'Vermont'): 0, ('Virginia', 'Arkansas'): -2, ('Virginia', 'Maryland'): 0, ('Virginia', 'Oklahoma'): -1, ('Virginia', 'Oregon'): -3, ('Virginia', 'Wisconsin'): -1, ('Virginia', 'Arizona'): 1, ('Virginia', 'Mississippi'): -2, ('Virginia', 'Puerto Rico'): -1, ('Virginia', 'Hawaii'): 12, ('Virginia', 'Nebraska'): -1, ('Virginia', 'U.S. Virgin Islands'): 1, ('Pennsylvania', 'Michigan'): 0, ('Pennsylvania', 'New York'): 0, ('Pennsylvania', 'Nevada'): 4, ('Pennsylvania', 'California'): 4, ('Pennsylvania', 'Florida'): 1, ('Pennsylvania', 'Maine'): 0, ('Pennsylvania', 'North Carolina'): 0, ('Pennsylvania', 'Pennsylvania'): 0, ('Pennsylvania', 'Illinois'): 0, ('Pennsylvania', 'Georgia'): 1, ('Pennsylvania', 'South Carolina'): 0, ('Pennsylvania', 'Wisconsin'): -2, ('Pennsylvania', 'Texas'): 0, ('Pennsylvania', 'New Jersey'): 0, ('Pennsylvania', 'Minnesota'): -1, ('Pennsylvania', 'Alabama'): -1, ('Pennsylvania', 'Missouri'): -1, ('Pennsylvania', 'Virginia'): 0, ('Pennsylvania', 'Ohio'): 0, ('Pennsylvania', 'Massachusetts'): 0, ('Pennsylvania', 'New Hampshire'): 0, ('Pennsylvania', 'Maryland'): 0, ('Pennsylvania', 'Connecticut'): 0, ('Pennsylvania', 'Colorado'): -3, ('Pennsylvania', 'Kentucky'): 0, ('Pennsylvania', 'Tennessee'): 1, ('Pennsylvania', 'Arizona'): -1, ('Pennsylvania', 'Louisiana'): -1, ('Pennsylvania', 'Oklahoma'): -1, ('Pennsylvania', 'Iowa'): -1, ('Pennsylvania', 'Vermont'): 0, ('Pennsylvania', 'U.S. Virgin Islands'): 0, ('Pennsylvania', 'West Virginia'): 0, ('Pennsylvania', 'Indiana'): 0, ('Pennsylvania', 'Utah'): 0, ('Pennsylvania', 'Washington'): 0, ('Pennsylvania', 'Nebraska'): -1, ('Pennsylvania', 'Puerto Rico'): -8, ('Pennsylvania', 'Rhode Island'): 0, ('Pennsylvania', 'Oregon'): 15, ('Pennsylvania', 'Arkansas'): -1, ('Ohio', 'Colorado'): -2, ('Ohio', 'Illinois'): 0, ('Ohio', 'Michigan'): 0, ('Ohio', 'Georgia'): 1, ('Ohio', 'Nevada'): 6, ('Ohio', 'Wisconsin'): -1, ('Ohio', 'Pennsylvania'): 0, ('Ohio', 'Maryland'): 2, ('Ohio', 'Minnesota'): -2, ('Ohio', 'Virginia'): 0, ('Ohio', 'California'): 5, ('Ohio', 'Florida'): 1, ('Ohio', 'New York'): 0, ('Ohio', 'Texas'): -1, ('Ohio', 'Massachusetts'): 0, ('Ohio', 'New Jersey'): 0, ('Ohio', 'North Carolina'): 0, ('Ohio', 'Louisiana'): -2, ('Ohio', 'Missouri'): -1, ('Ohio', 'Arizona'): -3, ('Ohio', 'South Carolina'): 0, ('Ohio', 'Connecticut'): 0, ('Ohio', 'Tennessee'): 3, ('Ohio', 'Utah'): -3, ('Ohio', 'Washington'): 4, ('Ohio', 'Oregon'): 15, ('Texas', 'Colorado'): -1, ('Texas', 'Oklahoma'): 0, ('Texas', 'California'): -2, ('Texas', 'Tennessee'): 0, ('Texas', 'Pennsylvania'): 0, ('Texas', 'Texas'): 0, ('Texas', 'Illinois'): 0, ('Texas', 'Arizona'): -2, ('Texas', 'Alabama'): 0, ('Texas', 'New Jersey'): 0, ('Texas', 'Nebraska'): -1, ('Texas', 'North Carolina'): 1, ('Texas', 'Maryland'): 0, ('Texas', 'Washington'): -2, ('Texas', 'Florida'): 1, ('Texas', 'Missouri'): 0, ('Texas', 'Michigan'): 1, ('Texas', 'Kentucky'): 1, ('Texas', 'Puerto Rico'): -3, ('Texas', 'Virginia'): 1, ('Texas', 'Oregon'): -3, ('Texas', 'Utah'): 0, ('Texas', 'Nevada'): -2, ('Texas', 'New Mexico'): -2, ('Texas', 'New York'): 2, ('Texas', 'Kansas'): 0, ('Texas', 'Louisiana'): 0, ('Texas', 'Minnesota'): 0, ('Texas', 'Arkansas'): 0, ('Texas', 'Iowa'): 0, ('Texas', 'Georgia'): 1, ('Texas', 'Massachusetts'): 0, ('Texas', 'Ohio'): 1, ('Texas', 'Mississippi'): 0, ('Texas', 'South Dakota'): -1, ('Texas', 'Hawaii'): 13, ('Texas', 'South Carolina'): 1, ('Texas', 'Montana'): -1, ('Texas', 'Wisconsin'): 0, ('Texas', 'Indiana'): 1, ('Texas', 'Wyoming'): -2, ('Texas', 'North Dakota'): 0, ('Texas', 'U.S. Virgin Islands'): 2, ('Texas', 'Connecticut'): -1, ('Texas', 'West Virginia'): 1, ('Texas', 'Idaho'): -2, ('Texas', 'Alaska'): 15, ('Texas', 'Rhode Island'): 2, ('Arizona', 'Nevada'): 0, ('Arizona', 'Washington'): -1, ('Arizona', 'Texas'): 2, ('Arizona', 'Pennsylvania'): 1, ('Arizona', 'Missouri'): 1, ('Arizona', 'California'): 0, ('Arizona', 'Colorado'): 1, ('Arizona', 'Indiana'): -3, ('Arizona', 'Illinois'): 1, ('Arizona', 'Arizona'): 0, ('Arizona', 'Nebraska'): 1, ('Arizona', 'Louisiana'): 1, ('Arizona', 'North Carolina'): 2, ('Arizona', 'Oklahoma'): 2, ('Arizona', 'Oregon'): -1, ('Arizona', 'Kentucky'): 3, ('Arizona', 'Tennessee'): 0, ('Arizona', 'Ohio'): 3, ('Arizona', 'Minnesota'): 1, ('Arizona', 'New York'): -2, ('Arizona', 'Utah'): 1, ('Arizona', 'Michigan'): 1, ('Arizona', 'Iowa'): 2, ('Arizona', 'New Jersey'): 0, ('Arizona', 'Massachusetts'): -6, ('Arizona', 'Idaho'): 2, ('Arizona', 'Georgia'): 3, ('Arizona', 'North Dakota'): 3, ('Arizona', 'New Mexico'): 0, ('Arizona', 'Montana'): 1, ('Arizona', 'Florida'): 3, ('Arizona', 'Wisconsin'): 0, ('Arizona', 'Maryland'): 0, ('Arizona', 'Hawaii'): 10, ('Arizona', 'Arkansas'): 0, ('Arizona', 'Virginia'): -1, ('Arizona', 'South Dakota'): 2, ('Arizona', 'Kansas'): 2, ('Arizona', 'Wyoming'): 2, ('Arizona', 'Alaska'): 10, ('Connecticut', 'Georgia'): 1, ('Connecticut', 'Florida'): 2, ('Connecticut', 'Virginia'): 1, ('Connecticut', 'Maryland'): 1, ('Connecticut', 'Illinois'): 2, ('Connecticut', 'North Carolina'): 2, ('Connecticut', 'Michigan'): 2, ('Connecticut', 'Pennsylvania'): 0, ('Connecticut', 'California'): 16, ('Connecticut', 'Minnesota'): -1, ('Connecticut', 'Missouri'): -2, ('Connecticut', 'Colorado'): -2, ('Connecticut', 'Nevada'): 6, ('Connecticut', 'Texas'): 1, ('Connecticut', 'New Jersey'): 0, ('Connecticut', 'Puerto Rico'): -8, ('Connecticut', 'South Carolina'): 0, ('Connecticut', 'Kentucky'): 0, ('Connecticut', 'Ohio'): 0, ('Maryland', 'Massachusetts'): 0, ('Maryland', 'Texas'): 0, ('Maryland', 'New Hampshire'): -1, ('Maryland', 'Illinois'): 1, ('Maryland', 'Florida'): 1, ('Maryland', 'Connecticut'): -1, ('Maryland', 'California'): 1, ('Maryland', 'New York'): -1, ('Maryland', 'Nevada'): 3, ('Maryland', 'Georgia'): 1, ('Maryland', 'Washington'): 3, ('Maryland', 'Colorado'): 1, ('Maryland', 'Minnesota'): 0, ('Maryland', 'North Carolina'): 0, ('Maryland', 'Missouri'): -1, ('Maryland', 'Maine'): -2, ('Maryland', 'Rhode Island'): 0, ('Maryland', 'Pennsylvania'): 0, ('Maryland', 'Michigan'): -1, ('Maryland', 'Alabama'): -2, ('Maryland', 'Louisiana'): -1, ('Maryland', 'Kentucky'): -1, ('Maryland', 'South Carolina'): 0, ('Maryland', 'Tennessee'): 0, ('Maryland', 'Ohio'): -2, ('Maryland', 'Utah'): 0, ('Maryland', 'Virginia'): 0, ('Maryland', 'Puerto Rico'): 0, ('Maryland', 'New Jersey'): 0, ('Maryland', 'Indiana'): 0, ('Maryland', 'New Mexico'): -3, ('Maryland', 'Wisconsin'): -1, ('Maryland', 'Arizona'): 0, ('Maryland', 'Oklahoma'): -1, ('Maryland', 'Oregon'): -4, ('New York', 'Virginia'): 0, ('New York', 'Massachusetts'): 0, ('New York', 'Ohio'): 0, ('New York', 'Maryland'): 1, ('New York', 'Pennsylvania'): 0, ('New York', 'Arizona'): 2, ('New York', 'Florida'): 0, ('New York', 'North Carolina'): 0, ('New York', 'Illinois'): -1, ('New York', 'Texas'): -2, ('New York', 'Kentucky'): 0, ('New York', 'Minnesota'): 0, ('New York', 'California'): 3, ('New York', 'Arkansas'): -1, ('New York', 'Michigan'): 0, ('New York', 'Maine'): -1, ('New York', 'Indiana'): 0, ('New York', 'New Jersey'): 0, ('New York', 'Georgia'): 0, ('New York', 'New York'): 0, ('New York', 'South Carolina'): 0, ('New York', 'Wisconsin'): -1, ('New York', 'Missouri'): -1, ('New York', 'Puerto Rico'): -5, ('New York', 'Utah'): 4, ('New York', 'Colorado'): -2, ('New York', 'Oregon'): 5, ('New York', 'Nevada'): 3, ('New York', 'Tennessee'): -1, ('New York', 'Washington'): 3, ('New York', 'New Mexico'): 18, ('New York', 'Vermont'): -3, ('New York', 'Louisiana'): -1, ('New York', 'Iowa'): -2, ('New York', 'Hawaii'): 12, ('New York', 'Alabama'): -1, ('New York', 'U.S. Virgin Islands'): 1, ('New York', 'Nebraska'): -1, ('New York', 'New Hampshire'): 0, ('New York', 'Wyoming'): -3, ('Florida', 'Alabama'): -1, ('Florida', 'North Carolina'): 1, ('Florida', 'Texas'): -1, ('Florida', 'Maryland'): -1, ('Florida', 'Arkansas'): -2, ('Florida', 'New Jersey'): 0, ('Florida', 'Illinois'): -1, ('Florida', 'Florida'): 0, ('Florida', 'Arizona'): -3, ('Florida', 'New York'): 0, ('Florida', 'Colorado'): -1, ('Florida', 'Missouri'): -1, ('Florida', 'Michigan'): -1, ('Florida', 'Georgia'): 1, ('Florida', 'Virginia'): 0, ('Florida', 'New Hampshire'): -1, ('Florida', 'Pennsylvania'): -1, ('Florida', 'Connecticut'): -2, ('Florida', 'Wisconsin'): -1, ('Florida', 'Tennessee'): 0, ('Florida', 'Puerto Rico'): -3, ('Florida', 'Massachusetts'): 0, ('Florida', 'Rhode Island'): -3, ('Florida', 'California'): 2, ('Florida', 'Louisiana'): -1, ('Florida', 'Kentucky'): -1, ('Florida', 'Ohio'): -1, ('Florida', 'South Carolina'): 0, ('Florida', 'Oregon'): -4, ('Florida', 'Minnesota'): -2, ('Florida', 'Mississippi'): -1, ('Florida', 'Nevada'): 7, ('Florida', 'Utah'): 10, ('Florida', 'Iowa'): -1, ('Florida', 'Indiana'): 0, ('Florida', 'Oklahoma'): -1, ('Florida', 'Maine'): 0, ('Florida', 'U.S. Virgin Islands'): 1, ('Florida', 'Washington'): 1, ('Florida', 'Nebraska'): -3, ('Florida', 'North Dakota'): -1, ('Florida', 'New Mexico'): -1, ('Florida', 'South Dakota'): -2, ('Florida', 'West Virginia'): 0, ('Florida', 'Vermont'): 0, ('Washington', 'Alaska'): -3, ('Washington', 'Nevada'): 0, ('Washington', 'California'): 0, ('Washington', 'Arizona'): 1, ('Washington', 'North Carolina'): 0, ('Washington', 'Virginia'): 0, ('Washington', 'Washington'): 0, ('Washington', 'Montana'): -1, ('Washington', 'Massachusetts'): -4, ('Washington', 'Florida'): -1, ('Washington', 'Oregon'): -1, ('Washington', 'Idaho'): 2, ('Washington', 'Michigan'): 0, ('Washington', 'Colorado'): 2, ('Washington', 'Illinois'): 0, ('Washington', 'Utah'): 1, ('Washington', 'Wisconsin'): 3, ('Washington', 'Pennsylvania'): 0, ('Washington', 'New Jersey'): -3, ('Washington', 'Georgia'): -1, ('Washington', 'Texas'): 2, ('Washington', 'Minnesota'): 3, ('Washington', 'Missouri'): 1, ('Washington', 'New York'): -3, ('Washington', 'New Mexico'): 1, ('Washington', 'Hawaii'): 5, ('Washington', 'Maryland'): -3, ('Washington', 'Tennessee'): 3, ('Washington', 'Indiana'): 4, ('Washington', 'Nebraska'): 3, ('Washington', 'South Carolina'): 5, ('Washington', 'Kansas'): 3, ('Washington', 'Oklahoma'): 3, ('Washington', 'Louisiana'): -1, ('Washington', 'Ohio'): -4, ('Washington', 'Kentucky'): -16, ('Washington', 'Wyoming'): 1, ('Utah', 'New York'): -4, ('Utah', 'California'): -1, ('Utah', 'Montana'): 0, ('Utah', 'Michigan'): 3, ('Utah', 'Missouri'): -2, ('Utah', 'Nevada'): -1, ('Utah', 'Maryland'): 0, ('Utah', 'Colorado'): 0, ('Utah', 'Florida'): -10, ('Utah', 'Wyoming'): 0, ('Utah', 'Arizona'): -1, ('Utah', 'New Jersey'): -2, ('Utah', 'North Carolina'): 3, ('Utah', 'Texas'): 0, ('Utah', 'Illinois'): 1, ('Utah', 'Washington'): -1, ('Utah', 'Idaho'): 0, ('Utah', 'Virginia'): 3, ('Utah', 'Oregon'): -1, ('Utah', 'Utah'): 0, ('Utah', 'Georgia'): 2, ('Utah', 'Louisiana'): 1, ('Utah', 'Pennsylvania'): 0, ('Utah', 'South Dakota'): 1, ('Utah', 'Wisconsin'): 1, ('Utah', 'Massachusetts'): -7, ('Utah', 'Minnesota'): -1, ('Utah', 'Ohio'): 3, ('Utah', 'Tennessee'): 1, ('Utah', 'Kentucky'): 3, ('Utah', 'Indiana'): 3, ('Utah', 'New Mexico'): 0, ('Utah', 'Oklahoma'): 2, ('Utah', 'Nebraska'): 0, ('Utah', 'Hawaii'): 15, ('Utah', 'Iowa'): -5, ('Utah', 'Alaska'): -3, ('New Mexico', 'New York'): -18, ('New Mexico', 'Texas'): 2, ('New Mexico', 'Colorado'): 0, ('New Mexico', 'California'): 0, ('New Mexico', 'Arizona'): 0, ('New Mexico', 'Nevada'): 0, ('New Mexico', 'Washington'): -1, ('New Mexico', 'Illinois'): 2, ('New Mexico', 'Oregon'): -2, ('New Mexico', 'Georgia'): 3, ('New Mexico', 'Missouri'): 1, ('New Mexico', 'Utah'): 0, ('New Mexico', 'Minnesota'): 1, ('New Mexico', 'Maryland'): 3, ('New Mexico', 'Florida'): 1, ('Colorado', 'Texas'): 1, ('Colorado', 'California'): -1, ('Colorado', 'New York'): 2, ('Colorado', 'North Carolina'): 1, ('Colorado', 'Florida'): 1, ('Colorado', 'Georgia'): 2, ('Colorado', 'Virginia'): 2, ('Colorado', 'Arizona'): -1, ('Colorado', 'Nebraska'): 1, ('Colorado', 'Utah'): 0, ('Colorado', 'Oklahoma'): 2, ('Colorado', 'Massachusetts'): -1, ('Colorado', 'Washington'): -2, ('Colorado', 'Connecticut'): 2, ('Colorado', 'Colorado'): 0, ('Colorado', 'Missouri'): 1, ('Colorado', 'Illinois'): 1, ('Colorado', 'Montana'): 0, ('Colorado', 'Nevada'): -1, ('Colorado', 'Wyoming'): 0, ('Colorado', 'North Dakota'): 1, ('Colorado', 'Kansas'): 2,

In [ ]:
len(time_delay)

1398

In [ ]:
s = pd.DataFrame(time_delay, index=['time_delay']).T

In [ ]:
def find_time_lag(train_df, state):
    OA = train_df[train_df['Origin_State'] == state]  #출발 state a
    predict_st = OA.Destination_State.unique().tolist() #출발 state a의 도착 state 리스트 //  destination_list와 동일 
    DA = train_df[train_df['Destination_State'] == state] #도착 state a
    time_delay_dict = {}
    for st in predict_st:
        st_oa = OA[OA['Destination_State'] == st] #출발a , 도착[1,2,3,4]  for문 
        st_oa_diff = st_oa.Estimated_Arrival_Time.mean() - st_oa.Estimated_Departure_Time.mean()
        st_da = DA[DA['Origin_State'] == st]
        st_da_diff = st_da.Estimated_Arrival_Time.mean() - st_da.Estimated_Departure_Time.mean()
        time_delay = st_da_diff - st_oa_diff
        if not np.isnan(time_delay):
            time_delay_dict[state, st] = -round(time_delay/2/60)
    
    return time_delay_dict

In [ ]:
train_df.isna().sum()

In [ ]:
test_df.isna().sum()

# 세번째

In [ ]:
df

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance,Delay
0,TRAIN_000000,NaN,NaN,Oklahoma,Texas,419.0,NaN
1,TRAIN_000001,740.0,1024.0,Illinois,Utah,1250.0,NaN
2,TRAIN_000002,1610.0,1805.0,North Carolina,New York,544.0,NaN
3,TRAIN_000003,905.0,1735.0,California,New Jersey,2454.0,NaN
4,TRAIN_000004,900.0,1019.0,California,California,250.0,NaN
...,...,...,...,...,...,...,...
999995,TRAIN_999995,936.0,1243.0,NaN,NaN,678.0,NaN
999996,TRAIN_999996,920.0,1028.0,NaN,Minnesota,223.0,NaN
999997,TRAIN_999997,800.0,1340.0,NaN,Texas,1642.0,NaN
999998,TRAIN_999998,1613.0,1824.0,Tennessee,NaN,214.0,NaN
999999,TRAIN_999999,1800.0,2056.0,Florida,Michigan,1084.0,NaN

In [ ]:
df.isna().sum()

ID                               0
Estimated_Departure_Time     86628
Estimated_Arrival_Time       86516
Origin_State                     0
Destination_State                0
Distance                         0
Delay                       591429
dtype: int64

In [ ]:
df = df.dropna(subset=['Origin_State','Destination_State']) #결측치 제거

In [ ]:
state_list = df['Origin_State'].unique().tolist()
state_list

In [ ]:
list(set(df[df['Origin_State']=='Alabama']['Destination_State'].values.tolist())) #Alabama를 입력해주는 값에 따라 달라지기 ~

['Illinois',
 'North Carolina',
 'Georgia',
 'Florida',
 'Texas',
 'New York',
 'Virginia',
 'Nevada',
 'Michigan',
 'Pennsylvania',
 'Maryland',
 'Colorado']

In [ ]:
#과정
# 1 . orinin_state == a / a는 전체 52개 state중 하나 
# 2. a에서 출발/ 도착한 state b -- b는 list(set(df[df['Origin_State']=='a']['Destination_State'].values.tolist())) 이 리스트에서 하나 
# 3 . 출발주 a / 도착주 b -- 여기서 도착시간 - 출발시간 의 평균 --  첫번째 시간 A_time  
# 4. 출발 b / 도착 a -- 여기서 도착시간- 출발시간의 평균 --  두번째 시간  B_time
# 5 . (A_time - B_time)/2

In [ ]:
#1. origin_state ==a 
df[df['Origin_State']=='Alabama']

#2. a(Alabama)에서 출발하고 도착한 주 리스트로 정리
destination_list = list(set(df[df['Origin_State']=='Alabama']['Destination_State'].values.tolist()))

#3. 출발주a / 도착주 b-- 위에 정리한 리스트 중 하나 
for b in destination_list:
    df[(df['Origin_State']=='Alabama') & (df['Destination_State']==b)]

df[(df['Origin_State']=='Alabama') & (df['Destination_State']=='Illinois')]
df[(df['Origin_State']=='Illinois') & (df['Destination_State']=='Alabama')]

In [ ]:
df[df['Origin_State']=='Alabama']

In [ ]:
destination_list = list(set(df[df['Origin_State']=='Alabama']['Destination_State'].values.tolist()))
destination_list

In [ ]:
a = df[(df['Origin_State']=='Alabama') & (df['Destination_State']=='Illinois')]
a_time = (a['Estimated_Arrival_Time']-a['Estimated_Departure_Time']).mean()  #1번

In [ ]:
b = df[(df['Origin_State']=='Illinois') & (df['Destination_State']=='Alabama')]
b_time = (b['Estimated_Arrival_Time']-b['Estimated_Departure_Time']).mean()  #2번 
# b.isna().sum()

In [ ]:
#최종 
# 1번 - 2번 /2 
(a_time - b_time)/2

9.706989529712502

In [ ]:
destination_list #state = ;Alibama

['Illinois',
 'North Carolina',
 'Georgia',
 'Florida',
 'Texas',
 'New York',
 'Virginia',
 'Nevada',
 'Michigan',
 'Pennsylvania',
 'Maryland',
 'Colorado']

In [ ]:
def time_diff(state):
    destination_list =  list(set(df[df['Origin_State']==state]['Destination_State'].values.tolist()))
    for d in destination_list:
        a = df[(df['Origin_State']==state) & (df['Destination_State']==d)] #ali 출발 , texas 도착
        b = df[(df['Origin_State']==d) & (df['Destination_State']==state)] #texas 출. ali 도착
        a_time = (a['Estimated_Arrival_Time']-a['Estimated_Departure_Time']).mean()     
        b_time = (b['Estimated_Arrival_Time']-b['Estimated_Departure_Time']).mean()
        time_di = (a_time - b_time)/2 #a_state와 b_state 의 시차  --> 출발a 도착b or 출발b 도착a인 데이터에 시차 컬럼 넣어주기 
        
        #1)dict 형태로 출발지:도착지 = 시차  ---> ?
    return

In [ ]:
#시차 까지 구했는데 이 시차를 데이터 프레임 안에 time_diff 컬럼에 새로 넣어야함
# for 문 한번 돌때ㅔ 마다 . state와 d (destination_list 원소 하나)의 시차를 구하게 되는데 이 시차를, 출발state도착d & 출발d도착state 인 데이터에 넣어야함

In [ ]:
time_diff('Alabama')

9.706989529712502

In [ ]:
data = df.head()
data

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance,Delay
0,TRAIN_000000,NaN,NaN,Oklahoma,Texas,419.0,NaN
1,TRAIN_000001,740.0,1024.0,Illinois,Utah,1250.0,NaN
2,TRAIN_000002,1610.0,1805.0,North Carolina,New York,544.0,NaN
3,TRAIN_000003,905.0,1735.0,California,New Jersey,2454.0,NaN
4,TRAIN_000004,900.0,1019.0,California,California,250.0,NaN

In [ ]:
data['diff_time'] = data.apply(lambda x : x['Estimation_Departure_Time'] )

In [ ]:
#여기서 차이를 타임 diff로 넣는다고 하면
data['diff_time'].apply(lambda x : )

ValueError: ignored

In [ ]:
#1 ) 비행시간 > 시차계산 > 시차를 계산한 비행시간 ex) 도착-출발=3시간, 시차 1시간, 비행시간 = 4시간 > 거리별 비행시간을 계산하여 결측치 채워넣기  /// 여기서 이상치 계산하기  
#2 )

In [ ]:
df[(df['Origin_State']=='Virginia') & (df['Destination_State']=='Alabama')]  #이렇게 해서 평균 거리랑, 도착시간-출발시간 //  alabama 출발 virginia 도착 // 1시간 10분

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance
3049,TRAIN_003049,750.0,908.0,Virginia,Alabama,693.0
6494,TRAIN_006494,837.0,945.0,Virginia,Alabama,653.0
12711,TRAIN_012711,1420.0,1527.0,Virginia,Alabama,613.0
16134,TRAIN_016134,759.0,908.0,Virginia,Alabama,693.0
19627,TRAIN_019627,1705.0,1808.0,Virginia,Alabama,596.0
...,...,...,...,...,...,...
985137,TRAIN_985137,1705.0,1807.0,Virginia,Alabama,596.0
986352,TRAIN_986352,815.0,910.0,Virginia,Alabama,596.0
993629,TRAIN_993629,758.0,922.0,Virginia,Alabama,693.0
997056,TRAIN_997056,758.0,913.0,Virginia,Alabama,693.0
997863,TRAIN_997863,759.0,902.0,Virginia,Alabama,693.0

In [ ]:
df[(df['Origin_State']=='Alabama') & (df['Destination_State']=='Virginia')]  #평균 거리랑 도착시간- 출발시간  ///  3시간   --> 시차 한시간 차이 맞네

,ID,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_State,Destination_State,Distance
110,TRAIN_000110,940.0,1247.0,Alabama,Virginia,693.0
2773,TRAIN_002773,1057.0,1355.0,Alabama,Virginia,653.0
4846,TRAIN_004846,1111.0,1359.0,Alabama,Virginia,613.0
15118,TRAIN_015118,603.0,906.0,Alabama,Virginia,653.0
18033,TRAIN_018033,1112.0,1418.0,Alabama,Virginia,653.0
...,...,...,...,...,...,...
977535,TRAIN_977535,1056.0,1359.0,Alabama,Virginia,653.0
981121,TRAIN_981121,901.0,1159.0,Alabama,Virginia,613.0
989382,TRAIN_989382,855.0,1150.0,Alabama,Virginia,596.0
993554,TRAIN_993554,1829.0,2130.0,Alabama,Virginia,613.0
997464,TRAIN_997464,1840.0,2128.0,Alabama,Virginia,596.0