In [2]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px
import math
import json
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
from IPython.display import Image
import seaborn as sns
# import missingno as msnco

In [3]:
import warnings

# 경고 메시지를 무시하고 숨기거나
warnings.filterwarnings(action='ignore')

In [4]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sample_df = pd.read_csv('sample_submission.csv')

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 19 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ID                        1000000 non-null  object
 1   Month                     1000000 non-null  int64
 2   Day_of_Month              1000000 non-null  int64
 3   Estimated_Departure_Time  890981 non-null   float64
 4   Estimated_Arrival_Time    890960 non-null   float64
 5   Cancelled                 1000000 non-null  int64
 6   Diverted                  1000000 non-null  int64
 7   Origin_Airport            1000000 non-null  object
 8   Origin_Airport_ID         1000000 non-null  int64
 9   Origin_State              890985 non-null   object
 10  Destination_Airport       1000000 non-null  object
 11  Destination_Airport_ID    1000000 non-null  int64
 12  Destination_State         890921 non-null   object
 13  Distance                  1000000 non-null  float64
 14  Airline                   891080 non-null   object
 15  Carrier_Code(IATA)        891010 non-null   object
 16  Carrier_ID(DOT)           891003 non-null   float64
 17  Tail_Number               1000000 non-null  object
 18  Delay                     255001 non-null   object
dtypes: float64(4), int64(6), object(9)
memory usage: 145.0+ MB

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 18 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ID                        1000000 non-null  object
 1   Month                     1000000 non-null  int64
 2   Day_of_Month              1000000 non-null  int64
 3   Estimated_Departure_Time  891016 non-null   float64
 4   Estimated_Arrival_Time    890952 non-null   float64
 5   Cancelled                 1000000 non-null  int64
 6   Diverted                  1000000 non-null  int64
 7   Origin_Airport            1000000 non-null  object
 8   Origin_Airport_ID         1000000 non-null  int64
 9   Origin_State              893495 non-null   object
 10  Destination_Airport       1000000 non-null  object
 11  Destination_Airport_ID    1000000 non-null  int64
 12  Destination_State         893477 non-null   object
 13  Distance                  1000000 non-null  float64
 14  Airline                   893473 non-null   object
 15  Carrier_Code(IATA)        891007 non-null   object
 16  Carrier_ID(DOT)           890994 non-null   float64
 17  Tail_Number               1000000 non-null  object
dtypes: float64(4), int64(6), object(8)
memory usage: 137.3+ MB

In [9]:
train_df.isna().sum()

ID                               0
Month                            0
Day_of_Month                     0
Estimated_Departure_Time    109019
Estimated_Arrival_Time      109040
Cancelled                        0
Diverted                         0
Origin_Airport                   0
Origin_Airport_ID                0
Origin_State                109015
Destination_Airport              0
Destination_Airport_ID           0
Destination_State           109079
Distance                         0
Airline                     108920
Carrier_Code(IATA)          108990
Carrier_ID(DOT)             108997
Tail_Number                      0
Delay                       744999
dtype: int64

In [10]:
test_df.isna().sum()

ID                               0
Month                            0
Day_of_Month                     0
Estimated_Departure_Time    108984
Estimated_Arrival_Time      109048
Cancelled                        0
Diverted                         0
Origin_Airport                   0
Origin_Airport_ID                0
Origin_State                106505
Destination_Airport              0
Destination_Airport_ID           0
Destination_State           106523
Distance                         0
Airline                     106527
Carrier_Code(IATA)          108993
Carrier_ID(DOT)             109006
Tail_Number                      0
dtype: int64

# airport 별 시간

In [14]:
#도착시간이 출발시간보다 큰 경우만
df = train_df[train_df['Estimated_Arrival_Time']>train_df['Estimated_Departure_Time']]
df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN
6,TRAIN_000006,1,20,1742.0,1903.0,0,0,EWR,11618,New Jersey,BOS,10721,Massachusetts,200.0,United Air Lines Inc.,UA,NaN,N66825,Not_Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN

In [15]:
# #시간차이와 거리평균 딕셔너리 형태로 저장
# time_diff_dict = {}
# distance_mean_dict = {}
# def time_diff(train_df, state):
#     OA = train_df[train_df['Origin_State']==state]
#     destination_list = OA.Destination_State.unique().tolist()
# #     time_diff_dict = {}
# #     distance_mean_dict = {}
#     for d in destination_list:
#         st_oa = OA[OA['Destination_State']==d]
#         time_diff = (st_oa['Estimated_Arrival_Time'] - st_oa['Estimated_Departure_Time']).mean()
#         time_diff_dict[state,d] = (time_diff)
#         distance_mean_dict[state,d] = (st_oa['Distance'].mean())
    
#     return time_diff_dict, distance_mean_dict

In [32]:
#시간차이 딕셔너리 형태로 저장
time_diff_dict = {}

def time_diff(train_df, airport):
    OA = train_df[train_df['Origin_Airport']==airport]
    destination_airport_list = OA.Destination_Airport.unique().tolist()
    
    for d in destination_airport_list:
        air_oa = OA[OA['Destination_Airport']==d]
        time_diff = (air_oa['Estimated_Arrival_Time'] - air_oa['Estimated_Departure_Time']).mean()
        time_diff_dict[airport, d] = round(time_diff)
    
    return time_diff_dict

In [33]:
airport_list = df['Origin_Airport'].unique().tolist()

In [34]:
for i in airport_list:
    time_diff(df, i)

In [35]:
len(time_diff_dict)

6607

In [36]:
time_diff_dict

{('ORD', 'SLC'): 264,
 ('ORD', 'MCI'): 152,
 ('ORD', 'LEX'): 234,
 ('ORD', 'STL'): 131,
 ('ORD', 'CHA'): 270,
 ('ORD', 'CMH'): 235,
 ('ORD', 'CRW'): 260,
 ('ORD', 'BUF'): 257,
 ('ORD', 'AUS'): 277,
 ('ORD', 'IND'): 211,
 ('ORD', 'UIN'): 117,
 ('ORD', 'MLI'): 100,
 ('ORD', 'PHL'): 301,
 ('ORD', 'DAY'): 223,
 ('ORD', 'MSP'): 153,
 ('ORD', 'IAD'): 277,
 ('ORD', 'LGA'): 316,
 ('ORD', 'FLL'): 407,
 ('ORD', 'CLE'): 230,
 ('ORD', 'SCE'): 273,
 ('ORD', 'IAH'): 273,
 ('ORD', 'SDF'): 245,
 ('ORD', 'MDT'): 274,
 ('ORD', 'TOL'): 196,
 ('ORD', 'FSD'): 180,
 ('ORD', 'MEM'): 187,
 ('ORD', 'EYW'): 417,
 ('ORD', 'SGF'): 177,
 ('ORD', 'PWM'): 331,
 ('ORD', 'PIA'): 98,
 ('ORD', 'MSY'): 236,
 ('ORD', 'SAN'): 240,
 ('ORD', 'DCA'): 277,
 ('ORD', 'EAU'): 137,
 ('ORD', 'CLT'): 303,
 ('ORD', 'MCO'): 364,
 ('ORD', 'LAS'): 197,
 ('ORD', 'CHO'): 287,
 ('ORD', 'CMX'): 229,
 ('ORD', 'COU'): 144,
 ('ORD', 'XNA'): 189,
 ('ORD', 'CHS'): 328,
 ('ORD', 'ROC'): 262,
 ('ORD', 'ABE'): 297,
 ('ORD', 'FWA'): 206,
 ('ORD', 'MBS'): 223,
 ('ORD', 'CVG'): 231,
 ('ORD', 'TPA'): 364,
 ('ORD', 'DFW'): 251,
 ('ORD', 'OMA'): 158,
 ('ORD', 'SAT'): 295,
 ('ORD', 'CID'): 115,
 ('ORD', 'ABQ'): 215,
 ('ORD', 'DEN'): 168,
 ('ORD', 'BNA'): 156,
 ('ORD', 'MSN'): 97,
 ('ORD', 'ALB'): 297,
 ('ORD', 'SBN'): 190,
 ('ORD', 'HPN'): 313,
 ('ORD', 'HSV'): 180,
 ('ORD', 'ATL'): 298,
 ('ORD', 'BDL'): 312,
 ('ORD', 'BOS'): 334,
 ('ORD', 'DTW'): 240,
 ('ORD', 'AZO'): 190,
 ('ORD', 'LAX'): 251,
 ('ORD', 'GRR'): 195,
 ('ORD', 'FNT'): 211,
 ('ORD', 'RNO'): 227,
 ('ORD', 'PVD'): 335,
 ('ORD', 'TVC'): 211,
 ('ORD', 'ALO'): 113,
 ('ORD', 'JAX'): 343,
 ('ORD', 'SNA'): 242,
 ('ORD', 'SFO'): 264,
 ('ORD', 'LSE'): 111,
 ('ORD', 'LIT'): 192,
 ('ORD', 'CMI'): 99,
 ('ORD', 'LAN'): 199,
 ('ORD', 'RIC'): 303,
 ('ORD', 'FCA'): 279,
 ('ORD', 'SEA'): 256,
 ('ORD', 'DSM'): 137,
 ('ORD', 'ORF'): 314,
 ('ORD', 'AVL'): 280,
 ('ORD', 'MHK'): 176,
 ('ORD', 'ICT'): 206,
 ('ORD', 'ATW'): 102,
 ('ORD', 'JAN'): 216,
 ('ORD', 'DLH'): 160,
 ('ORD', 'OKC'): 233,
 ('ORD', 'GEG'): 208,
 ('ORD', 'MIA'): 411,
 ('ORD', 'MKE'): 87,
 ('ORD', 'COS'): 180,
 ('ORD', 'RST'): 130,
 ('ORD', 'RSW'): 382,
 ('ORD', 'MTJ'): 208,
 ('ORD', 'PHX'): 216,
 ('ORD', 'SUX'): 165,
 ('ORD', 'EVV'): 119,
 ('ORD', 'BZN'): 230,
 ('ORD', 'BMI'): 86,
 ('ORD', 'TUL'): 205,
 ('ORD', 'EWR'): 318,
 ('ORD', 'RDU'): 299,
 ('ORD', 'GRB'): 103,
 ('ORD', 'SMF'): 256,
 ('ORD', 'TYS'): 266,
 ('ORD', 'BWI'): 291,
 ('ORD', 'SLN'): 193,
 ('ORD', 'AVP'): 283,
 ('ORD', 'ILM'): 331,
 ('ORD', 'SAV'): 330,
 ('ORD', 'ROA'): 284,
 ('ORD', 'MQT'): 222,
 ('ORD', 'SYR'): 273,
 ('ORD', 'ANC'): 373,
 ('ORD', 'MKG'): 200,
 ('ORD', 'CGI'): 158,
 ('ORD', 'SPI'): 106,
 ('ORD', 'ERI'): 242,
 ('ORD', 'BTV'): 317,
 ('ORD', 'PIT'): 245,
 ('ORD', 'CWA'): 112,
 ('ORD', 'BHM'): 194,
 ('ORD', 'PDX'): 251,
 ('ORD', 'ELP'): 231,
 ('ORD', 'JFK'): 329,
 ('ORD', 'PBI'): 398,
 ('ORD', 'FAR'): 198,
 ('ORD', 'SHD'): 276,
 ('ORD', 'FAT'): 272,
 ('ORD', 'BIS'): 251,
 ('ORD', 'SRQ'): 370,
 ('ORD', 'MYR'): 301,
 ('ORD', 'BGR'): 354,
 ('ORD', 'TUS'): 219,
 ('ORD', 'GSO'): 293,
 ('ORD', 'RAP'): 155,
 ('ORD', 'PAH'): 137,
 ('ORD', 'JLN'): 172,
 ('ORD', 'SJU'): 615,
 ('ORD', 'CAK'): 244,
 ('ORD', 'LNK'): 179,
 ('ORD', 'PSP'): 237,
 ('ORD', 'JAC'): 208,
 ('ORD', 'MEI'): 208,
 ('ORD', 'CAE'): 305,
 ('ORD', 'ASE'): 209,
 ('ORD', 'SJC'): 257,
 ('ORD', 'DBQ'): 95,
 ('ORD', 'DRO'): 216,
 ('ORD', 'MHT'): 340,
 ('ORD', 'VPS'): 230,
 ('ORD', 'GSP'): 284,
 ('ORD', 'EGE'): 208,
 ('ORD', 'CKB'): 260,
 ('ORD', 'BOI'): 308,
 ('ORD', 'PNS'): 238,
 ('ORD', 'HDN'): 213,
 ('ORD', 'HNL'): 466,
 ('ORD', 'RDM'): 272,
 ('ORD', 'SUN'): 324,
 ('ORD', 'BKG'): 179,
 ('ORD', 'STT'): 679,
 ('ORD', 'TTN'): 307,
 ('ORD', 'MOB'): 244,
 ('ORD', 'BRO'): 331,
 ('ORD', 'BFM'): 228,
 ('ORD', 'OGG'): 433,
 ('ORD', 'FAI'): 373,
 ('ORD', 'LWB'): 259,
 ('ORD', 'ONT'): 233,
 ('ORD', 'BIL'): 233,
 ('ORD', 'OGS'): 308,
 ('ORD', 'ISP'): 327,
 ('ORD', 'OAK'): 271,
 ('ORD', 'MSO'): 263,
 ('ORD', 'GTF'): 264,
 ('ORD', 'EUG'): 287,
 ('ORD', 'ATY'): 203,
 ('ORD', 'GJT'): 216,
 ('ORD', 'HRL'): 356,
 ('ORD', 'COD'): 213,
 ('ORD', 'HHH'): 353,
 ('ORD', 'EAR'): 221,
 ('ORD', 'ECP'): 222,
 ('CLT', 'LGA'): 196,
 ('CLT', 'SDF'): 150,
 ('CLT', 'BDL'): 196,
 ('CLT', 'DEN'): 177,
 ('CLT', 'LIT'): 116,
 ('CLT', 'PGV'): 109,
 ('CLT', 'BWI'): 148,
 ('CLT', 'RDU'): 93,
 ('CLT', 'TYS'): 109,
 ('CLT', 'SLC'): 262,
 ('CLT', 'CAE'): 89,
 ('CLT', 'ORD'): 121,
 ('CLT', 'DTW'): 181,
 ('CLT', 'EWR'): 191,
 ('CLT', 'ILM'): 106,
 ('CLT', 'CMH'): 141,
 ('CLT', 'JAN'): 84,
 ('CLT', 'MCO'): 171,
 ('CLT', 'DCA'): 145,
 ('CLT', 'SAN'): 208,
 ('CLT', 'MSP'): 175,
 ('CLT', 'IND'): 172,
 ('CLT', 'CHA'): 119,
 ('CLT', 'MIA'): 220,
 ('CLT', 'JFK'): 200,
 ('CLT', 'BOS'): 226,
 ('CLT', 'HSV'): 44,
 ('CLT', 'STL'): 101,
 ('CLT', 'PHL'): 172,
 ('CLT', 'IAH'): 174,
 ('CLT', 'BGR'): 232,
 ('CLT', 'CLE'): 165,
 ('CLT', 'ATL'): 131,
 ('CLT', 'CVG'): 146,
 ('CLT', 'TLH'): 141,
 ('CLT', 'CHS'): 105,
 ('CLT', 'BNA'): 50,
 ('CLT', 'TPA'): 173,
 ('CLT', 'MEM'): 88,
 ('CLT', 'AUS'): 186,
 ('CLT', 'PIT'): 145,
 ('CLT', 'MDT'): 158,
 ('CLT', 'SMF'): 257,
 ('CLT', 'RSW'): 192,
 ('CLT', 'RIC'): 113,
 ('CLT', 'IAD'): 135,
 ('CLT', 'FLL'): 203,
 ('CLT', 'CRW'): 112,
 ('CLT', 'MOB'): 92,
 ('CLT', 'VPS'): 70,
 ('CLT', 'DSM'): 155,
 ('CLT', 'PWM'): 235,
 ('CLT', 'ALB'): 195,
 ('CLT', 'PHF'): 122,
 ('CLT', 'JAX'): 141,
 ('CLT', 'FAY'): 84,
 ('CLT', 'EYW'): 227,
 ('CLT', 'SHV'): 148,
 ('CLT', 'SEA'): 269,
 ('CLT', 'GNV'): 142,
 ('CLT', 'TRI'): 102,
 ('CLT', 'ROA'): 113,
 ('CLT', 'MHT'): 220,
 ('CLT', 'HPN'): 193,
 ('CLT', 'DFW'): 184,
 ('CLT', 'SJU'): 410,
 ('CLT', 'FLO'): 93,
 ('CLT', 'LAS'): 175,
 ('CLT', 'PHX'): 192,
 ('CLT', 'BHM'): 49,
 ('CLT', 'CHO'): 121,
 ('CLT', 'EWN'): 104,
 ('CLT', 'OKC'): 184,
 ('CLT', 'HTS'): 122,
 ('CLT', 'LEX'): 132,
 ('CLT', 'PNS'): 77,
 ('CLT', 'HOU'): 167,
 ('CLT', 'AVL'): 90,
 ('CLT', 'GSO'): 84,
 ('CLT', 'DAY'): 150,
 ('CLT', 'MLB'): 166,
 ('CLT', 'SFO'): 267,
 ('CLT', 'MCI'): 150,
 ('CLT', 'CID'): 148,
 ('CLT', 'CAK'): 149,
 ('CLT', 'SAV'): 115,
 ('CLT', 'SRQ'): 184,
 ('CLT', 'MYR'): 98,
 ('CLT', 'GRR'): 199,
 ('CLT', 'MKE'): 117,
 ('CLT', 'PVD'): 202,
 ('CLT', 'ORF'): 118,
 ('CLT', 'AGS'): 100,
 ('CLT', 'SBY'): 157,
 ('CLT', 'MSY'): 104,
 ('CLT', 'DAB'): 150,
 ('CLT', 'PBI'): 183,
 ('CLT', 'GSP'): 83,
 ('CLT', 'LYH'): 106,
 ('CLT', 'XNA'): 133,
 ('CLT', 'OMA'): 187,
 ('CLT', 'SAT'): 201,
 ('CLT', 'MGM'): 52,
 ('CLT', 'OAJ'): 103,
 ('CLT', 'GPT'): 95,
 ('CLT', 'ROC'): 185,
 ('CLT', 'SYR'): 185,
 ('CLT', 'LAX'): 230,
 ('CLT', 'PIA'): 103,
 ('CLT', 'MDW'): 93,
 ('CLT', 'CMI'): 83,
 ('CLT', 'MSN'): 112,
 ('CLT', 'EVV'): 78,
 ('CLT', 'TUL'): 172,
 ('CLT', 'BTV'): 217,
 ('CLT', 'HHH'): 120,
 ('CLT', 'AVP'): 172,
 ('CLT', 'PDX'): 255,
 ('CLT', 'SJC'): 239,
 ('CLT', 'TOL'): 175,
 ('CLT', 'FWA'): 173,
 ('CLT', 'SGF'): 131,
 ('CLT', 'DAL'): 175,
 ('CLT', 'TTN'): 162,
 ('CLT', 'ERI'): 179,
 ('CLT', 'BTR'): 119,
 ('CLT', 'STT'): 432,
 ('CLT', 'ABE'): 166,
 ('CLT', 'HVN'): 208,
 ('CLT', 'ECP'): 70,
 ('CLT', 'BUF'): 172,
 ('CLT', 'SBN'): 192,
 ('CLT', 'FNT'): 219,
 ('CLT', 'TUS'): 112,
 ('CLT', 'ITH'): 194,
 ('CLT', 'STX'): 476,
 ('CLT', 'RAP'): 143,
 ('CLT', 'ACK'): 216,
 ('LAX', 'EWR'): 824,
 ('LAX', 'MCI'): 521,
 ('LAX', 'PHX'): 182,
 ('LAX', 'LAS'): 121,
 ('LAX', 'SBP'): 104,
 ('LAX', 'IND'): 709,
 ('LAX', 'SLC'): 287,
 ('LAX', 'SAT'): 488,
 ('LAX', 'SJC'): 127,
 ('LAX', 'ABQ'): 286,
 ('LAX', 'HNL'): 327,
 ('LAX', 'DFW'): 510,
 ('LAX', 'BNA'): 597,
 ('LAX', 'CVG'): 715,
 ('LAX', 'SFO'): 144,
 ('LAX', 'OAK'): 136,
 ('LAX', 'MSP'): 563,
 ('LAX', 'DEN'): 338,
 ('LAX', 'IAH'): 523,
 ('LAX', 'BOS'): 849,
 ('LAX', 'OGG'): 315,
 ('LAX', 'STS'): 168,
 ('LAX', 'MRY'): 131,
 ('LAX', 'PDX'): 242,
 ('LAX', 'COS'): 349,
 ('LAX', 'FAT'): 115,
 ('LAX', 'ATL'): 733,
 ('LAX', 'CLE'): 745,
 ('LAX', 'ACV'): 207,
 ('LAX', 'DAL'): 506,
 ('LAX', 'SEA'): 283,
 ('LAX', 'TPA'): 771,
 ('LAX', 'JFK'): 846,
 ('LAX', 'RNO'): 152,
 ('LAX', 'ORD'): 609,
 ('LAX', 'MSY'): 569,
 ('LAX', 'CID'): 546,
 ('LAX', 'SMF'): 147,
 ('LAX', 'EUG'): 224,
 ('LAX', 'PIT'): 767,
 ('LAX', 'MIA'): 802,
 ('LAX', 'LIH'): 336,
 ('LAX', 'DTW'): 747,
 ('LAX', 'MFR'): 209,
 ('LAX', 'SAN'): 91,
 ('LAX', 'JAC'): 332,
 ('LAX', 'ITO'): 284,
 ('LAX', 'RDM'): 226,
 ('LAX', 'DCA'): 803,
 ('LAX', 'ASE'): 322,
 ('LAX', 'TUS'): 181,
 ('LAX', 'PHL'): 815,
 ('LAX', 'MEM'): 558,
 ('LAX', 'BOI'): 312,
 ('LAX', 'MCO'): 780,
 ('LAX', 'ELP'): 284,
 ('LAX', 'STL'): 562,
 ('LAX', 'MDW'): 595,
 ('LAX', 'XNA'): 514,
 ('LAX', 'CMH'): 746,
 ('LAX', 'IAD'): 784,
 ('LAX', 'RDU'): 787,
 ('LAX', 'AUS'): 497,
 ('LAX', 'MSN'): 601,
 ('LAX', 'HOU'): 527,
 ('LAX', 'KOA'): 313,
 ('LAX', 'SBA'): 90,
 ('LAX', 'OMA'): 508,
 ('LAX', 'OKC'): 474,
 ('LAX', 'FLL'): 805,
 ('LAX', 'MKE'): 597,
 ('LAX', 'TUL'): 497,
 ('LAX', 'BWI'): 804,
 ('LAX', 'SGU'): 224,
 ('LAX', 'MMH'): 124,
 ('LAX', 'CLT'): 778,
 ('LAX', 'MSO'): 345,
 ('LAX', 'SUN'): 332,
 ('LAX', 'GEG'): 270,
 ('LAX', 'PSP'): 93,
 ('LAX', 'ANC'): 428,
 ('LAX', 'HDN'): 341,
 ('LAX', 'SGF'): 524,
 ('LAX', 'PRC'): 178,
 ('LAX', 'BZN'): 373,
 ('LAX', 'BLI'): 275,
 ('LAX', 'PSC'): 258,
 ('LAX', 'PAE'): 294,
 ('LAX', 'FCA'): 389,
 ('LAX', 'SCK'): 142,
 ('LAX', 'DRO'): 297,
 ('LAX', 'PVU'): 256,
 ('LAX', 'RDD'): 189,
 ('LAX', 'OGD'): 284,
 ('LAX', 'EGE'): 357,
 ('LAX', 'GJT'): 248,
 ('LAX', 'MTJ'): 294,
 ('LAX', 'ICT'): 468,
 ('LAX', 'FSD'): 507,
 ('LAX', 'FAR'): 559,
 ('LAX', 'RAP'): 394,
 ('LAX', 'SDF'): 707,
 ('LAX', 'MFE'): 512,
 ('LAX', 'DSM'): 518,
 ('LAX', 'BIL'): 370,
 ('LAX', 'LIT'): 575,
 ('SFO', 'ACV'): 127,
 ('SFO', 'SLC'): 292,
 ('SFO', 'SNA'): 156,
 ('SFO', 'OGG'): 285,
 ('SFO', 'EWR'): 848,
 ('SFO', 'FLL'): 850,
 ('SFO', 'HNL'): 284,
 ('SFO', 'ORD'): 627,
 ('SFO', 'LAX'): 150,
 ('SFO', 'LAS'): 157,
 ('SFO', 'PDX'): 171,
 ('SFO', 'SEA'): 221,
 ('SFO', 'DFW'): 559,
 ('SFO', 'PHX'): 232,
 ('SFO', 'PSP'): 154,
 ('SFO', 'SBA'): 131,
 ('SFO', 'DEN'): 354,
 ('SFO', 'BUR'): 129,
 ('SFO', 'ANC'): 384,
 ('SFO', 'SBP'): 111,
 ('SFO', 'DAL'): 551,
 ('SFO', 'GEG'): 226,
 ('SFO', 'FAT'): 108,
 ('SFO', 'ONT'): 149,
 ('SFO', 'IAH'): 577,
 ('SFO', 'JFK'): 861,
 ('SFO', 'EUG'): 169,
 ('SFO', 'IAD'): 806,
 ('SFO', 'SAN'): 157,
 ('SFO', 'MFR'): 150,
 ('SFO', 'MRY'): 92,
 ('SFO', 'DCA'): 812,
 ('SFO', 'BOS'): 865,
 ('SFO', 'ATL'): 762,
 ('SFO', 'RDM'): 172,
 ('SFO', 'BOI'): 275,
 ('SFO', 'MSP'): 565,
 ('SFO', 'MCO'): 827,
 ('SFO', 'AUS'): 557,
 ('SFO', 'TUS'): 259,
 ('SFO', 'CLT'): 808,
 ('SFO', 'BNA'): 647,
 ('SFO', 'SAT'): 576,
 ('SFO', 'XNA'): 570,
 ('SFO', 'OKC'): 560,
 ('SFO', 'RDU'): 807,
 ('SFO', 'LGB'): 147,
 ('SFO', 'MDW'): 615,
 ('SFO', 'BWI'): 813,
 ('SFO', 'KOA'): 296,
 ('SFO', 'DTW'): 763,
 ('SFO', 'PHL'): 835,
 ('SFO', 'LIH'): 309,
 ('SFO', 'RDD'): 110,
 ('SFO', 'PAE'): 220,
 ('SFO', 'MSN'): 613,
 ('SFO', 'RNO'): 113,
 ('SFO', 'CLE'): 764,
 ('SFO', 'SMF'): 91,
 ('SFO', 'STS'): 99,
 ('SFO', 'MCI'): 563,
 ('SFO', 'BFL'): 124,
 ('SFO', 'OMA'): 561,
 ('SFO', 'STL'): 604,
 ('SFO', 'ASE'): 347,
 ('SFO', 'OTH'): 185,
 ('SFO', 'PSC'): 213,
 ('SFO', 'MTJ'): 316,
 ('SFO', 'ABQ'): 357,
 ('SFO', 'BZN'): 334,
 ('SFO', 'MIA'): 850,
 ('SFO', 'CVG'): 766,
 ('SFO', 'FCA'): 358,
 ('SFO', 'PIT'): 787,
 ('SFO', 'TPA'): 822,
 ('SFO', 'MSY'): 622,
 ('SFO', 'EGE'): 377,
 ('SFO', 'IND'): 733,
 ('SFO', 'JAC'): 328,
 ('SFO', 'SUN'): 302,
 ('SFO', 'MSO'): 353,
 ('SFO', 'RAP'): 393,
 ('SFO', 'DSM'): 575,
 ('SFO', 'MMH'): 117,
 ('SFO', 'MKE'): 603,
 ('SFO', 'FAI'): 395,
 ('SFO', 'HDN'): 322,
 ('EWR', 'BOS'): 120,
 ('EWR', 'JAX'): 263,
 ('EWR', 'LAX'): 304,
 ('EWR', 'SFO'): 327,
 ('EWR', 'RSW'): 309,
 ('EWR', 'OMA'): 235,
 ('EWR', 'PIT'): 146,
 ('EWR', 'DTW'): 200,
 ('EWR', 'CLT'): 198,
 ('EWR', 'HNL'): 545,
 ('EWR', 'RDU'): 174,
 ('EWR', 'STL'): 179,
 ('EWR', 'EYW'): 357,
 ('EWR', 'SDF'): 243,
 ('EWR', 'MSP'): 215,
 ('EWR', 'AUS'): 301,
 ('EWR', 'SLC'): 330,
 ('EWR', 'SAV'): 231,
 ('EWR', 'ATL'): 240,
 ('EWR', 'PBI'): 286,
 ('EWR', 'ORD'): 156,
 ('EWR', 'MCO'): 281,
 ('EWR', 'GSO'): 178,
 ('EWR', 'ELM'): 125,
 ('EWR', 'CVG'): 219,
 ('EWR', 'TYS'): 221,
 ('EWR', 'SAN'): 296,
 ('EWR', 'IND'): 233,
 ('EWR', 'DEN'): 233,
 ('EWR', 'ORF'): 146,
 ('EWR', 'CHS'): 217,
 ('EWR', 'LEX'): 217,
 ('EWR', 'JAC'): 312,
 ('EWR', 'RIC'): 155,
 ('EWR', 'DFW'): 290,
 ('EWR', 'MCI'): 218,
 ('EWR', 'PWM'): 139,
 ('EWR', 'FLL'): 302,
 ('EWR', 'SEA'): 318,
 ('EWR', 'CMH'): 181,
 ('EWR', 'LAS'): 253,
 ('EWR', 'MSN'): 169,
 ('EWR', 'ALB'): 129,
 ('EWR', 'SJU'): 429,
 ('EWR', 'MHT'): 131,
 ('EWR', 'GRR'): 222,
 ('EWR', 'BNA'): 148,
 ('EWR', 'BWI'): 133,
 ('EWR', 'MIA'): 311,
 ('EWR', 'PHX'): 284,
 ('EWR', 'DCA'): 132,
 ('EWR', 'PVD'): 115,
 ('EWR', 'SNA'): 316,
 ('EWR', 'SJC'): 346,
 ('EWR', 'MDW'): 134,
 ('EWR', 'MKE'): 164,
 ('EWR', 'CLE'): 165,
 ('EWR', 'IAH'): 279,
 ('EWR', 'BGR'): 161,
 ('EWR', 'ROC'): 141,
 ('EWR', 'MYR'): 183,
 ('EWR', 'MSY'): 229,
 ('EWR', 'MEM'): 208,
 ('EWR', 'BUF'): 149,
 ('EWR', 'DAY'): 210,
 ('EWR', 'IAD'): 140,
 ('EWR', 'PSP'): 308,
 ('EWR', 'PDX'): 319,
 ('EWR', 'SAT'): 318,
 ('EWR', 'CAK'): 169,
 ('EWR', 'BTV'): 140,
 ('EWR', 'BDL'): 115,
 ('EWR', 'SYR'): 135,
 ('EWR', 'BZN'): 297,
 ('EWR', 'TPA'): 283,
 ('EWR', 'ACK'): 143,
 ('EWR', 'STT'): 483,
 ('EWR', 'XNA'): 247,
 ('EWR', 'EGE'): 290,
 ('EWR', 'SBN'): 213,
 ('EWR', 'ITH'): 143,
 ('EWR', 'DSM'): 219,
 ('EWR', 'AVP'): 122,
 ('EWR', 'PQI'): 197,
 ('EWR', 'OAK'): 326,
 ('EWR', 'CHA'): 252,
 ('EWR', 'SMF'): 331,
 ('EWR', 'GSP'): 214,
 ('EWR', 'AVL'): 202,
 ('EWR', 'SRQ'): 308,
 ('EWR', 'HHH'): 214,
 ('EWR', 'FWA'): 253,
 ('EWR', 'RAP'): 208,
 ('EWR', 'VPS'): 155,
 ('EWR', 'OKC'): 274,
 ('EWR', 'PNS'): 194,
 ('EWR', 'TVC'): 237,
 ('EWR', 'MTJ'): 271,
 ('EWR', 'HDN'): 284,
 ('EWR', 'ANC'): 392,
 ('BWI', 'CLT'): 159,
 ('BWI', 'SAT'): 277,
 ('BWI', 'MHT'): 137,
 ('BWI', 'MDW'): 103,
 ('BWI', 'TPA'): 242,
 ('BWI', 'DAL'): 230,
 ('BWI', 'BDL'): 118,
 ('BWI', 'LAX'): 276,
 ('BWI', 'LAS'): 226,
 ('BWI', 'ALB'): 125,
 ('BWI', 'ATL'): 192,
 ('BWI', 'MCO'): 232,
 ('BWI', 'DEN'): 200,
 ('BWI', 'MSP'): 168,
 ('BWI', 'SDF'): 177,
 ('BWI', 'IAH'): 233,
 ('BWI', 'BOS'): 146,
 ('BWI', 'OAK'): 302,
 ('BWI', 'PWM'): 149,
 ('BWI', 'PVD'): 124,
 ('BWI', 'AUS'): 261,
 ('BWI', 'RDU'): 116,
 ('BWI', 'GRR'): 172,
 ('BWI', 'STL'): 123,
 ('BWI', 'BNA'): 93,
 ('BWI', 'BHM'): 106,
 ('BWI', 'MIA'): 270,
 ('BWI', 'ORD'): 118,
 ('BWI', 'FLL'): 263,
 ('BWI', 'HOU'): 243,
 ('BWI', 'CHS'): 168,
 ('BWI', 'DTW'): 154,
 ('BWI', 'SMF'): 287,
 ('BWI', 'AVL'): 152,
 ('BWI', 'RSW'): 263,
 ('BWI', 'CLE'): 127,
 ('BWI', 'BUF'): 116,
 ('BWI', 'SLC'): 287,
 ('BWI', 'MSY'): 183,
 ('BWI', 'CMH'): 137,
 ('BWI', 'PIT'): 103,
 ('BWI', 'JAX'): 203,
 ('BWI', 'ABQ'): 226,
 ('BWI', 'SJC'): 301,
 ('BWI', 'MEM'): 145,
 ('BWI', 'DFW'): 241,
 ('BWI', 'ISP'): 108,
 ('BWI', 'SAN'): 259,
 ('BWI', 'PBI'): 254,
 ('BWI', 'PHX'): 244,
 ('BWI', 'MCI'): 176,
 ('BWI', 'SJU'): 446,
 ('BWI', 'SFO'): 293,
 ('BWI', 'MKE'): 110,
 ('BWI', 'ROC'): 123,
 ('BWI', 'CVG'): 163,
 ('BWI', 'PHL'): 95,
 ('BWI', 'EWR'): 127,
 ('BWI', 'IND'): 178,
 ('BWI', 'ORF'): 94,
 ('BWI', 'OKC'): 233,
 ('BWI', 'SEA'): 279,
 ('BWI', 'JFK'): 133,
 ('BWI', 'VPS'): 116,
 ('BWI', 'GSP'): 180,
 ('BWI', 'ECP'): 127,
 ('BWI', 'MYR'): 143,
 ('BWI', 'TYS'): 129,
 ('BWI', 'SAV'): 172,
 ('BWI', 'PDX'): 284,
 ('BWI', 'SRQ'): 236,
 ('BWI', 'TUL'): 190,
 ('LIT', 'IAH'): 153,
 ('LIT', 'ATL'): 250,
 ('LIT', 'DAL'): 110,
 ('LIT', 'CLT'): 307,
 ('LIT', 'DEN'): 144,
 ('LIT', 'DFW'): 130,
 ('LIT', 'ORD'): 198,
 ('LIT', 'STL'): 109,
 ('LIT', 'LAS'): 136,
 ('LIT', 'PHX'): 135,
 ('LIT', 'DTW'): 307,
 ('LIT', 'DCA'): 344,
 ('LIT', 'SFB'): 301,
 ('LIT', 'VPS'): 161,
 ('LIT', 'MCO'): 311,
 ('LIT', 'LAX'): 182,
 ('DCA', 'PIT'): 110,
 ('DCA', 'BOS'): 155,
 ('DCA', 'ORF'): 98,
 ('DCA', 'EWR'): 150,
 ('DCA', 'MSP'): 166,
 ('DCA', 'IND'): 183,
 ('DCA', 'MCI'): 184,
 ('DCA', 'BGR'): 176,
 ('DCA', 'TPA'): 246,
 ('DCA', 'LAS'): 231,
 ('DCA', 'MDW'): 103,
 ('DCA', 'DFW'): 255,
 ('DCA', 'JAX'): 210,
 ('DCA', 'ORD'): 130,
 ('DCA', 'FLL'): 271,
 ('DCA', 'CRW'): 108,
 ('DCA', 'LGA'): 133,
 ('DCA', 'RSW'): 267,
 ('DCA', 'MIA'): 278,
 ('DCA', 'IAH'): 249,
 ('DCA', 'ATL'): 189,
 ('DCA', 'SRQ'): 280,
 ('DCA', 'CLT'): 164,
 ('DCA', 'MHT'): 141,
 ('DCA', 'CAE'): 159,
 ('DCA', 'MCO'): 244,
 ('DCA', 'DAL'): 235,
 ('DCA', 'MGM'): 142,
 ('DCA', 'CHS'): 170,
 ('DCA', 'BNA'): 93,
 ('DCA', 'DSM'): 155,
 ('DCA', 'HOU'): 246,
 ('DCA', 'DEN'): 203,
 ('DCA', 'SDF'): 176,
 ('DCA', 'CLE'): 137,
 ('DCA', 'PHL'): 115,
 ('DCA', 'MEM'): 149,
 ('DCA', 'RDU'): 126,
 ('DCA', 'SLC'): 285,
 ('DCA', 'BDL'): 124,
 ('DCA', 'VPS'): 167,
 ('DCA', 'GSO'): 114,
 ('DCA', 'PNS'): 144,
 ('DCA', 'BHM'): 110,
 ('DCA', 'HPN'): 127,
 ('DCA', 'ALB'): 129,
 ('DCA', 'ROC'): 129,
 ('DCA', 'PVD'): 140,
 ('DCA', 'LAX'): 295,
 ('DCA', 'STL'): 138,
 ('DCA', 'JFK'): 143,
 ('DCA', 'CHA'): 188,
 ('DCA', 'SFO'): 313,
 ('DCA', 'SAV'): 177,
 ('DCA', 'CVG'): 160,
 ('DCA', 'BTV'): 148,
 ('DCA', 'CMH'): 141,
 ('DCA', 'XNA'): 187,
 ('DCA', 'HSV'): 117,
 ('DCA', 'LIT'): 161,
 ('DCA', 'TYS'): 161,
 ('DCA', 'DTW'): 161,
 ('DCA', 'DAY'): 148,
 ('DCA', 'PWM'): 154,
 ('DCA', 'SYR'): 126,
 ('DCA', 'MSY'): 184,
 ('DCA', 'MSN'): 124,
 ('DCA', 'CAK'): 129,
 ('DCA', 'LAN'): 170,
 ('DCA', 'PHX'): 234,
 ('DCA', 'AUS'): 265,
 ('DCA', 'JAN'): 158,
 ('DCA', 'GRR'): 188,
 ('DCA', 'PDX'): 299,
 ('DCA', 'GSP'): 163,
 ('DCA', 'TLH'): 222,
 ('DCA', 'MYR'): 164,
 ('DCA', 'SJU'): 392,
 ('DCA', 'PBI'): 264,
 ('DCA', 'SEA'): 307,
 ('DCA', 'OMA'): 193,
 ('DCA', 'MVY'): 147,
 ('DCA', 'MKE'): 115,
 ('DCA', 'OKC'): 231,
 ('DCA', 'LEX'): 138,
 ('DCA', 'ILM'): 153,
 ('DCA', 'BUF'): 126,
 ('DCA', 'ACK'): 149,
 ('DCA', 'EYW'): 286,
 ('DCA', 'HHH'): 182,
 ('DCA', 'SBN'): 153,
 ('DCA', 'MLB'): 265,
 ('PHL', 'DTW'): 186,
 ('PHL', 'LAS'): 255,
 ('PHL', 'LAX'): 303,
 ('PHL', 'FLL'): 283,
 ('PHL', 'BGR'): 176,
 ('PHL', 'RDU'): 150,
 ('PHL', 'MCO'): 259,
 ('PHL', 'SAV'): 207,
 ('PHL', 'CAE'): 199,
 ('PHL', 'MKE'): 129,
 ('PHL', 'IAH'): 267,
 ('PHL', 'ITH'): 124,
 ('PHL', 'MSP'): 198,
 ('PHL', 'ORD'): 140,
 ('PHL', 'ATL'): 226,
 ('PHL', 'BUF'): 144,
 ('PHL', 'BOS'): 143,
 ('PHL', 'ISP'): 115,
 ('PHL', 'TPA'): 273,
 ('PHL', 'MHT'): 138,
 ('PHL', 'ILM'): 166,
 ('PHL', 'SBY'): 98,
 ('PHL', 'BDL'): 123,
 ('PHL', 'SFO'): 325,
 ('PHL', 'MDW'): 123,
 ('PHL', 'DFW'): 273,
 ('PHL', 'DEN'): 229,
 ('PHL', 'RIC'): 120,
 ('PHL', 'CLT'): 183,
 ('PHL', 'STL'): 152,
 ('PHL', 'PIT'): 138,
 ('PHL', 'ROC'): 132,
 ('PHL', 'SDF'): 218,
 ('PHL', 'ORF'): 114,
 ('PHL', 'CMH'): 174,
 ('PHL', 'PHF'): 114,
 ('PHL', 'PBI'): 265,
 ('PHL', 'CHO'): 133,
 ('PHL', 'JAX'): 235,
 ('PHL', 'CRW'): 134,
 ('PHL', 'AUS'): 294,
 ('PHL', 'CHS'): 199,
 ('PHL', 'MDT'): 94,
 ('PHL', 'CLE'): 169,
 ('PHL', 'MIA'): 295,
 ('PHL', 'MCI'): 206,
 ('PHL', 'GSO'): 165,
 ('PHL', 'IAD'): 99,
 ('PHL', 'MEM'): 181,
 ('PHL', 'MYR'): 166,
 ('PHL', 'BNA'): 123,
 ('PHL', 'CVG'): 189,
 ('PHL', 'AVP'): 101,
 ('PHL', 'ROA'): 154,
 ('PHL', 'PHX'): 269,
 ('PHL', 'RSW'): 295,
 ('PHL', 'LGA'): 104,
 ('PHL', 'SYR'): 124,
 ('PHL', 'DAL'): 262,
 ('PHL', 'PWM'): 156,
 ('PHL', 'OKC'): 245,
 ('PHL', 'IPT'): 109,
 ('PHL', 'DSM'): 204,
 ('PHL', 'SCE'): 107,
 ('PHL', 'SAN'): 275,
 ('PHL', 'BWI'): 103,
 ('PHL', 'SWF'): 123,
 ('PHL', 'LEX'): 198,
 ('PHL', 'DAY'): 170,
 ('PHL', 'ORH'): 124,
 ('PHL', 'ALB'): 130,
 ('PHL', 'ABE'): 81,
 ('PHL', 'BTV'): 146,
 ('PHL', 'STT'): 429,
 ('PHL', 'CHA'): 215,
 ('PHL', 'HVN'): 122,
 ('PHL', 'BHM'): 147,
 ('PHL', 'IND'): 208,
 ('PHL', 'SEA'): 310,
 ('PHL', 'OMA'): 223,
 ('PHL', 'PVD'): 125,
 ('PHL', 'ERI'): 148,
 ('PHL', 'TYS'): 198,
 ('PHL', 'DCA'): 119,
 ('PHL', 'JFK'): 107,
 ('PHL', 'ART'): 145,
 ('PHL', 'CAK'): 140,
 ('PHL', 'MSY'): 211,
 ('PHL', 'SJU'): 446,
 ('PHL', 'SAT'): 308,
 ('PHL', 'GRR'): 210,
 ('PHL', 'HOU'): 280,
 ('PHL', 'MSN'): 136,
 ('PHL', 'SLC'): 316,
 ('PHL', 'GSP'): 182,
 ('PHL', 'PNS'): 165,
 ('PHL', 'FWA'): 195,
 ('PHL', 'PDX'): 300,
 ('PHL', 'XNA'): 216,
 ('PHL', 'AVL'): 194,
 ('PHL', 'SRQ'): 283,
 ('PHL', 'EYW'): 314,
 ('CLE', 'DEN'): 138,
 ('CLE', 'ORD'): 53,
 ('CLE', 'DTW'): 98,
 ('CLE', 'ATL'): 185,
 ('CLE', 'MKE'): 40,
 ('CLE', 'BWI'): 127,
 ('CLE', 'LGA'): 168,
 ('CLE', 'DCA'): 141,
 ('CLE', 'RSW'): 276,
 ('CLE', 'EWR'): 163,

## time_diff 컬럼추가

In [31]:
train_df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay,time_diff
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN,147.576687
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN,263.664723
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN,195.689024
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN,823.909707
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN,126.664234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN,300.917031
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN,115.588785
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN,572.643678
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN,217.780488
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN,284.530387

In [37]:
train_df['time_diff']=np.nan

In [38]:
#train_df에 시간차이의 평균과 거리 평균 컬럼으로 추가
for i in range(len(train_df)):
    if (train_df['Origin_Airport'].iloc[i], train_df['Destination_Airport'].iloc[i]) in time_diff_dict.keys():
        train_df['time_diff'].iloc[i] = time_diff_dict[train_df['Origin_Airport'].iloc[i], train_df['Destination_Airport'].iloc[i]]

In [39]:
train_df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay,time_diff
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN,148.0
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN,264.0
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN,196.0
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN,824.0
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN,301.0
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN,116.0
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN,573.0
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN,218.0
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN,285.0

## 출발,도착예정시간 결측치 채우기

In [40]:
for i in range(len(train_df)):
    #출발시간은 데이터가 존재하고, 도착시간은 존재하지않을 때
    if train_df['Estimated_Departure_Time'].iloc[i].astype(str)!='nan' and train_df['Estimated_Arrival_Time'].iloc[i].astype(str)=='nan': 
        train_df['Estimated_Arrival_Time'].iloc[i] = train_df['Estimated_Departure_Time'].iloc[i] + train_df['time_diff'].iloc[i]
     #출발시간은 존재하지 않고, 도착시간은 존재할때    
    elif train_df['Estimated_Departure_Time'].iloc[i].astype(str)=='nan' and train_df['Estimated_Arrival_Time'].iloc[i].astype(str)!='nan': 
        train_df['Estimated_Departure_Time'].iloc[i] = train_df['Estimated_Arrival_Time'].iloc[i] - train_df['time_diff'].iloc[i]

In [41]:
train_df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay,time_diff
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN,148.0
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN,264.0
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN,196.0
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN,824.0
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN,301.0
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN,116.0
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN,573.0
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN,218.0
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN,285.0

In [42]:
train_df.isna().sum()

ID                               0
Month                            0
Day_of_Month                     0
Estimated_Departure_Time     11943
Estimated_Arrival_Time       11930
Cancelled                        0
Diverted                         0
Origin_Airport                   0
Origin_Airport_ID                0
Origin_State                109015
Destination_Airport              0
Destination_Airport_ID           0
Destination_State           109079
Distance                         0
Airline                     108920
Carrier_Code(IATA)          108990
Carrier_ID(DOT)             108997
Tail_Number                      0
Delay                       744999
time_diff                     2392
dtype: int64

In [54]:
#출발 시간이 음수인 경우 2400 더해주기 
train_df['Estimated_Departure_Time'] = train_df['Estimated_Departure_Time'].apply(lambda x : x + 2400 if x<0 else x)
#도착 시간이 2400이 넘는 경우 2400 빼주기
train_df['Estimated_Arrival_Time'] = train_df['Estimated_Arrival_Time'].apply(lambda x : x -2400 if x >= 2400 else x)

In [55]:
train_df

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay,time_diff
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN,148.0
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,NaN,264.0
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,NaN,196.0
3,TRAIN_000003,7,10,905.0,1735.0,0,0,LAX,12892,California,EWR,11618,New Jersey,2454.0,United Air Lines Inc.,UA,NaN,N595UA,NaN,824.0
4,TRAIN_000004,1,11,900.0,1019.0,0,0,SFO,14771,California,ACV,10157,California,250.0,SkyWest Airlines Inc.,UA,20304.0,N161SY,NaN,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,TRAIN_999995,9,18,936.0,1243.0,0,0,ORD,13930,NaN,PHL,14100,NaN,678.0,United Air Lines Inc.,UA,19977.0,N477UA,NaN,301.0
999996,TRAIN_999996,5,30,920.0,1028.0,0,0,FAR,11637,NaN,MSP,13487,Minnesota,223.0,SkyWest Airlines Inc.,DL,NaN,N439SW,NaN,116.0
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN,573.0
999998,TRAIN_999998,9,27,1613.0,1824.0,0,0,BNA,10693,Tennessee,ATL,10397,NaN,214.0,Delta Air Lines Inc.,DL,19790.0,N968DL,NaN,218.0
999999,TRAIN_999999,3,26,1800.0,2056.0,0,0,RSW,14635,Florida,DTW,11433,Michigan,1084.0,NaN,DL,19790.0,N695DL,NaN,285.0

# Origin_state, Destination_State 결측치 채우기
출발공항, 도착 공항은 결측치가 존재하지 않음.
출발 공항이 같다면 출발 state가 동일하고 도착 공항이 같다면 도착 state가 동일

In [170]:
#출발 공항이 같을 경우 같은 출발 state
train_df['Origin_State'] = train_df.groupby('Origin_Airport')['Origin_State'].ffill().bfill()
#도착 공항이 같은 경우 같은 도착 state
train_df['Destination_State'] = train_df.groupby('Destination_Airport')['Destination_State'].ffill().bfill()

In [175]:
train_df.isna().sum()

ID                               0
Month                            0
Day_of_Month                     0
Estimated_Departure_Time     11943
Estimated_Arrival_Time       11930
Cancelled                        0
Diverted                         0
Origin_Airport                   0
Origin_Airport_ID                0
Origin_State                     0
Destination_Airport              0
Destination_Airport_ID           0
Destination_State                0
Distance                         0
Airline                     108920
Carrier_Code(IATA)          108990
Carrier_ID(DOT)             108997
Tail_Number                      0
Delay                       744999
time_diff                     2392
dtype: int64

순서 : airline > carrier_id > carrier_code > (시간은 채울지 말지) > delay  순으로 self_training

In [ ]:
import numpy as np
import random
import os
import gc

from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [ ]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(42) # Seed 고정

In [ ]:
import matplotlib
#train 데이터 100만개에서 각 ID별 결측치 개수
column = ['결손값 개수']
axis_1 = pd.DataFrame(data = train.isna().sum(axis=1), columns = column)

#결측치 많은 데이터 순으로 정렬
axis_1 = axis_1.sort_values(by = '결손값 개수', ascending = False) 

# 컬럼 별 결측치 개수 많은 순으로 정렬/ 8개의 컬럼 결측치 존재
train.isnull().sum(axis=0)
train_row_NaN = pd.DataFrame(train.isnull().sum(axis=0), columns = column)
train_row_NaN = train_row_NaN.sort_values(by = '결손값 개수', ascending = False)

#결손값 비율 
train_row_su = train.shape[0]
train_row_NaN['결손값_ratio'] = train_row_NaN['결손값 개수']/train_row_su

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

plt.figure(figsize = (16,8))
x = np.arange(len(train_row_NaN.index))
plt.subplot(1, 2, 1)
plt.xticks(x, train_row_NaN.index)
plt.xticks(rotation=90)
plt.legend(handles=[mpatches.Patch(color='orange'),
                    mpatches.Patch(color='red')], 
           labels=['Partial values in columns are NaN', 'All values in columns are NaN'])

def color(data):
    if data == 1:
        return 'red'
    else:
        return 'orange'
plt.bar(x, train_row_NaN['결손값_ratio'], color = [color(i) for i in train_row_NaN['결손값_ratio']])
plt.title('Train data NaN check')

test.isnull().sum(axis=0)
test_row_NaN = pd.DataFrame(test.isnull().sum(axis=0), columns = column)
test_row_NaN = test_row_NaN.sort_values(by = '결손값 개수', ascending = False)
test_row_su = test.shape[0]
test_row_NaN['결손값_ratio'] = test_row_NaN['결손값 개수']/test_row_su

plt.subplot(1, 2, 2)
x2 = np.arange(len(test_row_NaN.index))
plt.xticks(x2, test_row_NaN.index)
plt.xticks(rotation=90)
plt.legend(handles=[mpatches.Patch(color='orange'),
                    mpatches.Patch(color='red')], 
           labels=['Partial values in columns are NaN', 'All values in columns are NaN'])
plt.bar(x2, test_row_NaN['결손값_ratio'], color = [color(i) for i in test_row_NaN['결손값_ratio']])
plt.title('Test data NaN check')

print(train_row_NaN)
print(test_row_NaN)
plt.show()

In [ ]:
# 준지도 학습 전 라벨링
from sklearn.semi_supervised import SelfTrainingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [ ]:
train_lb = train_df.__deepcopy__() #복사
test_lb = test_df.__deepcopy__() #복사 

label_st = train_lb.drop(columns = ['Airline']) #airline 컬럼 삭제

#airline이 결측치가 아니였던 데이터 / 891080 row x 18col
train_st = train_lb[(train_lb['Airline'].astype(str) != 'nan')].drop(columns = ['Airline']) 

#airline이 결측치였던 데이터/ 108920 row x 18 col
X_nan = train_lb[(train_lb['Airline'].astype(str) == 'nan')].drop(columns = ['Airline']) #108920

#test 데이터에서 airline이 결측치였던 데이터.  106527 row x 17 col
test_nan = test_lb[(test_lb['Airline'].astype(str) == 'None')|(test_lb['Airline'].astype(str) == 'nan')].drop(columns = ['Airline'])

# NULL이 없으면서 라벨링이 필요한 열들 정리
qual_col = ['Origin_Airport', 'Origin_State', 'Destination_Airport', 'Destination_State', 'Tail_Number']

for i in qual_col:
    le = LabelEncoder()
    le=le.fit(label_st[i])
    for label in np.unique(test[i].dropna()):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    train_lb[i] = le.transform(train_lb[i])
    train_st[i]=le.transform(train_st[i])
    X_nan[i]=le.transform(X_nan[i])
    test_nan[i]=le.transform(test_nan[i])

In [ ]:
# Airline self_training
original_col = ['Cancelled','Diverted','Origin_Airport','Origin_Airport_ID', 'Origin_State', 'Destination_Airport', 'Destination_Airport_ID', 'Destination_State', 'Tail_Number', 'Month', 'Day_of_Month','Distance']

X = train_st[original_col]
y = train_lb[(train_lb['Airline'].astype(str) != 'nan')][original_col + ['Airline']]['Airline']

stclf = SelfTrainingClassifier(
    base_estimator = RandomForestClassifier(n_estimators = 100),
    verbose = True)

stclf.fit(X, y)

In [ ]:
# 결과값 삽입

X_nan['Airline_pred'] = stclf.predict(X_nan[original_col])
test_nan['Airline_pred'] = stclf.predict(test_nan[original_col])
train_lb.loc[train_lb['Airline'].astype(str) == 'nan', 'Airline'] = X_nan['Airline_pred']
test_lb.loc[test_lb['Airline'].astype(str) == 'nan', 'Airline'] = test_nan['Airline_pred']

In [ ]:
#airline 학습 후 결과 그래프로 
import matplotlib

matplotlib.rcParams['font.family'] = 'NanumBarunGothic'
matplotlib.rcParams['axes.unicode_minus'] = False

column = ['결손값 개수']
axis_1 = pd.DataFrame(data = train.isnull().sum(axis=1), columns = column)
axis_1 = axis_1.sort_values(by = '결손값 개수', ascending = False)

train_lb.isnull().sum(axis=0)
train_row_NaN = pd.DataFrame(train_lb.isnull().sum(axis=0), columns = column)
train_row_NaN = train_row_NaN.sort_values(by = '결손값 개수', ascending = False)
train_row_su = train.shape[0]
train_row_NaN['결손값_ratio'] = train_row_NaN['결손값 개수']/train_row_su

import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

plt.figure(figsize = (16,8))
x = np.arange(len(train_row_NaN.index))
plt.subplot(1, 2, 1)
plt.xticks(x, train_row_NaN.index)
plt.xticks(rotation=90)
plt.legend(handles=[mpatches.Patch(color='orange'),
                    mpatches.Patch(color='red')], 
           labels=['Partial values in columns are NaN', 'All values in columns are NaN'])

def color(data):
    if data == 1:
        return 'red'
    else:
        return 'orange'
plt.bar(x, train_row_NaN['결손값_ratio'], color = [color(i) for i in train_row_NaN['결손값_ratio']])
plt.title('After Self_training Train data NaN check')

test_lb.isnull().sum(axis=0)
test_row_NaN = pd.DataFrame(test_lb.isnull().sum(axis=0), columns = column)
test_row_NaN = test_row_NaN.sort_values(by = '결손값 개수', ascending = False)
test_row_su = test.shape[0]
test_row_NaN['결손값_ratio'] = test_row_NaN['결손값 개수']/test_row_su

plt.subplot(1, 2, 2)
x2 = np.arange(len(test_row_NaN.index))
plt.xticks(x2, test_row_NaN.index)
plt.xticks(rotation=90)
plt.legend(handles=[mpatches.Patch(color='orange'),
                    mpatches.Patch(color='red')], 
           labels=['Partial values in columns are NaN', 'All values in columns are NaN'])
plt.bar(x2, test_row_NaN['결손값_ratio'], color = [color(i) for i in test_row_NaN['결손값_ratio']])
plt.title('After Self_training Test data NaN check')

print(train_row_NaN)
print(test_row_NaN)
plt.show()

'Carrier_ID(DOT)'

In [ ]:
# 준지도 학습 전 라벨링
from sklearn.semi_supervised import SelfTrainingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

label_st = train_lb.drop(columns = ['Carrier_ID(DOT)'])
train_st = train_lb[(train_lb['Carrier_ID(DOT)'].astype(str) != 'nan')].drop(columns = ['Carrier_ID(DOT)'])
X_nan = train_lb[(train_lb['Carrier_ID(DOT)'].astype(str) == 'nan')].drop(columns = ['Carrier_ID(DOT)'])
test_nan = test_lb[(test_lb['Carrier_ID(DOT)'].astype(str) == 'None')|(test_lb['Carrier_ID(DOT)'].astype(str) == 'nan')].drop(columns = ['Carrier_ID(DOT)'])

#NULL이 없으면서 라벨링이 필요한 열들 정리
qual_col = ['Origin_Airport', 'Origin_State', 'Destination_Airport', 'Destination_State', 'Tail_Number']

for i in qual_col:
    le = LabelEncoder()
    le=le.fit(label_st[i])
    for label in np.unique(test[i].dropna()):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    train_lb[i] = le.transform(train_lb[i])
    train_st[i]=le.transform(train_st[i])
    X_nan[i]=le.transform(X_nan[i])
    test_nan[i]=le.transform(test_nan[i])

In [ ]:
# carrier_id(dot) self_training
original_col = ['Cancelled','Diverted','Origin_Airport','Origin_Airport_ID', 'Origin_State', 'Destination_Airport', 'Destination_Airport_ID', 'Destination_State', 'Tail_Number', 'Month', 'Day_of_Month','Distance']

X = train_st[original_col]
y = train_lb[(train_lb['Carrier_ID(DOT)'].astype(str) != 'nan')][original_col + ['Carrier_ID(DOT)']]['Carrier_ID(DOT)']

stclf = SelfTrainingClassifier(
    base_estimator = RandomForestClassifier(n_estimators = 100),
    verbose = True)

stclf.fit(X, y)

In [ ]:
# 결과값 삽입

X_nan['Carrier_ID(DOT)_pred'] = stclf.predict(X_nan[original_col])
test_nan['Carrier_ID(DOT)_pred'] = stclf.predict(test_nan[original_col])
# train_lb.loc[train_lb['Carrier_ID(DOT)'].astype(str) == 'nan', 'Carrier_ID(DOT)'] = X_nan['Carrier_ID(DOT)_pred']
# test_lb.loc[test_lb['Carrier_ID(DOT)'].astype(str) == 'nan', 'Carrier_ID(DOT)'] = test_nan['Carrier_ID(DOT)_pred']

'Carrier_Code(IATA)'

In [ ]:
# 준지도 학습 전 라벨링
from sklearn.semi_supervised import SelfTrainingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

label_st = train_lb.drop(columns = ['Carrier_ID(IATA)'])
train_st = train_lb[(train_lb['Carrier_ID(IATA)'].astype(str) != 'nan')].drop(columns = ['Carrier_ID(IATA)'])
X_nan = train_lb[(train_lb['Carrier_ID(IATA)'].astype(str) == 'nan')].drop(columns = ['Carrier_ID(IATA)'])
test_nan = test_lb[(test_lb['Carrier_ID(IATA)'].astype(str) == 'None')|(test_lb['Carrier_ID(IATA)'].astype(str) == 'nan')].drop(columns = ['Carrier_ID(IATA)'])

# NULL이 없으면서 라벨링이 필요한 열들 정리
qual_col = ['Origin_Airport', 'Origin_State', 'Destination_Airport', 'Destination_State', 'Tail_Number']

for i in qual_col:
    le = LabelEncoder()
    le=le.fit(label_st[i])
    for label in np.unique(test[i].dropna()):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    train_lb[i] = le.transform(train_lb[i])
    train_st[i]=le.transform(train_st[i])
    X_nan[i]=le.transform(X_nan[i])
    test_nan[i]=le.transform(test_nan[i])

In [ ]:
#Carrier_ID(IATA) self-training
original_col = ['Cancelled','Diverted','Origin_Airport','Origin_Airport_ID', 'Origin_State', 'Destination_Airport', 'Destination_Airport_ID', 'Destination_State', 'Tail_Number', 'Month', 'Day_of_Month','Distance']

X = train_st[original_col]
y = train_lb[(train_lb['Carrier_ID(IATA)'].astype(str) != 'nan')][original_col + ['Carrier_ID(IATA)']]['Carrier_ID(IATA)']

stclf = SelfTrainingClassifier(
    base_estimator = RandomForestClassifier(n_estimators = 100),
    verbose = True)

stclf.fit(X, y)

In [ ]:
# 결과값 삽입

X_nan['Carrier_ID(IATA)_pred'] = stclf.predict(X_nan[original_col])
test_nan['Carrier_ID(IATA)_pred'] = stclf.predict(test_nan[original_col])
train_lb.loc[train_lb['Carrier_ID(IATA)'].astype(str) == 'nan', 'Carrier_ID(IATA)'] = X_nan['Carrier_ID(IATA)_pred']
test_lb.loc[test_lb['Carrier_ID(IATA)'].astype(str) == 'nan', 'Carrier_ID(IATA)'] = test_nan['Carrier_ID(IATA)_pred']

'Delay' self_training 하기 전에 시간 결측치 삭제 or 시간 self_training

In [ ]:
# 준지도 학습 전 라벨링
from sklearn.semi_supervised import SelfTrainingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

label_st = train_lb.drop(columns = ['Delay'])
train_st = train_lb[(train_lb['Delay'].astype(str) != 'nan')].drop(columns = ['Delay'])
X_nan = train_lb[(train_lb['Delay'].astype(str) == 'nan')].drop(columns = ['Delay'])
test_nan = test_lb[(test_lb['Delay'].astype(str) == 'None')|(test_lb['Delay'].astype(str) == 'nan')].drop(columns = ['Delay'])

# NULL이 없으면서 라벨링이 필요한 열들 정리
qual_col = ['Origin_Airport', 'Origin_State', 'Destination_Airport', 'Destination_State', 'Tail_Number']

for i in qual_col:
    le = LabelEncoder()
    le=le.fit(label_st[i])
    for label in np.unique(test[i].dropna()):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    train_lb[i] = le.transform(train_lb[i])
    train_st[i]=le.transform(train_st[i])
    X_nan[i]=le.transform(X_nan[i])
    test_nan[i]=le.transform(test_nan[i])

In [ ]:
#Delay self-training
original_col = ['Cancelled','Diverted','Origin_Airport','Origin_Airport_ID', 'Origin_State', 'Destination_Airport', 'Destination_Airport_ID', 'Destination_State', 'Tail_Number', 'Month', 'Day_of_Month','Distance']

X = train_st[original_col]
y = train_lb[(train_lb['Delay'].astype(str) != 'nan')][original_col + ['Delay']]['Delay']

stclf = SelfTrainingClassifier(
    base_estimator = RandomForestClassifier(n_estimators = 100),
    verbose = True)

stclf.fit(X, y)

In [ ]:
# 결과값 삽입

X_nan['Delay_pred'] = stclf.predict(X_nan[original_col])
test_nan['Delay_pred'] = stclf.predict(test_nan[original_col])
train_lb.loc[train_lb['Delay'].astype(str) == 'nan', 'Delay'] = X_nan['Delay_pred']
test_lb.loc[test_lb['Delay'].astype(str) == 'nan', 'Delay'] = test_nan['Delay_pred']

delay까지 self_training완료 후 autogluon으로 ~